# Ciencia de datos (CC408) - Primavera 2024

## Trabajo Práctico 3

### Parte I: Limpieza de la base

In [ ]:
!pip install openpyxl

In [1]:
# Importamos las librerías a usar

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
## 0. LECTURA DEL DOCUMENTO
df2024 = pd.read_excel('C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/usu_individual_T124.xlsx')
df2004 = pd.read_stata ('C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/Individual_t104.dta')

#Dirección de Maggie: "C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 3"
#Dirección de Peter: "C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/usu_individual_T124.xlsx"

In [283]:
df_2024_GB = df2024[(df2024['AGLOMERADO'] == 33) | (df2024['AGLOMERADO'] == 32)]
df_2004_GB = df2004[(df2004['aglomerado'] == 'Ciudad de Buenos Aires') | (df2004 ['aglomerado'] == 'Partidos del GBA' )]

df_2004_GB.columns = df_2004_GB.columns.str.upper()
df_2024_GB['IPCF'] =df_2024_GB['IPCF'].astype(int)
#df_2024_GB['AGLOMERADO'].unique()
#df_2004_GB['aglomerado'].unique()

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3212184527.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024_GB['IPCF'] =df_2024_GB['IPCF'].astype(int)

In [261]:
#diccionarios de cambio
# El diccionario de la base de datos está un poco mal hecho, con diferencia a como se guardan los datos. que malditos
h04 = {
    "Varón": 1,
    "Mujer": 2
}

#Esto no aparece
h06 = {
    'Menos de 1 año': 0,
    '98 y más años': 98
}

#esto aparece con signos de pregunta
h07 = {
    "Unido": 1,
    "Casado": 2,
    "Separado o divorciado": 3,
    "Viudo": 4,
    "Soltero": 5
}

#Esto con mayusculas incosistentes
h08 =    {
    'Obra social (incluye PAMI)': 1,
    'Mutual/Prepaga/Servicio de emergencia': 2,
    'Planes y seguros públicos': 3,
    'No paga ni le descuentan': 4,
    'Ns./Nr.': 9,
    'Obra social y mutual/prepaga/servicio de emergencia': 12,
    'Obra social y planes y seguros públicos': 13,
    'Mutual/prepaga/servicio de emergencia/planes y seguros públi': 23,
    'Obra social, mutual/prepaga/servicio de emergencia y planes': 123
}

# 'Secundario incompleto' y en los datos aparece como 'Secuandaria incompleta', así con todo
nivel_ed= {
    'Primaria Incompleta (incluye educación especial)': 1,
    'Primaria Completa': 2,
    'Secundaria Incompleta': 3,
    'Secundaria Completa': 4,
    'Superior Universitaria Incompleta': 5,
    'Superior Universitaria Completa': 6,
    'Sin instrucción': 7,
    'Ns/Nr': 9
}

estado = {
    'Entrevista individual no realizada (no respuesta al cuestion': 0,
    'Ocupado': 1,
    'Desocupado': 2,
    'Inactivo': 3,
    'Menor de 10 años': 4
}

cat_inac = {
    'Jubilado/pensionado': 1,
    'Rentista': 2,
    'Estudiante': 3,
    'Ama de casa': 4,
    'Menor de 6 años': 5,
    'Discapacitado': 6,
    'Otros': 7
}

In [262]:
df_2004_GB.loc[:,'CAT_INAC'] = df_2004_GB ['CAT_INAC'].replace(cat_inac).astype(int) # Tiene 0 a eliminar
df_2004_GB.loc[:,'CH04'] = df_2004_GB ['CH04'].map(h04).astype(int)
df_2004_GB.loc[:,'CH06'] = df_2004_GB ['CH06'].replace(h06).astype(int)
df_2004_GB.loc[:,'CH07'] = df_2004_GB ['CH07'].map(h07).astype(int)
df_2004_GB.loc[:,'CH08'] = df_2004_GB ['CH08'].map(h08).astype(int)
df_2004_GB.loc[:,'NIVEL_ED'] = df_2004_GB ['NIVEL_ED'].replace(nivel_ed).astype(int)
df_2004_GB.loc[:,'ESTADO'] = df_2004_GB ['ESTADO'].map(estado).astype(int)
df_2004_GB['IPCF'] =df_2004_GB['IPCF'].astype(int)

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2004_GB.loc[:,'CAT_INAC'] = df_2004_GB ['CAT_INAC'].replace(cat_inac).astype(int) # Tiene 0 a eliminar
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_2004_GB.loc[:,'CAT_INAC'] = df_2004_GB ['CAT_INAC'].replace(cat_inac).astype(int) # Tiene 0 a eliminar
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 0 1 ... 0 3 0]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'CAT_INAC'] = df_2004_GB ['CAT_INAC'].replace(cat_inac).astype(int) # Tiene 0 a eliminar
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 2 2 ... 2 2 1]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'CH04'] = df_2004_GB ['CH04'].map(h04).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2004_GB.loc[:,'CH06'] = df_2004_GB ['CH06'].replace(h06).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_2004_GB.loc[:,'CH06'] = df_2004_GB ['CH06'].replace(h06).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[79 67 74 ... 55 12 22]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'CH06'] = df_2004_GB ['CH06'].replace(h06).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[4 3 4 ... 2 5 5]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'CH07'] = df_2004_GB ['CH07'].map(h07).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 4 1 ... 1 1 1]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'CH08'] = df_2004_GB ['CH08'].map(h08).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_2004_GB.loc[:,'NIVEL_ED'] = df_2004_GB ['NIVEL_ED'].replace(nivel_ed).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:6: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_2004_GB.loc[:,'NIVEL_ED'] = df_2004_GB ['NIVEL_ED'].replace(nivel_ed).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 2 2 ... 2 1 4]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'NIVEL_ED'] = df_2004_GB ['NIVEL_ED'].replace(nivel_ed).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3 1 3 ... 1 3 1]' has dtype incompatible with category, please explicitly cast to a compatible dtype first.
  df_2004_GB.loc[:,'ESTADO'] = df_2004_GB ['ESTADO'].map(estado).astype(int)
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_692\3832139500.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004_GB['IPCF'] =df_2004_GB['IPCF'].astype(int)

In [ ]:
lista_valores_matriz = ['CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF']
for i in lista_valores_matriz:
    print(df_2004_GB[i].unique())

In [286]:
valores_validos = {
    'CH04': [1,2],
    'CH07': [1,2,3,4,5],
    'CH08': [1,2,3,4,9,12,13,23,123],
    'NIVEL_ED': [1,2,3,4,5,6,7,8,9],
    'ESTADO': [0,1,2,3,4],
    'CAT_INAC': [1,2,3,4,5,6,7]
}

for col in valores_validos.keys():
    df_2024_GB = df_2024_GB[df_2024_GB[col].isin(valores_validos[col])]

CH04
CH07
CH08
NIVEL_ED
ESTADO
CAT_INAC

In [288]:
lista_valores_matriz = ['CH04',  'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC'] #'CH06' Y 'IPCF' quedan excluidos porque tiene condiciones de min y max
for i in lista_valores_matriz:
    datos = df_2024_GB[i].unique()
    print ('los valores de ', i, 'son:', datos)

# CH04 BIEN
# CH06 MAL: TIENE -1
# CH07 MAL: TIENE 9 
#

los valores de  CH04 son: [2 1]
los valores de  CH07 son: [4 5 2 3 1]
los valores de  CH08 son: [ 1  4 12  2  9 23 13  3]
los valores de  NIVEL_ED son: [1 7 3 4 2 5 6]
los valores de  ESTADO son: [3 4]
los valores de  CAT_INAC son: [1 3 5 4 7 6 2]

### Parte II: Visualizaciones

In [4]:
df.describe()

,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,AGLOMERADO,PONDERA,CH03,CH04,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
count,46050.0,46050.0,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,...,24408.000000,46050.000000,4.605000e+04,46050.000000,38999.000000,46050.000000,21642.000000,24408.000000,46050.000000,46050.000000
mean,2024.0,1.0,1.032291,2.443800,0.881064,35.748643,23.351878,642.632226,2.440521,1.519783,...,7.078622,7.289642,1.582646e+05,6.329685,6.147953,6.482193,6.702985,6.214807,6.507579,642.630163
std,0.0,0.0,0.595811,1.568761,0.329106,14.834231,18.098053,857.704530,1.588628,0.499614,...,3.467613,3.621326,2.365508e+05,3.952064,3.857082,3.927003,4.100663,3.774489,3.930402,1304.605865
min,2024.0,1.0,1.000000,1.000000,0.000000,1.000000,2.000000,25.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2024.0,1.0,1.000000,1.000000,1.000000,40.000000,10.000000,174.000000,1.000000,1.000000,...,4.000000,4.000000,2.219980e+04,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,73.000000
50%,2024.0,1.0,1.000000,2.000000,1.000000,42.000000,22.000000,320.000000,2.000000,2.000000,...,7.000000,7.000000,1.101111e+05,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,250.000000
75%,2024.0,1.0,1.000000,3.000000,1.000000,43.000000,32.000000,653.000000,3.000000,2.000000,...,10.000000,10.000000,2.070000e+05,10.000000,9.000000,10.000000,12.000000,9.000000,10.000000,566.000000
max,2024.0,1.0,51.000000,13.000000,2.000000,44.000000,93.000000,8685.000000,10.000000,2.000000,...,12.000000,12.000000,1.131233e+07,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,21006.000000

In [ ]:
# #COMPOSICIÓN POR SEXO PARA 2004 Y 2024
# #CH04: Sexo. 1=Varón, 2=Mujer
# #ANO4: Año (2004, 2024)

# # set width of bar 
# barWidth = 0.25
# fig = plt.subplots(figsize =(12, 8)) 

# # set height of bar 
# IT = [12, 30, 1, 8, 22] 
# ECE = [28, 6, 16, 5, 10] 
# CSE = [29, 3, 24, 25, 17] 

# # Set position of bar on X axis 
# br1 = np.arange(len(IT)) 
# br2 = [x + barWidth for x in br1] 
# br3 = [x + barWidth for x in br2] 

# # Make the plot
# plt.bar(br1, IT, color ='r', width = barWidth, 
#         edgecolor ='grey', label ='IT') 
# plt.bar(br2, ECE, color ='g', width = barWidth, 
#         edgecolor ='grey', label ='ECE') 
# plt.bar(br3, CSE, color ='b', width = barWidth, 
#         edgecolor ='grey', label ='CSE') 

# # Adding Xticks 
# plt.xlabel('Branch', fontweight ='bold', fontsize = 15) 
# plt.ylabel('Students passed', fontweight ='bold', fontsize = 15) 
# plt.xticks([r + barWidth for r in range(len(IT))], 
#         ['2015', '2016', '2017', '2018', '2019'])

# plt.legend()
# plt.show()

In [ ]:
# #MATRIZ DE CORRELACIÓN
# df = pd.DataFrame(
#     {
#         "Day 1": [7, 1, 5, 6, 3, 10, 5, 8],
#         "Day 2": [1, 2, 8, 4, 3, 9, 5, 2],
#         "Day 3": [4, 6, 5, 8, 6, 1, 2, 3],
#         "Day 4": [5, 8, 9, 5, 1, 7, 8, 9],
#     }
# )

# upp_mat = np.triu(df.corr())

# sns.heatmap(df.corr(), vmin=-1, vmax=+1, annot=True, cmap="coolwarm", mask=upp_mat)

In [ ]:
#COUNT: DESOCUPADOS, INACTIVOS, OCUPADOS

In [ ]:
#INGRESO PER CÁPITA FAMILIAR SEGÚN ESTADO (OCUPADO, DESOCUPADO, INACTIVO)