# Ciencia de datos (CC408) - Primavera 2024

## Trabajo Práctico 3

### Parte I: Limpieza de la base

In [ ]:
!pip install openpyxl

In [1]:
# Importamos las librerías a usar

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
## 0. LECTURA DEL DOCUMENTO
df2024 = pd.read_excel('C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/usu_individual_T124.xlsx')
df2004 = pd.read_stata ('C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/Individual_t104.dta')

#Dirección de Maggie: "C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 3"
#Dirección de Peter: "C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 3/usu_individual_T124.xlsx"

In [3]:
df_2024_GB = df2024[(df2024['AGLOMERADO'] == 33) | (df2024['AGLOMERADO'] == 32)]
df_2004_GB = df2004[(df2004['aglomerado'] == 'Ciudad de Buenos Aires') | (df2004 ['aglomerado'] == 'Partidos del GBA' )]
#df_2024_GB['AGLOMERADO'].unique()
df_2004_GB['aglomerado'].unique()

['Ciudad de Buenos Aires', 'Partidos del GBA']
Categories (29, object): ['Gran La Plata' < 'Bahía Blanca - Cerri' < 'Gran Rosario' < 'Gran Santa Fe' ... 'Ciudad de Buenos Aires' < 'Partidos del GBA' < 'Mar del Plata - Batán' < 'Río Cuarto']

In [ ]:
lista_columnas_2024 = df_2024_GB.columns.tolist()
lista_columnas_2004 = df_2004_GB.columns.tolist()
print (lista_columnas_2004)
print (lista_columnas_2024)

#columnas_tabla_1 = ['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp']
#columnas_tabla_2 = ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']

# Crear un diccionario de nombres a reemplazar
cambios_nombres = {}
for col1 in columnas_tabla_1:
    for col2 in columnas_tabla_2:
        # Compara ignorando mayúsculas y guiones bajos
        if col1.upper().replace('_', '') == col2.upper().replace('_', ''):
            cambios_nombres[col1] = col2
            break

# Crear un DataFrame de ejemplo y renombrar las columnas
df_tabla_1 = pd.DataFrame(columns=columnas_tabla_1)
df_tabla_1.rename(columns=cambios_nombres, inplace=True)

print("Nombres de columnas después del cambio:")
print(df_tabla_1.columns)

# CH04, CH06, CH07, CH08, NIVEL ED, ESTADO, CAT_INAC, IPCF.

value1 =df2004 [df2004['estado'] == 'Inactivo']['estado'].count()
#'Entrevista individual no realizada (no respuesta al Cuestionario individual)'
value2 = df2004 [df2004['estado'] == 'Ocupado']['estado'].count()
value3 = df2004 [df2004['estado'] == 'Menor de 10 años']['estado'].count()

print (value1)
print (value2)
print (value3)
print (len(df2004))
print ('cant de estado 0 es:', len(df2004) - value1 - value2 - value3)

### Parte II: Visualizaciones

In [4]:
df.describe()

,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,AGLOMERADO,PONDERA,CH03,CH04,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
count,46050.0,46050.0,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,46050.000000,...,24408.000000,46050.000000,4.605000e+04,46050.000000,38999.000000,46050.000000,21642.000000,24408.000000,46050.000000,46050.000000
mean,2024.0,1.0,1.032291,2.443800,0.881064,35.748643,23.351878,642.632226,2.440521,1.519783,...,7.078622,7.289642,1.582646e+05,6.329685,6.147953,6.482193,6.702985,6.214807,6.507579,642.630163
std,0.0,0.0,0.595811,1.568761,0.329106,14.834231,18.098053,857.704530,1.588628,0.499614,...,3.467613,3.621326,2.365508e+05,3.952064,3.857082,3.927003,4.100663,3.774489,3.930402,1304.605865
min,2024.0,1.0,1.000000,1.000000,0.000000,1.000000,2.000000,25.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2024.0,1.0,1.000000,1.000000,1.000000,40.000000,10.000000,174.000000,1.000000,1.000000,...,4.000000,4.000000,2.219980e+04,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,73.000000
50%,2024.0,1.0,1.000000,2.000000,1.000000,42.000000,22.000000,320.000000,2.000000,2.000000,...,7.000000,7.000000,1.101111e+05,6.000000,5.000000,6.000000,6.000000,6.000000,6.000000,250.000000
75%,2024.0,1.0,1.000000,3.000000,1.000000,43.000000,32.000000,653.000000,3.000000,2.000000,...,10.000000,10.000000,2.070000e+05,10.000000,9.000000,10.000000,12.000000,9.000000,10.000000,566.000000
max,2024.0,1.0,51.000000,13.000000,2.000000,44.000000,93.000000,8685.000000,10.000000,2.000000,...,12.000000,12.000000,1.131233e+07,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,21006.000000

In [ ]:
# #COMPOSICIÓN POR SEXO PARA 2004 Y 2024
# #CH04: Sexo. 1=Varón, 2=Mujer
# #ANO4: Año (2004, 2024)

# # set width of bar 
# barWidth = 0.25
# fig = plt.subplots(figsize =(12, 8)) 

# # set height of bar 
# IT = [12, 30, 1, 8, 22] 
# ECE = [28, 6, 16, 5, 10] 
# CSE = [29, 3, 24, 25, 17] 

# # Set position of bar on X axis 
# br1 = np.arange(len(IT)) 
# br2 = [x + barWidth for x in br1] 
# br3 = [x + barWidth for x in br2] 

# # Make the plot
# plt.bar(br1, IT, color ='r', width = barWidth, 
#         edgecolor ='grey', label ='IT') 
# plt.bar(br2, ECE, color ='g', width = barWidth, 
#         edgecolor ='grey', label ='ECE') 
# plt.bar(br3, CSE, color ='b', width = barWidth, 
#         edgecolor ='grey', label ='CSE') 

# # Adding Xticks 
# plt.xlabel('Branch', fontweight ='bold', fontsize = 15) 
# plt.ylabel('Students passed', fontweight ='bold', fontsize = 15) 
# plt.xticks([r + barWidth for r in range(len(IT))], 
#         ['2015', '2016', '2017', '2018', '2019'])

# plt.legend()
# plt.show()

In [ ]:
# #MATRIZ DE CORRELACIÓN
# df = pd.DataFrame(
#     {
#         "Day 1": [7, 1, 5, 6, 3, 10, 5, 8],
#         "Day 2": [1, 2, 8, 4, 3, 9, 5, 2],
#         "Day 3": [4, 6, 5, 8, 6, 1, 2, 3],
#         "Day 4": [5, 8, 9, 5, 1, 7, 8, 9],
#     }
# )

# upp_mat = np.triu(df.corr())

# sns.heatmap(df.corr(), vmin=-1, vmax=+1, annot=True, cmap="coolwarm", mask=upp_mat)

In [ ]:
#COUNT: DESOCUPADOS, INACTIVOS, OCUPADOS

In [ ]:
#INGRESO PER CÁPITA FAMILIAR SEGÚN ESTADO (OCUPADO, DESOCUPADO, INACTIVO)