#### Ciencia de datos - Primavera 2024
##### Integrantes: Magdalena Cobb, Pedro García Vassallo, Marcos Olavarría
### Trabajo Práctico 4

# 1. LECTURA

In [1]:
#Paquetes y librerías a usar
#!pip install openpyxl
#!pip install statsmodels

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score 
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import RocCurveDisplay
#from sklearn.metrics import plot_roc_curve
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#Lectura del documento
indi_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_individual_T124.xlsx') 
indi_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Individual_t104.dta')
hoga_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_hogar_T124.xlsx')
hoga_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Hogar_t104.dta')

# Maggie: C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/
# Peter: 'C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 4/
# Marck: C:/Users/marcos.olavarria/Documents/GitHub/CC408/TP 4/

# 2. Selección de GBA y merge

a. Eliminen todas las observaciones que no corresponden a los
aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos
Aires, y unan ambos trimestres en una sola base.

In [3]:
#Filtramos las bases para tener solo Buenos Aires
ind_2024 = indi_2024[(indi_2024['AGLOMERADO'] == 33) | (indi_2024['AGLOMERADO'] == 32)]
hog_2024 = hoga_2024[(hoga_2024['AGLOMERADO'] == 33) | (hoga_2024 ['AGLOMERADO'] == 32 )]

ind_2004 = indi_2004[(indi_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (indi_2004 ['aglomerado'] == 'Partidos del GBA' )]
hog_2004 = hoga_2004[(hoga_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (hoga_2004 ['aglomerado'] == 'Partidos del GBA' )]

ind_2004.columns = ind_2004.columns.str.upper()
hog_2004.columns = hog_2004.columns.str.upper()

In [4]:
#Eliminación de columnas redundantes (preguntas hechas solo para ocupados o desocupados)
redundantes_ind04 = [
    "CAT_INAC",
    "PP08D1", "PP08D4", "PP08F1", "PP08F2", "PP08J1", "PP08J2", "PP08J3",
    "PP11A", "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", "PP11C99", "PP11D_COD",
    "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1", "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", 
    "PP11S", "PP11T", "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8", "PP02E", 
    "PP02H", "PP02I", "CAT_OCUP", "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J", 
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO", "PP04B3_DIA", "PP04C", 
    "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA", "PP05C_1", "PP05C_2", "PP05C_3", 
    "PP05E", "PP05F", "PP05H", "PP06A", "PP06C", "PP06E", "PP06H", "PP06D", "PP07A", "PP07C", "PP07D", "PP07E", "PP07F1", "PP07F2", 
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59", "PP07H", "PP07I", "PP07J", 
    "PP07K", "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR", "TOT_P12", "PJ1_1", 
    "PJ2_1", "PJ3_1", "IDIMPP", 'PP09A', 'PP09A_ESP',  'PP09B', 'PP09C',  'PP09C_ESP',  'PP10A','PP10C',  'PP10D', 'PP10E']

redundantes_hog04 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1", 
    'IDIMPH'
]

redundantes_ind24 = [
    "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8",
    "PP02E", "PP02H", "PP02I", "PP10A", "PP10C", "PP10D", "PP10E", "PP11A",
    "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", 
    "PP11C99", "PP11D_COD", "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1",
    "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", "PP11S", "PP11T",
    "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J",
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO",
    "PP04C", "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA", 'PP04B3_DIA',
    "PP05C_1", "PP05C_2", "PP05C_3", "PP05E", "PP05F", "PP05H", "PP06A", "PP06C",
    "PP06D", "PP06E", "PP06H", "PP07A", "PP07C", "PP07D", "PP07E", "PP07F1", "PP07F2",
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59",
    "PP07H", "PP07I", "PP07J", "PP07K", "PP08D1", "PP08D4", "PP08F1", "PP08F2", 
    "PP08J1", "PP08J2", "PP08J3", "PP09A", "PP09A_ESP", "PP09B", "PP09C", "PP09C_ESP",
    "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR",
    "PONDIIO", "TOT_P12", "P47T", "DECINDR", "IDECINDR", "RDECINDR", "GDECINDR", 
    "PDECINDR", "ADECINDR", "PONDII",  'PP10A',  'PP10C', 'PP10D',  'PP10E'
]

redundantes_hog24 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1", 

]

In [5]:
#Sacamos las variables redundantes
ind_2004 = ind_2004.drop(columns = redundantes_ind04)
ind_2024 = ind_2024.drop(columns = redundantes_ind24)
hog_2004 = hog_2004.drop(columns = redundantes_hog04)
hog_2024 = hog_2024.drop(columns = redundantes_hog24)

In [6]:
#Sacamos de las bases individuales variables que van a aparecer en hogar, para emprolijar el merge
lista_con = ['ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 
             'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR','PDECCFR', 'ADECCFR']

lista_con2 = ['ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR',
              'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'ADECCFR','PDECCFR' ,'PONDIH']

ind_2004 = ind_2004.drop (columns = (lista_con))
ind_2024 = ind_2024.drop(columns = (lista_con2))

In [7]:
#Mergeamos bases hogar + individual para cada año
combined_04 = pd.merge(ind_2004, hog_2004, on=['CODUSU', 'NRO_HOGAR'], how='outer') #7647 obs x 124 variables
combined_24 = pd.merge(ind_2024,hog_2024,on=["CODUSU","NRO_HOGAR"], how = 'outer') #7051 obs x 120 variables

# 2. Limpieza
Limpien la base de datos tomando criterios que hagan sentido. Explicar
cualquier decisión como el tratamiento de valores faltantes (missing
values), extremos (outliers), o variables categóricas. Justifique sus
decisiones.

In [73]:
# Se usa base de datos:
# 2024: 
# - combined_24

# 2004:
# - combined_04

##### Limpieza de datos

In [428]:
# Limpieza de datos tomando criterios que hagan sentido
# print(combined_24.describe())

In [429]:
# # Verificar si cada columna tiene algún valor negativo 2024
# negativos = (combined_24.select_dtypes(include=[float, int]) < 0).any()

# # Filtrar las columnas que contienen valores negativos (solo mostrar las que son True)
# columnas_con_negativos = negativos[negativos]  # Esto te devuelve solo las columnas que son True

# print(columnas_con_negativos)

In [8]:
#Eliminamos valores negativos de la base 2024
# Verificar si cada columna tiene algún valor negativo
# negativos = (combined_24.select_dtypes(include=[float, int]) < 0).any()

# Filtrar las filas que contienen valores negativos (eliminar las filas con cualquier valor negativo)
combined_24_clean = combined_24[~(combined_24.select_dtypes(include=[float, int]) < 0).any(axis=1)]

# # Mostrar el DataFrame limpio
# print(combined_24_clean)

combined_24 = combined_24_clean
combined_24 #elimina 397 observaciones

,CODUSU,NRO_HOGAR,COMPONENTE,H15,CH03,CH04,CH05,CH06,CH07,CH08,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
1,TQRMNOPPQHJNOPCDEIJAH00802435,1,2,1,2,2,1971-08-17 00:00:00,52,2,1,...,12.0,NaN,12,0,2,0,98,0,0,0
2,TQRMNOPPQHJNOPCDEIJAH00802435,1,4,1,3,1,2002-01-04 00:00:00,22,5,1,...,12.0,NaN,12,0,2,0,98,0,0,0
3,TQRMNOPPQHKKMMCDEIIAD00858017,1,1,1,1,2,1971-05-09 00:00:00,52,5,2,...,12.0,NaN,12,0,1,0,98,0,0,0
4,TQRMNOPPQHKMQUCDEIJAH00861670,1,1,1,1,2,1948-07-24 00:00:00,75,4,1,...,8.0,NaN,8,3263,1,0,98,0,0,0
5,TQRMNOPPRHJNOPCDEIJAH00793617,1,1,1,1,2,1982-09-28 00:00:00,41,1,4,...,4.0,NaN,4,3206,1,0,98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQUMNOQSVHMOTSCDEIJAH00859221,1,1,1,1,2,1962-08-07 00:00:00,61,2,1,...,8.0,NaN,9,1834,1,0,98,0,0,0
7047,TQUMNOQSVHMOTSCDEIJAH00859221,1,2,1,2,1,1971-01-13 00:00:00,53,2,1,...,8.0,NaN,9,1834,1,0,98,0,0,0
7048,TQVMNORVXHLOTOCDEIJAH00855319,1,1,1,1,2,1988-08-22 00:00:00,35,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0
7049,TQVMNORVXHLOTOCDEIJAH00855319,1,2,1,3,2,2006-06-26 00:00:00,17,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0
7050,TQVMNORVXHLOTOCDEIJAH00855319,1,3,1,3,2,2013-01-19 00:00:00,11,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0

In [9]:
#Limpiar negativos 2004
# Verificar si cada columna tiene algún valor negativo 2004 
# negativos = (combined_04.select_dtypes(include=[float, int]) < 0).any()

# Filtrar las filas que contienen valores negativos (eliminar las filas con cualquier valor negativo)
combined_04_clean = combined_04[~(combined_04.select_dtypes(include=[float, int]) < 0).any(axis=1)]

# # Mostrar el DataFrame limpio
# print(combined_04_clean)

combined_04 = combined_04_clean
combined_04 #elimina 21 observaciones

,CODUSU,NRO_HOGAR,COMPONENTE,H15,CH03,CH04,CH06,CH07,CH08,CH09,...,RDECCFR,GDECCFR,PDECCFR,ADECCFR,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,125047,1.0,1.0,Sí,Jefe,Varón,80.0,Casado,Obra social (incluye PAMI),Sí,...,10,10,,10,2.0,0.0,98.0,0.0,0.0,0.0
1,125047,1.0,2.0,Sí,Cónyuge/Pareja,Mujer,75.0,Casado,Obra social (incluye PAMI),Sí,...,10,10,,10,2.0,0.0,98.0,0.0,0.0,0.0
2,125098,1.0,1.0,Sí,Jefe,Varón,79.0,Viudo,Obra social (incluye PAMI),Sí,...,06,06,,04,1.0,0.0,98.0,0.0,0.0,0.0
3,125169,1.0,1.0,Sí,Jefe,Varón,72.0,Unido,No paga ni le descuentan,Sí,...,01,01,,01,2.0,0.0,3.0,0.0,0.0,0.0
4,125169,1.0,2.0,Sí,Cónyuge/Pareja,Mujer,66.0,Unido,No paga ni le descuentan,Sí,...,01,01,,01,2.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,Hijo/Hijastro,Mujer,1.0,Soltero,Mutual/Prepaga/Servicio de emergencia,Menor de 2 años,...,08,08,,09,Servicio doméstico,0.0,2.0,0.0,0.0,0.0
7643,288405,1.0,1.0,Sí,Jefe,Varón,51.0,Casado,Obra social (incluye PAMI),Sí,...,02,02,,02,2.0,0.0,98.0,0.0,0.0,0.0
7644,288405,1.0,2.0,Sí,Cónyuge/Pareja,Mujer,55.0,Casado,Obra social (incluye PAMI),Sí,...,02,02,,02,2.0,0.0,98.0,0.0,0.0,0.0
7645,288405,1.0,3.0,Sí,Hijo/Hijastro,Mujer,12.0,Soltero,Obra social (incluye PAMI),Sí,...,02,02,,02,2.0,0.0,98.0,0.0,0.0,0.0
7646,288405,1.0,4.0,Sí,Hijo/Hijastro,Varón,22.0,Soltero,Obra social (incluye PAMI),Sí,...,02,02,,02,2.0,0.0,98.0,0.0,0.0,0.0

In [432]:
# ELIMINO OBSERVACIONES QUE CONTESTAN "NO SABE/ NO RESPONDE" PARA ALGUNAS PREGUNTAS DEL HOGAR. base 2004
# ns_nr = (combined_04.select_dtypes(include=[int]) == 288405).any(axis=1)
# ns_nr[ns_nr]

# combined_04_cleannsnr = combined_04[~(combined_04.select_dtypes(include=['object']) == 'Ns./Nr.').any(axis=1)]
# combined_04 = combined_04_cleannsnr

#### Valores Faltantes
- 2004 no tiene
- 2024 se eliminaron los más brutos y se imputaron por la mediana los menos

##### 2004
-Tenia una columna con valores Nan = IX_MEN10, es el 50%, se imputa por la mediana.

In [10]:
# # Verificar si cada columna tiene algún valor NaN 2004
nan_values04 = combined_04.select_dtypes(include=[float, int]).isna().any()
columnas_con_nan04 = nan_values04[nan_values04]  # Esto te devuelve solo las columnas que tienen NaN
columnas_con_nan04 = columnas_con_nan04.index
print(columnas_con_nan04)

Index(['IX_MEN10'], dtype='object')

In [ ]:
# proporcion_columna04 = combined_04['IX_MEN10'].isnull().sum() / len(combined_04) * 100
# proporcion_columna04 #El 50% de la columna es nan. puedo imputar por la mediana. 

# #Se imputa por la mediana
# combined_04[columnas_con_nan04] = combined_04[columnas_con_nan04].fillna(combined_04[columnas_con_nan04].median())

In [11]:
combined_04 = combined_04.drop(columns = (columnas_con_nan04))

##### 2024
- Tiene columnas con valores Nan
- Se revisa la proporción de Nan que hay por columna
- Elimino las columnas que tienen proporción de Nans > 90
- Imputo por la mediana en las columnas que su proporción de Nans < 90

In [12]:
# # Verificar si cada columna tiene algún valor NaN 2024
nan_values24 = combined_24.select_dtypes(include=[float, int]).isna().any()

# # Filtrar las columnas que contienen valores NaN (solo mostrar las que son True)
columnas_con_nan24 = nan_values24[nan_values24] # Esto te devuelve solo las columnas que tienen NaN

print(columnas_con_nan24)

columnas_con_nan24 = columnas_con_nan24.index

CH14        True
CH15_COD    True
CH16_COD    True
IMPUTA      True
IDECIFR     True
PDECIFR     True
IDECCFR     True
PDECCFR     True
dtype: bool

In [45]:
#Elimino de la base de 2024 todas las columnas que tienen 
# combined_24 = combined_24.drop(columns = ["CH14", "CH15_COD", "CH16_COD", "IMPUTA", "PP04B3_DIA", "IDECIFR", "PDECIFR", "IDECCFR",'IV1_ESP', 'IV3_ESP', 'IV7_ESP', 'II7_ESP', 'II8_ESP'])

In [46]:
# # Verificar si cada columna tiene algún valor NaN 2004 
# nan_values = combined_04.select_dtypes(include=[float, int]).isna().any()

# # Filtrar las columnas que contienen valores NaN (solo mostrar las que son True)
# columnas_con_nan = nan_values[nan_values]  # Esto te devuelve solo las columnas que tienen NaN

# print(columnas_con_nan)

In [13]:
# # Obtengo las columnas que contienen datos faltantes, reviso que proporción de los valores faltas

# # Porcentaje de valores faltantes por columna
lista_nans_poco = []
lista_nans_50 = []
lista_nans_60 = []
lista_nans_70 = []
lista_nans_80 = []
lista_nans_90 = []
lista_nans_100 = []

for i in columnas_con_nan24:
    proporcion_columna24 = combined_24[i].isnull().sum() / len(combined_24) * 100
    
    if proporcion_columna24 < 50:
        lista_nans_poco.append(i)

    elif proporcion_columna24 >= 50 and proporcion_columna24 < 60:
        lista_nans_50.append(i)

    elif proporcion_columna24 >= 60 and proporcion_columna24 < 70:
        lista_nans_60.append(i)

    elif proporcion_columna24 >= 70 and proporcion_columna24 < 80:
        lista_nans_70.append(i)

    elif proporcion_columna24 >= 80 and proporcion_columna24 < 90:
        lista_nans_80.append(i)

    elif proporcion_columna24 >= 90 and proporcion_columna24 < 100:
        lista_nans_90.append(i)

    elif proporcion_columna24 == 100:
        lista_nans_100.append(i)

In [14]:
# Elimino las variables que tienen más de 90% de datos Nan. Me fijo antes cuantas columnas son
columnas_elim = lista_nans_90 + lista_nans_100
combined_24 = combined_24.drop(columns = (columnas_elim)) #se eliminaron 6 columnas

In [15]:
# Imputo por la mediana en las columnas que su proporción de Nans < 90
columnas_ok = lista_nans_poco + lista_nans_50 +lista_nans_60 + lista_nans_70 + lista_nans_80
combined_24[columnas_ok] = combined_24[columnas_ok].fillna(combined_24[columnas_ok].median())

In [16]:
#AHORA VEMOS QUE NO HAY MAS NANS EN LA DE 2024
nan_values24 = combined_24.select_dtypes(include=[float, int]).isna().any()

# # Filtrar las columnas que contienen valores NaN (solo mostrar las que son True)
columnas_con_nan24 = nan_values24[nan_values24] # Esto te devuelve solo las columnas que tienen NaN

print(columnas_con_nan24)

columnas_con_nan24 = columnas_con_nan24.index

Series([], dtype: bool)

##### Outliers

In [17]:
numerica04 = [ 'CH15_COD', 'CH16_COD', 'P47T', 'DECINDR', 
                  'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M',
                    'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ANO4',
                      'MAS_500', 'PONDERA', 'IV1_ESP', 'IV3_ESP', 'IV7_ESP',
                        'II5_1', 'II7_ESP', 'II8_ESP', 'IX_TOT', 'IX_MAYEQ10', 'ITF', 'DECIFR', 
                        'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR',
                          'GDECCFR', 'PDECCFR', 'ADECCFR']


#es igual que no categorica pero sin codusu, porque no tiene sentido sacar outliers de ahi. 
#estoy sacando COMPONENTE , CH06, CH04, ESTADO xq son tipo de dato category 
# 'REALIZADA', 'TRIMESTRE', 'REGION', 'AGLOMERADO', 'IV2', 'II1', 'II2',
      # 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4', 'H15', 'V1',
      # 'V2', 'V21', 'V22', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
      # 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19_A',
      # 'V19_B', 'II4_1', 'IV8', 'IV12_2', 'IV12_3', 'IV12_1', 'II4_2', 'II4_3',
      # 'CH13', 'II5', 'IV5', 'REALIZADA', 'TRIMESTRE', 'AGLOMERADO', 'REGION', 'II1','II2', 'IV2'

# y saque NRO HOGAR

#es igual que no categorica pero sin codusu, porque no tiene sentido sacar outliers de ahi.

In [18]:
# Verifica el tipo de datos de todas las columnas en el DataFrame
print(combined_04[numerica04].dtypes)

# Filtrar las columnas que son de tipo 'category'
categorical_columns = combined_04[numerica04].select_dtypes(include=['category']).columns

# Mostrar las columnas que son de tipo 'category'
print(f"Columnas de tipo 'category': \n{categorical_columns}")

CH15_COD       object
CH16_COD       object
P47T          float64
DECINDR        object
IDECINDR       object
RDECINDR       object
GDECINDR       object
PDECINDR       object
ADECINDR       object
V2_M          float64
V3_M          float64
V4_M          float64
V5_M          float64
V8_M          float64
V9_M          float64
V10_M         float64
V11_M         float64
V12_M         float64
V18_M         float64
V19_AM        float64
V21_M         float64
T_VI          float64
ANO4          float64
MAS_500        object
PONDERA       float64
IV1_ESP        object
IV3_ESP        object
IV7_ESP        object
II5_1         float64
II7_ESP        object
II8_ESP        object
IX_TOT        float64
IX_MAYEQ10    float64
ITF           float64
DECIFR         object
IDECIFR        object
RDECIFR        object
GDECIFR        object
PDECIFR        object
ADECIFR        object
IPCF          float64
DECCFR         object
IDECCFR        object
RDECCFR        object
GDECCFR        object
PDECCFR        object
ADECCFR        object
dtype: object
Columnas de tipo 'category':
Index([], dtype='object')

In [20]:
# # Outliers
# # COMBINED 04
# import pandas as pd

# # Supongamos que tienes un DataFrame llamado combined_04
# # Primero seleccionamos solo las columnas numéricas para el análisis
# numerical_columns = combined_04.select_dtypes(include=['float64', 'int64']).columns

# # Calculamos los cuartiles y el IQR solo para las columnas numéricas
# Q1 = combined_04[numerical_columns].quantile(0.25)
# Q3 = combined_04[numerical_columns].quantile(0.75)
# IQR = Q3 - Q1

# # Definir los límites inferior y superior
# lower_limit = Q1 - 1.5 * IQR
# upper_limit = Q3 + 1.5 * IQR

# # Detectar outliers (donde los valores están fuera de los límites)
# outliers = (combined_04[numerical_columns] < lower_limit) | (combined_04[numerical_columns] > upper_limit)

# # Mostrar una vista de los outliers por fila
# outliers_data = combined_04[outliers.any(axis=1)]

# # Opcional: Mostrar el total de outliers por columna
# outliers_count = outliers.sum()
# print(f"Total de outliers por columna: \n{outliers_count}")

# # Mostrar las filas que contienen outliers
# print(f"Filas con outliers: \n{outliers_data}")

# # Eliminar filas con outliers
# combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
# print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

In [19]:
# Outliers
# COMBINED 04

combined_04[numerica04] = combined_04[numerica04].apply(pd.to_numeric, errors='coerce')

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_04[numerica04].quantile(0.25)
Q3 = combined_04[numerica04].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers = (combined_04[numerica04] < lower_limit) | (combined_04[numerica04] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data = combined_04[outliers.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count = outliers.sum()
print(f"Total de outliers por columna: \n{outliers_count}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data}")

# Eliminar filas con outliers
combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

combined_04 = combined_04_no_outliers

Total de outliers por columna:
CH15_COD         5
CH16_COD         0
P47T           496
DECINDR          0
IDECINDR         0
RDECINDR         0
GDECINDR         0
PDECINDR         0
ADECINDR         0
V2_M           764
V3_M             8
V4_M            13
V5_M           107
V8_M            71
V9_M             8
V10_M           15
V11_M           13
V12_M          229
V18_M            5
V19_AM           0
V21_M          107
T_VI          1118
ANO4             0
MAS_500          0
PONDERA        363
IV1_ESP          0
IV3_ESP          0
IV7_ESP          0
II5_1           76
II7_ESP          0
II8_ESP          0
IX_TOT         324
IX_MAYEQ10     194
ITF            510
DECIFR           0
IDECIFR          0
RDECIFR          0
GDECIFR          0
PDECIFR          0
ADECIFR          0
IPCF           550
DECCFR           0
IDECCFR          0
RDECCFR          0
GDECCFR          0
PDECCFR          0
ADECCFR          0
dtype: int64
Filas con outliers:
        CODUSU  NRO_HOGAR COMPONENTE H15            CH03   CH04  CH06  \
0     125047          1.0        1.0  Sí            Jefe  Varón  80.0
1     125047          1.0        2.0  Sí  Cónyuge/Pareja  Mujer  75.0
2     125098          1.0        1.0  Sí            Jefe  Varón  79.0
13    125295          1.0        1.0  Sí            Jefe  Varón  34.0
14    125295          1.0        2.0  Sí  Cónyuge/Pareja  Mujer  31.0
...        ...        ...        ...  ..             ...    ...   ...
7623  287496          1.0        1.0  Sí            Jefe  Mujer  33.0
7625  287684          1.0        1.0  Sí            Jefe  Varón  53.0
7630  287810          1.0        1.0  Sí            Jefe  Varón  49.0
7640  288171          1.0        1.0  Sí            Jefe  Varón  31.0
7641  288171          1.0        2.0  Sí  Cónyuge/Pareja  Mujer  31.0

         CH07                                   CH08 CH09  ... RDECCFR  \
0      Casado             Obra social (incluye PAMI)   Sí  ...      10
1      Casado             Obra social (incluye PAMI)   Sí  ...      10
2       Viudo             Obra social (incluye PAMI)   Sí  ...       6
13     Casado  Mutual/Prepaga/Servicio de emergencia   Sí  ...      10
14     Casado  Mutual/Prepaga/Servicio de emergencia   Sí  ...      10
...       ...                                    ...  ...  ...     ...
7623  Soltero             Obra social (incluye PAMI)   Sí  ...      10
7625   Casado             Obra social (incluye PAMI)   Sí  ...       7
7630   Casado             Obra social (incluye PAMI)   Sí  ...       8
7640   Casado  Mutual/Prepaga/Servicio de emergencia   Sí  ...       8
7641   Casado  Mutual/Prepaga/Servicio de emergencia   Sí  ...       8

     GDECCFR PDECCFR ADECCFR              VII1_1 VII1_2  \
0         10     NaN      10                 2.0    0.0
1         10     NaN      10                 2.0    0.0
2          6     NaN       4                 1.0    0.0
13        10     NaN      10                 2.0    0.0
14        10     NaN      10                 2.0    0.0
...      ...     ...     ...                 ...    ...
7623      10     NaN       9                 1.0    0.0
7625       7     NaN       8                 3.0    0.0
7630       8     NaN       9                 2.0    0.0
7640       8     NaN       9  Servicio doméstico    0.0
7641       8     NaN       9  Servicio doméstico    0.0

                                    VII2_1 VII2_2  VII2_3 VII2_4
0                                     98.0    0.0     0.0    0.0
1                                     98.0    0.0     0.0    0.0
2                                     98.0    0.0     0.0    0.0
13    Otra persona que no vive en el hogar    0.0     0.0    0.0
14    Otra persona que no vive en el hogar    0.0     0.0    0.0
...                                    ...    ...     ...    ...
7623                                  98.0    0.0     0.0    0.0
7625                                   2.0    4.0     0.0    0.0
7630                                   3.0    1.0     0.0    0.0
7640                                   2.0    0.0     0.0    0.0
7641                                   2.0    0.0     0.0    0.0

[2516 rows x 121 columns]
Datos después de eliminar outliers:
     CODUSU  NRO_HOGAR COMPONENTE H15            CH03   CH04  CH06  \
3  125169          1.0        1.0  Sí            Jefe  Varón  72.0
4  125169          1.0        2.0  Sí  Cónyuge/Pareja  Mujer  66.0
5  125169          1.0        3.0  Sí   Hijo/Hijastro  Mujer  41.0
6  125169          1.0        4.0  Sí           Nieto  Varón  16.0
7  125169          1.0        5.0  Sí           Nieto  Mujer  13.0

                    CH07                      CH08 CH09  ... RDECCFR GDECCFR  \
3                  Unido  No paga ni le descuentan   Sí  ...       1       1
4                  Unido  No paga ni le descuentan   Sí  ...       1       1
5  Separado o divorciado  No paga ni le descuentan   Sí  ...       1       1
6                Soltero  No paga ni le descuentan   Sí  ...       1       1
7                Soltero  No paga ni le descuentan   Sí  ...       1       1

  PDECCFR ADECCFR VII1_1 VII1_2  VII2_1 VII2_2  VII2_3 VII2_4
3     NaN       1    2.0    0.0     3.0    0.0     0.0    0.0
4     NaN       1    2.0    0.0     3.0    0.0     0.0    0.0
5     NaN       1    2.0    0.0     3.0    0.0     0.0    0.0
6     NaN       1    2.0    0.0     3.0    0.0     0.0    0.0
7     NaN       1    2.0    0.0     3.0    0.0     0.0    0.0

[5 rows x 121 columns]

##### 2024

In [20]:
#Lista de todas las variables de la base 2004
lista04 = combined_04.columns.to_list()
len(lista04)

121

In [49]:
#Para la base 2004, reemplazo los valores de texto de las variables binarias a 0 y 1 para ya usarlas como dummies. 
reemplazosbinarias = {
    "Sí" : 1, 
    "No" : 0, 
    "S" : 1, 
    "N" : 0, 
    "Varón" : 1, 
    "Mujer" : 0
}

combined_04 = combined_04.applymap(lambda x: reemplazosbinarias.get(x, x))

C:\Users\magda\AppData\Local\Temp\ipykernel_11820\1224821674.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  combined_04 = combined_04.applymap(lambda x: reemplazosbinarias.get(x, x))

In [22]:
#variables numericas para sacar outliers
numerica24 = ['NRO_HOGAR', 'COMPONENTE', 'CH05', 'CH06', 'CH15_COD', 'ESTADO', 'V2_M', 
                  'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM',
                    'V21_M', 'T_VI', 'ANO4', 'TRIMESTRE', 'REALIZADA', 'REGION', 'MAS_500', 'AGLOMERADO',
                      'PONDERA', 'IV1_ESP', 'IV3_ESP', 'IV7_ESP', 'II1', 'II2', 'II5_1', 'II7_ESP', 'II8_ESP',
                        'IX_TOT', 'IX_MEN10', 'IX_MAYEQ10', 'ITF', 'DECIFR', 'RDECIFR', 'GDECIFR', 'ADECIFR',
                          'IPCF', 'DECCFR', 'RDECCFR', 'GDECCFR', 'ADECCFR', 'PONDIH', 'VII1_1', 'VII1_2', 
                          'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4']

In [ ]:
# # COMBINED 24
# import pandas as pd

# # Supongamos que tienes un DataFrame llamado combined_04
# # Primero seleccionamos solo las columnas numéricas para el análisis
# numerical_columns = combined_24.select_dtypes(include=['float64', 'int64']).columns

# # Calculamos los cuartiles y el IQR solo para las columnas numéricas
# Q1 = combined_24[numerical_columns].quantile(0.25)
# Q3 = combined_24[numerical_columns].quantile(0.75)
# IQR = Q3 - Q1

# # Definir los límites inferior y superior
# lower_limit = Q1 - 1.5 * IQR
# upper_limit = Q3 + 1.5 * IQR

# # Detectar outliers (donde los valores están fuera de los límites)
# outliers = (combined_24[numerical_columns] < lower_limit) | (combined_24[numerical_columns] > upper_limit)

# # Mostrar una vista de los outliers por fila
# outliers_data = combined_24[outliers.any(axis=1)]

# # Opcional: Mostrar el total de outliers por columna
# outliers_count = outliers.sum()
# print(f"Total de outliers por columna: \n{outliers_count}")

# # Mostrar las filas que contienen outliers
# print(f"Filas con outliers: \n{outliers_data}")

# # Eliminar filas con outliers
# #combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
# #print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

In [23]:
#outliers 2024
combined_24[numerica24] = combined_24[numerica24].apply(pd.to_numeric, errors='coerce')

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_24[numerica24].quantile(0.25)
Q3 = combined_24[numerica24].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers24 = (combined_24[numerica24] < lower_limit) | (combined_24[numerica24] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data24 = combined_24[outliers24.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count24 = outliers24.sum()
print(f"Total de outliers por columna: \n{outliers_count24}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data24}")

# Eliminar filas con outliers
combined_24_no_outliers = combined_24[~outliers24.any(axis=1)]
print(f"Datos después de eliminar outliers: \n{combined_24_no_outliers.head()}")

combined_04 = combined_04_no_outliers

Total de outliers por columna:
NRO_HOGAR       55
COMPONENTE     141
CH05             0
CH06             0
CH15_COD      1015
ESTADO           0
V2_M          1112
V3_M            11
V4_M             3
V5_M           260
V8_M            70
V9_M             1
V10_M           56
V11_M           68
V12_M          155
V18_M            7
V19_AM           0
V21_M          438
T_VI          1603
ANO4             0
TRIMESTRE        0
REALIZADA        0
REGION           0
MAS_500          0
AGLOMERADO    1310
PONDERA        161
IV1_ESP          0
IV3_ESP          0
IV7_ESP          0
II1             23
II2              0
II5_1           62
II7_ESP          0
II8_ESP          0
IX_TOT         128
IX_MEN10       308
IX_MAYEQ10      70
ITF            382
DECIFR           0
RDECIFR          0
GDECIFR          0
ADECIFR          0
IPCF           457
DECCFR           0
RDECCFR          0
GDECCFR          0
ADECCFR          0
PONDIH         110
VII1_1         274
VII1_2         369
VII2_1           0
VII2_2         829
VII2_3         304
VII2_4          42
dtype: int64
Filas con outliers:
                             CODUSU  NRO_HOGAR  COMPONENTE  H15  CH03  CH04  \
3     TQRMNOPPQHKKMMCDEIIAD00858017          1           1    1     1     2
4     TQRMNOPPQHKMQUCDEIJAH00861670          1           1    1     1     2
8     TQRMNOPPRHKOKUCDEIJAH00857420          1           1    1     1     2
9     TQRMNOPPRHLOONCDEIJAH00856469          1           1    1     1     1
10    TQRMNOPPRHMKLSCDEIIAD00801668          1           1    1     1     2
...                             ...        ...         ...  ...   ...   ...
7037  TQTMNORQXHMOSQCDEIJAH00802270          1           1    1     1     2
7038  TQTMNORQXHMOSQCDEIJAH00802270          1           2    1     3     1
7039  TQTMNORQXHMOSQCDEIJAH00802270          1           3    1     2     1
7042  TQTMNOSPRHMNROCDEIJAH00860644          1           1    1     1     2
7043  TQTMNOSTRHLMKUCDEIJAH00861152          1           1    1     1     2

      CH05  CH06  CH07  CH08  ...  RDECCFR  GDECCFR  ADECCFR  PONDIH  VII1_1  \
3      NaN    52     5     2  ...       12     12.0       12       0       1
4      NaN    75     4     1  ...        8      8.0        8    3263       1
8      NaN    49     3     4  ...        3      3.0        4    2138       1
9      NaN    66     4     1  ...        5      5.0        6    2415      97
10     NaN    65     5     1  ...        2      2.0        1     107       2
...    ...   ...   ...   ...  ...      ...      ...      ...     ...     ...
7037   NaN    60     2     1  ...        4      4.0        5    5793       1
7038   NaN    17     5     4  ...        4      4.0        5    5793       1
7039   NaN    59     2     1  ...        4      4.0        5    5793       1
7042   NaN    25     3     1  ...       10     10.0       10    1980       1
7043   NaN    25     1     4  ...        3      3.0        3     371       1

      VII1_2  VII2_1  VII2_2  VII2_3  VII2_4
3          0      98       0       0       0
4          0      98       0       0       0
8          0      98       0       0       0
9          0       1       0       0       0
10         0      98       0       0       0
...      ...     ...     ...     ...     ...
7037       0       2       3       0       0
7038       0       2       3       0       0
7039       0       2       3       0       0
7042       0      98       0       0       0
7043       2      98       0       0       0

[4259 rows x 114 columns]
Datos después de eliminar outliers:
                          CODUSU  NRO_HOGAR  COMPONENTE  H15  CH03  CH04  \
1  TQRMNOPPQHJNOPCDEIJAH00802435          1           2    1     2     2
2  TQRMNOPPQHJNOPCDEIJAH00802435          1           4    1     3     1
5  TQRMNOPPRHJNOPCDEIJAH00793617          1           1    1     1     2
6  TQRMNOPPRHJNOPCDEIJAH00793617          1           2    1     2     1
7  TQRMNOPPRHJNOPCDEIJAH00793617          1           3    0     3     1

   CH05  CH06  CH07  CH08  ...  RDECCFR  GDECCFR  ADECCFR  PONDIH  VII1_1  \
1   NaN    52     2     1  ...       12     12.0       12       0       2
2   NaN    22     5     1  ...       12     12.0       12       0       2
5   NaN    41     1     4  ...        4      4.0        4    3206       1
6   NaN    48     1     1  ...        4      4.0        4    3206       1
7   NaN     6     5     4  ...        4      4.0        4    3206       1

   VII1_2  VII2_1  VII2_2  VII2_3  VII2_4
1       0      98       0       0       0
2       0      98       0       0       0
5       0      98       0       0       0
6       0      98       0       0       0
7       0      98       0       0       0

[5 rows x 114 columns]

#### Variables categoricas

##### 2004

In [24]:
#Armo una lista con todas las variables que no quiero que sean dummies. Incluye numercias continuas y binarias (0,1).
nocategorica04 = ['CODUSU',
 'NRO_HOGAR',
 'COMPONENTE',
 'CH06',
 'CH15_COD',
 'CH16_COD',
 'ESTADO', #Estado es categorica, pero lo dejo porque despues vamos a usar una dummy de desocupado directamente. 
 'P47T',
 'DECINDR',
 'IDECINDR',
 'RDECINDR',
 'GDECINDR',
 'PDECINDR',
 'ADECINDR',
 'V2_M',
 'V3_M',
 'V4_M',
 'V5_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V11_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'V21_M',
 'T_VI',
 'REALIZADA',
 'ANO4',
 'TRIMESTRE',
 'REGION',
 'MAS_500',
 'AGLOMERADO',
 'PONDERA',
 'IV1_ESP',
 'IV2',
 'IV3_ESP',
 'IV7_ESP',
 'II1',
 'II2',
 'II5_1',
 'II7_ESP',
 'II8_ESP',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'ITF',
 'DECIFR',
 'IDECIFR',
 'RDECIFR',
 'GDECIFR',
 'PDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'IDECCFR',
 'RDECCFR',
 'GDECCFR',
 'PDECCFR',
 'ADECCFR',
 'VII1_1',
 'VII1_2',
 'VII2_1',
 'VII2_2',
 'VII2_3',
 'VII2_4', 
'H15', #a partir de aca son binarias. 1/0
 'V1',
 'V2',
 'V21',
 'V22',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19_A',
 'V19_B', 
 'II4_1', 
 'IV8',
 'IV12_2',
 'IV12_3', 'IV12_1', 'II4_2', 'II4_3', 'CH04', 'CH13', 'II5', 'IV5']

len(nocategorica04)

100

In [46]:
#Armo una lista de las variables categoricas para hacer dummies. Son todas las variables menos las binarias y las numericas continuas. 
categorica04 = list(set(lista04) - set(nocategorica04))
len(categorica04)

22

In [47]:
dummies04 = pd.get_dummies(combined_04[categorica04])
combined_04_cat = pd.concat([combined_04, dummies04], axis = 1)

### combined_04_cat ----- incluye dummies Y las variables originales. 

combined_04 = combined_04_cat.drop(columns = categorica04)

##### 2024

In [25]:
#Lista de todas las variables de la base 2024
lista24 = combined_24.columns.to_list()
len(lista24)

114

In [26]:
#misma lista para 2024. variables numericas continuas (que no quiero convertir en dummies)
nocategorica24 = ['CODUSU',
 'NRO_HOGAR',
 'COMPONENTE',
 'CH05',
 'CH06',
 'CH15_COD',
 'ESTADO',
 'V2_M',
 'V3_M',
 'V4_M',
 'V5_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V11_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'V21_M',
 'T_VI',
 'ANO4',
 'TRIMESTRE',
 'REALIZADA',
 'REGION',
 'MAS_500',
 'AGLOMERADO',
 'PONDERA',
 'IV1_ESP',
 'IV3_ESP',
 'IV7_ESP',
 'II1',
 'II2',
 'II5_1',
 'II7_ESP',
 'II8_ESP',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'ITF',
 'DECIFR',
 'RDECIFR',
 'GDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'RDECCFR',
 'GDECCFR',
 'ADECCFR',
 'PONDIH',
 'VII1_1',
 'VII1_2',
 'VII2_1',
 'VII2_2',
 'VII2_3',
 'VII2_4']

In [27]:
#Armo una lista de las variables categoricas para hacer dummies. Son todas las variables menos las binarias y las numericas continuas. 
categorica24 = list(set(lista24) - set(nocategorica24))
len(categorica24)

59

In [28]:
for i in categorica24: 
    print(combined_24[i].value_counts())
    print("\n")

IV8
1    6638
2      16
Name: count, dtype: int64


V8
2    6436
1     192
9      26
Name: count, dtype: int64


IV12_1
2    6405
1     249
Name: count, dtype: int64


V9
2    6623
9      26
1       5
Name: count, dtype: int64


V1
1    5894
2     734
9      26
Name: count, dtype: int64


V13
2    3966
1    2662
9      26
Name: count, dtype: int64


CAT_INAC
0    3438
3    1428
4     615
1     580
5     351
7     175
6      53
2      14
Name: count, dtype: int64


IV2
3     2723
4     1490
2     1389
5      431
1      421
6      133
7       43
8       22
99       2
Name: count, dtype: int64


V14
2    5657
1     971
9      26
Name: count, dtype: int64


CAT_OCUP
0    3324
3    2481
2     738
1     102
4       9
Name: count, dtype: int64


V4
2    6614
9      26
1      14
Name: count, dtype: int64


IV9
1    6517
2     121
0      16
Name: count, dtype: int64


CH14
2.0     4086
3.0      604
0.0      554
1.0      509
4.0      413
5.0      260
99.0     126
6.0       53
98.0      34
9.0        7
8.0        5
7.0        3
Name: count, dtype: int64


CH08
1     4052
4     1941
2      523
12     110
9       24
3        2
23       1
13       1
Name: count, dtype: int64


NIVEL_ED
4    1539
3    1371
6    1016
1     844
5     831
2     686
7     367
Name: count, dtype: int64


IV7
1    5441
2    1173
4      26
3      14
Name: count, dtype: int64


V7
2    6230
1     398
9      26
Name: count, dtype: int64


V19_A
2    6628
9      26
Name: count, dtype: int64


CH03
3     2446
1     2322
2     1250
5      273
8       95
9       87
6       80
4       62
10      29
7       10
Name: count, dtype: int64


II4_1
1    6067
2     585
0       2
Name: count, dtype: int64


IV12_2
2    5947
1     707
Name: count, dtype: int64


IV1
1    4728
2    1874
4      32
6      12
3       5
5       3
Name: count, dtype: int64


CH13
1    3236
2    3227
0     173
9      18
Name: count, dtype: int64


II7
1    4220
3    1186
2     524
6     435
4     158
8      80
9      18
7      16
5      15
0       2
Name: count, dtype: int64


V2
2    4384
1    2244
9      26
Name: count, dtype: int64


II4_2
2    3565
1    3087
0       2
Name: count, dtype: int64


V6
2    6045
1     583
9      26
Name: count, dtype: int64


V22
2    5858
1     796
Name: count, dtype: int64


IV10
1    6064
2     570
0      16
3       4
Name: count, dtype: int64


V17
2    5970
1     658
9      26
Name: count, dtype: int64


V5
2    5404
1    1224
9      26
Name: count, dtype: int64


IV11
1    4742
2    1373
3     516
0      16
4       7
Name: count, dtype: int64


II5
2    6172
0     420
1      62
Name: count, dtype: int64


II9
1    6575
3      46
4      16
2      15
0       2
Name: count, dtype: int64


CH04
2    3442
1    3212
Name: count, dtype: int64


V21
2    5761
1     893
Name: count, dtype: int64


V11
2    6350
1     278
9      26
Name: count, dtype: int64


V10
2    6461
1     167
9      26
Name: count, dtype: int64


V12
2    6135
1     493
9      26
Name: count, dtype: int64


H15
1    5852
0     762
2      40
Name: count, dtype: int64


CH16
1    6288
6     268
3      27
5      24
2      18
9      15
4      13
0       1
Name: count, dtype: int64


CH11
0    4642
1    1376
2     613
9      23
Name: count, dtype: int64


V16
2    3620
1    3008
9      26
Name: count, dtype: int64


V15
2    5812
1     816
9      26
Name: count, dtype: int64


V3
2    6584
1      44
9      26
Name: count, dtype: int64


CH15
1    5376
3     680
4     245
2     169
5     163
9      21
Name: count, dtype: int64


CH09
1    6274
2     318
3      50
9      12
Name: count, dtype: int64


V18
2    6608
9      26
1      20
Name: count, dtype: int64


IV12_3
2    6616
1      38
Name: count, dtype: int64


CH10
2    4469
1    2000
3     123
0      50
9      12
Name: count, dtype: int64


II4_3
2    4910
1    1742
0       2
Name: count, dtype: int64


IV4
2    2151
4    1876
1    1268
3     790
9     511
5      54
7       4
Name: count, dtype: int64


II8
1    4496
2    1966
4     186
3       4
0       2
Name: count, dtype: int64


V19_B
2    6624
9      26
1       4
Name: count, dtype: int64


IV5
1    5695
2     959
Name: count, dtype: int64


IV6
1    6495
2     145
3      14
Name: count, dtype: int64


CH07
5    3244
2    1394
1    1255
3     409
4     339
9      13
Name: count, dtype: int64


CH12
4     2856
2     1483
7     1131
6      624
1      193
0      173
8       88
9       42
5       29
3       19
99      16
Name: count, dtype: int64


IV3
1    5838
2     804
3      10
4       2
Name: count, dtype: int64

In [29]:
#Convierto los valores de las columnas categoricas a objetos para poder hacer dummies
for i in categorica24: 
    combined_24[i] = combined_24[i].astype('object')

In [30]:
dummies24 = pd.get_dummies(combined_24[categorica24])
combined_24_cat = pd.concat([combined_24, dummies24], axis = 1)

### combined_24_cat ----- incluye dummies Y las variables originales. 
combined_24 = combined_24_cat.drop(columns = categorica24)

### ANALISIS EXPLORATORIO: VARIABLES EXTRA, DESCRIPCION

In [39]:
#DEFINIR VARIABLES EXTRA
# Crear una nueva columna 'desocupado' con base en la condición ESTADO = 2
combined_04['desocupado'] = combined_04['ESTADO'] == 'Desocupado'
combined_24['desocupado'] = combined_24['ESTADO'] == 2

# Convertir valores booleanos a num
combined_04['desocupado'] = combined_04['desocupado'].map({True:1, False: 0})
combined_24['desocupado'] = combined_24['desocupado'].map({True:1, False: 0})

In [ ]:
#DEFINIR VARIABLES EXTRA para cada ano

# Verificar el resultado
#NSE - con ingreso. agrupar variables  IPCF
# bins = [0, 3000, 5000, 7000, 10000] 
# labels = ['Bajo', 'Medio-Bajo', 'Medio', 'Alto']
# combined_04['ingreso_agrupado'] = pd.cut(df['ingreso'], bins=bins, labels=labels, right=False
                                         
#subsidios V5, V12, V19_A (MENORES DE 10 AÑOS)

#proporcion del hogar que recibio educacion. CH10.

In [47]:
#### VARIABLE DE EDUCACION POR HOGAR ###
# Definir una función que mapee los valores de CH10 a categorías
def map_educacion():
    if combined_04['CH10'] == 1|combined_04['CH10']==2:
        return 1
    else:
        return 0

# Aplicar la función y crear la nueva columna 'educacion'
combined_24['educacion'] = combined_24.apply(map_educacion)

TypeError: map_educacion() takes 0 positional arguments but 1 was given

In [ ]:

# Agrupar por NRO_HOGAR y educacion (CH10)
educacion_group = combined_24.groupby(['NRO_HOGAR', 'educacion']).size().reset_index(name='count')

# Mostrar el resultado
print(educacion_group)

In [48]:
combined_04

,CODUSU,NRO_HOGAR,COMPONENTE,H15,CH03,CH04,CH06,CH07,CH08,CH09,...,GDECCFR,PDECCFR,ADECCFR,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4,desocupado
3,125169,1.0,1.0,Sí,Jefe,Varón,72.0,Unido,No paga ni le descuentan,Sí,...,1,NaN,1,2.0,0.0,3.0,0.0,0.0,0.0,0
4,125169,1.0,2.0,Sí,Cónyuge/Pareja,Mujer,66.0,Unido,No paga ni le descuentan,Sí,...,1,NaN,1,2.0,0.0,3.0,0.0,0.0,0.0,0
5,125169,1.0,3.0,Sí,Hijo/Hijastro,Mujer,41.0,Separado o divorciado,No paga ni le descuentan,Sí,...,1,NaN,1,2.0,0.0,3.0,0.0,0.0,0.0,0
6,125169,1.0,4.0,Sí,Nieto,Varón,16.0,Soltero,No paga ni le descuentan,Sí,...,1,NaN,1,2.0,0.0,3.0,0.0,0.0,0.0,0
7,125169,1.0,5.0,Sí,Nieto,Mujer,13.0,Soltero,No paga ni le descuentan,Sí,...,1,NaN,1,2.0,0.0,3.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,Hijo/Hijastro,Mujer,1.0,Soltero,Mutual/Prepaga/Servicio de emergencia,Menor de 2 años,...,8,NaN,9,Servicio doméstico,0.0,2.0,0.0,0.0,0.0,0
7643,288405,1.0,1.0,Sí,Jefe,Varón,51.0,Casado,Obra social (incluye PAMI),Sí,...,2,NaN,2,2.0,0.0,98.0,0.0,0.0,0.0,0
7644,288405,1.0,2.0,Sí,Cónyuge/Pareja,Mujer,55.0,Casado,Obra social (incluye PAMI),Sí,...,2,NaN,2,2.0,0.0,98.0,0.0,0.0,0.0,0
7645,288405,1.0,3.0,Sí,Hijo/Hijastro,Mujer,12.0,Soltero,Obra social (incluye PAMI),Sí,...,2,NaN,2,2.0,0.0,98.0,0.0,0.0,0.0,0
7646,288405,1.0,4.0,Sí,Hijo/Hijastro,Varón,22.0,Soltero,Obra social (incluye PAMI),Sí,...,2,NaN,2,2.0,0.0,98.0,0.0,0.0,0.0,0

In [ ]:
#ANTES DE HACER ESTO HAY QUE ASEGURARNOS QUE ESTEN EN NUMEROS LAS CATEGORICAS

df = combined_04

# Calcular el número total de integrantes del hogar
total_integrantes = df.groupby('NRO_HOGAR')['COMPONENTE'].nunique()

# Calcular el número de integrantes que respondieron 1 o 2 en CH10
educados = df[df['CH10'].isin([1, 2])].groupby('NRO_HOGAR')['COMPONENTE'].nunique()

# Crear la variable prop_educado
df['prop_educado'] = df['NRO_HOGAR'].map(educados)/ df['NRO_HOGAR'].map(total_integrantes)

# Llenar los NaN con 0 (caso de hogares sin integrantes educados)
df['prop_educado'] = df['prop_educado'].fillna(0)

print(df['prop_educado'])

3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
       ...
7642    0.0
7643    0.0
7644    0.0
7645    0.0
7646    0.0
Name: prop_educado, Length: 5131, dtype: float64

In [54]:
df['CH10']

3       No asiste, pero asistió
4       No asiste, pero asistió
5       No asiste, pero asistió
6                    Sí, asiste
7                    Sí, asiste
                 ...
7642                        0.0
7643    No asiste, pero asistió
7644    No asiste, pero asistió
7645                 Sí, asiste
7646    No asiste, pero asistió
Name: CH10, Length: 5131, dtype: category
Categories (5, object): [0.0 < 'Sí, asiste' < 'No asiste, pero asistió' < 'Nunca asistió' < 'Ns./Nr.']

## Clasificacion y regularizacion

In [59]:
#FILTRAR PERSONAS Q NO RESPONDIERON ESTADO=0
#ESTADO: 0 = Entrevista individual no realizada (no respuesta al cuestionario individual)
    # 1 = Ocupado
    # 2 = Desocupado
    # 3 = Inactivo
    # 4 = Menor de 10 años

# largo_04 = len (combined_04)
# largo_24 = len (combined_24)

datos_04 = combined_04[combined_04['ESTADO'] != 0]
datos_24 = combined_24 [combined_24 ['ESTADO'] !=0]

# print (f'cant original 04',largo_04)
# print (f'cant nhueva 04', len(datos_04))

# print (f'cant original 24',largo_24)
# print (f'cant nhueva 24', len(datos_24))
# columnas_datos04 = datos_04.columns.tolist()
# columnas_datos04

#### Separación base Respondieron / no respondieron
Problema: En 2004 no hay gente que no haya respondido
- En 2024 hay 40

In [ ]:
#ACA HAY QUE DEFINIR LA BASE DE RESPONDIERON Y NO RESPONDIERON PARA CADA AÑO: 

# # DataFrame para las personas con ESTADO = 0
# norespondieron_04 = combined_04[combined_04['ESTADO'] == 0]
# norespondieron_24 = combined_24[combined_24['ESTADO'] == 0]

# # DataFrame para las personas con ESTADO distinto de 0
# respondieron_04 = combined_04[combined_04['ESTADO'] != 0]
# respondieron_24 = combined_24[combined_24['ESTADO'] != 0]

# # Imprimir el número de observaciones en cada DataFrame
# print(f"Total de personas que no respondieron (2004): {len(norespondieron_04)}")
# print(f"Total de personas que respondieron (2004) {len(respondieron_04)}")

# print(f"Total de personas que no respondieron (2024): {len(norespondieron_24)}")
# print(f"Total de personas que respondieron (2024) {len(respondieron_24)}")

Total de personas que no respondieron (2004): 0
Total de personas que respondieron (2004) 7627
Total de personas que no respondieron (2024): 40
Total de personas que respondieron (2024) 6614

In [60]:
# Se separa X e y a partir de la selección de columnas numericas
#ESTO HAY QUE UPDATEARLO CON LAS BASES FINALES
X_2004 = datos_04.drop(columns=['desocupado'])
y_2004 = datos_04['desocupado']
X_2024 = datos_24.drop(columns=['desocupado'])
y_2024 = datos_24['desocupado']

In [61]:
#Partir la base train test para cada ano. 
#Semilla 101
#agregar columna de unos (1)
x_train_24, x_test_24, y_train_24, y_test_24 = train_test_split(X_2024, y_2024, test_size=0.3, random_state=101)
x_train_04, x_test_04, y_train_04, y_test_04 = train_test_split(X_2004, y_2004, test_size=0.3, random_state=101)

x_train_04 = sm.add_constant(x_train_04) #AGREGO COLUMNA DE UNOS
x_train_24 = sm.add_constant(x_train_24)

In [63]:
tipos_de_datos = x_train_04.dtypes 
print(tipos_de_datos)

CODUSU                                       object
NRO_HOGAR                                   float64
COMPONENTE                                 category
H15                                        category
CH04                                       category
                                             ...
II7_Ocupante en relación de dependencia        bool
II7_Ocupante gratuito (con permiso)            bool
II7_Ocupante de hecho (sin permiso)            bool
II7_Está en sucesión                           bool
II7_Otra situación                             bool
Length: 248, dtype: object

In [65]:
# Identificar las columnas booleanas, float e int
columnas_a_estandarizar_04 = x_train_04.select_dtypes(include=['bool', 'int64', 'float64']).columns
columnas_a_estandarizar_24 = x_train_24.select_dtypes(include=['bool', 'int64', 'float64']).columns

# Inicializar el estandarizador
sc = StandardScaler()

# Estandarizamos las observaciones de entrenamiento
x_train_04_transformed = x_train_04.copy()
x_train_04_transformed[columnas_a_estandarizar_04] = sc.fit_transform(x_train_04[columnas_a_estandarizar_04])

x_train_24_transformed = x_train_24.copy()
x_train_24_transformed[columnas_a_estandarizar_24] = sc.fit_transform(x_train_24[columnas_a_estandarizar_24])

# Estandarizamos las observaciones de test usando el estandarizador ya ajustado
x_test_04_transformed = x_test_04.copy()
x_test_04_transformed[columnas_a_estandarizar_04] = sc.transform(x_test_04[columnas_a_estandarizar_04])

x_test_24_transformed = x_test_24.copy()
x_test_24_transformed[columnas_a_estandarizar_24] = sc.transform(x_test_24[columnas_a_estandarizar_24])

# Estadisticas luego de estandarizar
print(x_train_04_transformed.describe().T)
print(x_train_24_transformed.describe().T)

c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count
c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
c:\Users\magda\anaconda3\Lib\site-packages\sklearn\utils\extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- ADECINDR
- CH03_Cónyuge/Pareja
- CH03_Hermano
- CH03_Hijo/Hijastro
- CH03_Jefe
- ...
Feature names seen at fit time, yet now missing:
- AGLOMERADO
- CAT_INAC_0
- CAT_INAC_1
- CAT_INAC_2
- CAT_INAC_3
- ...

In [62]:
#IMPORTANTE ESTANDARIZAR ANTES DE USAR METODOS DE REGULARIZACION
# Iniciamos el Standard Scaler
sc = StandardScaler()

# Estandarizamos las observaciones de entrenamiento
x_train_04_transformed = pd.DataFrame(sc.fit_transform(x_train_04), index=x_train_04.index, columns=x_train_04.columns)
x_train_24_transformed = pd.DataFrame(sc.fit_transform(x_train_24), index=x_train_24.index, columns=x_train_24.columns)

# Estandarizamos las observaciones de test
x_test_04_transformed = pd.DataFrame(sc.transform(x_test_04), index=x_test_04.index, columns=x_test_04.columns)
x_test_24_transformed = pd.DataFrame(sc.transform(x_test_24), index=x_test_24.index, columns=x_test_24.columns)  

# Estadisticas luego de estandarizar
x_train_04_transformed.describe().T
x_train_24_transformed.describe().T

ValueError: Cannot cast object dtype to float64

In [ ]:
#Regresion logistica con penalidad LASSO (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_lasso = log04_lasso.predict_proba(x_train_04)[:,1]
y_pred_log04_lasso = log04_lasso.predict(x_test_04)

#### Regresion logistica para 2024
log24_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_lasso = log24_lasso.predict_proba(x_train_24)[:,1]
y_pred_log24_lasso = log24_lasso.predict(x_test_24)

NameError: name 'x_train_04' is not defined

In [ ]:
#### Medidas de precision Regresion logistica LASSO para 2004
#Matriz de confusion
conflog04_lasso = confusion_matrix(y_test_04, y_pred_log04_lasso) 
print("Matriz de confusion (Reg Log LASSO 2004)\n", conflog04_lasso)

#AUC
auc_log04_lasso = roc_auc_score(y_test_04, y_pred_log04_lasso)
print('\nAUC Reg Log (2004): %.4f' %auc_log04_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l04 = mean_squared_error(y_test_04, y_pred_log04_lasso)
print("Error cuadrático medio:", ecm_a1_l04) 

#Accuracy
accuracy_log04_lasso = accuracy_score(y_test_04, y_pred_log04_lasso)
print("La accuracy del modelo (Reg Log LASSO 2004) es: %.4f" %accuracy_log04_lasso)

In [ ]:
#### Medidas de precision Regresion logistica LASSO para 2024
#Matriz de confusion
conflog24_lasso = confusion_matrix(y_test_24, y_pred_log24_lasso) 
print("Matriz de confusion (Reg Log LASSO 2024)\n", conflog24_lasso)

#AUC
auc_log24_lasso = roc_auc_score(y_test_24, y_pred_log24_lasso)
print('\nAUC Reg Log LASSO (2024): %.4f' %auc_log24_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l24 = mean_squared_error(y_test_24, y_pred_log24_lasso)
print("Error cuadrático medio:", ecm_a1_l24) 

#Accuracy
accuracy_log24_lasso = accuracy_score(y_test_24, y_pred_log24_lasso)
print("La accuracy del modelo (Reg Log LASSO 2024) es: %.4f" %accuracy_log24_lasso)

In [ ]:
#Regresion logistica con penalidad ridge (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_ridge = log04_ridge.predict_proba(x_train_04)[:,1]
y_pred_log04_ridge = log04_ridge.predict(x_test_04)

#### Regresion logistica para 2024
log24_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_ridge = log24_ridge.predict_proba(x_train_24)[:,1]
y_pred_log24_ridge = log24_ridge.predict(x_test_24)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2004
#Matriz de confusion
conflog04_ridge = confusion_matrix(y_test_04, y_pred_log04_ridge) 
print("Matriz de confusion (Reg Log ridge 2004)\n", conflog04_ridge)

#AUC
auc_log04_ridge = roc_auc_score(y_test_04, y_pred_log04_ridge)
print('\nAUC Reg Log ridge (2004): %.4f' %auc_log04_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r04 = mean_squared_error(y_test_04, y_pred_log04_ridge)
print("Error cuadrático medio:", ecm_a1_r04)  

#Accuracy
accuracy_log04_ridge = accuracy_score(y_test_04, y_pred_log04_ridge)
print("La accuracy del modelo (Reg Log ridge 2004) es: %.4f" %accuracy_log04_ridge)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2024
#Matriz de confusion
conflog24_ridge = confusion_matrix(y_test_24, y_pred_log24_ridge) 
print("Matriz de confusion (Reg Log ridge 2024)\n", conflog04_ridge)

#AUC
auc_log24_ridge = roc_auc_score(y_test_24, y_pred_log24_ridge)
print('\nAUC Reg Log ridge (2024): %.4f' %auc_log24_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r24 = mean_squared_error(y_test_24, y_pred_log24_ridge)
print("Error cuadrático medio:", ecm_a1_r24) 

#Accuracy
accuracy_log24_ridge = accuracy_score(y_test_24, y_pred_log24_ridge)
print("La accuracy del modelo (Reg Log ridge 2024) es: %.4f" %accuracy_log24_ridge)

In [ ]:
# Cross validation para elegir el alpha para los metodos de regularizacion
from sklearn.linear_model import LogisticRegressionCV

#LASSO 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#LASSO 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_24.C_[0]))

In [ ]:
#Ridge 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#Ridge 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_24.C_[0]))

In [ ]:
#boxplot usando seaborn: distribucion del error de prediccion para cada alpha

#lineplot para lasso: promedio de la proporcion de variables ignoradas por el modelo

In [ ]:
#MODELOS LASSO OPTIMOS

#2004

#2024

In [ ]:
#MODELOS RIDGE OPTIMOS

#2004

#2024

In [ ]:
#comparar resultados lasso y ridge 2004 vs 2024