#### Ciencia de datos - Primavera 2024
##### Integrantes: Magdalena Cobb, Pedro García Vassallo, Marcos Olavarría
### Trabajo Práctico 4

## 1. Lectura de la base

In [1]:
#Paquetes y librerías a usar
#!pip install openpyxl
#!pip install statsmodels

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score 
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import RocCurveDisplay
#from sklearn.metrics import plot_roc_curve
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#Lectura del documento
indi_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_individual_T124.xlsx') 
indi_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Individual_t104.dta')
hoga_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_hogar_T124.xlsx')
hoga_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Hogar_t104.dta')

# Maggie: C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/
# Peter: 'C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 4/
# Marck: C:/Users/marcos.olavarria/Documents/GitHub/CC408/TP 4/

## 2. Selección de GBA y merge

a. Eliminen todas las observaciones que no corresponden a los
aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos
Aires, y unan ambos trimestres en una sola base.

In [525]:
#Filtramos las bases para tener solo Buenos Aires
ind_2024 = indi_2024[(indi_2024['AGLOMERADO'] == 33) | (indi_2024['AGLOMERADO'] == 32)]
hog_2024 = hoga_2024[(hoga_2024['AGLOMERADO'] == 33) | (hoga_2024 ['AGLOMERADO'] == 32 )]

ind_2004 = indi_2004[(indi_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (indi_2004 ['aglomerado'] == 'Partidos del GBA' )]
hog_2004 = hoga_2004[(hoga_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (hoga_2004 ['aglomerado'] == 'Partidos del GBA' )]

ind_2004.columns = ind_2004.columns.str.upper()
hog_2004.columns = hog_2004.columns.str.upper()

In [526]:
#Eliminación de columnas redundantes (preguntas hechas solo para ocupados o desocupados)
redundantes_ind04 = [
    "CAT_INAC",
    "PP08D1", "PP08D4", "PP08F1", "PP08F2", "PP08J1", "PP08J2", "PP08J3",
    "PP11A", "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", "PP11C99", "PP11D_COD",
    "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1", "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", 
    "PP11S", "PP11T", "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8", "PP02E", 
    "PP02H", "PP02I", "CAT_OCUP", "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J", 
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO", "PP04B3_DIA", "PP04C", 
    "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA", "PP05C_1", "PP05C_2", "PP05C_3", 
    "PP05E", "PP05F", "PP05H", "PP06A", "PP06C", "PP06E", "PP06H", "PP06D", "PP07A", "PP07C", "PP07D", "PP07E", "PP07F1", "PP07F2", 
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59", "PP07H", "PP07I", "PP07J", 
    "PP07K", "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR", "TOT_P12", "PJ1_1", 
    "PJ2_1", "PJ3_1", "IDIMPP", 'PP09A', 'PP09A_ESP',  'PP09B', 'PP09C',  'PP09C_ESP',  'PP10A','PP10C',  'PP10D', 'PP10E', 
    'CH15_COD', 'CH16_COD', 'IDECINDR', 'PDECINDR', 'IDECCFR', 'PDECCFR']

redundantes_hog04 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1", 
    'IDIMPH' , 'IV1_ESP', 'IV7_ESP', 'II7_ESP', 'II8_ESP', 'IDECIFR', 'PDECIFR', 'IDECCFR', 'PDECCFR', 'MAS_500'
]

redundantes_ind24 = [
    "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8",
    "PP02E", "PP02H", "PP02I", "PP10A", "PP10C", "PP10D", "PP10E", "PP11A",
    "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", 
    "PP11C99", "PP11D_COD", "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1",
    "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", "PP11S", "PP11T",
    "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J",
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO",
    "PP04C", "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA", 'PP04B3_DIA',
    "PP05C_1", "PP05C_2", "PP05C_3", "PP05E", "PP05F", "PP05H", "PP06A", "PP06C",
    "PP06D", "PP06E", "PP06H", "PP07A", "PP07C", "PP07D", "PP07E", "PP07F1", "PP07F2",
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59",
    "PP07H", "PP07I", "PP07J", "PP07K", "PP08D1", "PP08D4", "PP08F1", "PP08F2", 
    "PP08J1", "PP08J2", "PP08J3", "PP09A", "PP09A_ESP", "PP09B", "PP09C", "PP09C_ESP",
    "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR",
    "PONDIIO", "TOT_P12", "P47T", "DECINDR", "IDECINDR", "RDECINDR", "GDECINDR", 
    "PDECINDR", "ADECINDR", "PONDII",  'PP10A',  'PP10C', 'PP10D',  'PP10E', 'CH15_COD', 'CH16_COD', 
    'IDECINDR', 'PDECINDR', 'IDECCFR', 'PDECCFR', 'CH05'
]

redundantes_hog24 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1", 'IV1_ESP', 'IV3_ESP', 'IV7_ESP', 'II7_ESP', 'II8_ESP','IDECIFR', 'PDECIFR', 'IDECCFR', 'PDECCFR', 'MAS_500'

]

In [527]:
#Sacamos las variables redundantes
ind_2004 = ind_2004.drop(columns = redundantes_ind04)
ind_2024 = ind_2024.drop(columns = redundantes_ind24)
hog_2004 = hog_2004.drop(columns = redundantes_hog04)
hog_2024 = hog_2024.drop(columns = redundantes_hog24)

In [528]:
#Sacamos de las bases individuales variables que van a aparecer en hogar, para emprolijar el merge
lista_con = ['ANO4', 'TRIMESTRE', 'REGION',  'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 
             'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'RDECCFR', 'GDECCFR','ADECCFR']

lista_con2 = ['ANO4', 'TRIMESTRE', 'REGION', 'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR',
              'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'RDECCFR', 'GDECCFR', 'ADECCFR','PONDIH']

ind_2004 = ind_2004.drop (columns = (lista_con))
ind_2024 = ind_2024.drop(columns = (lista_con2))

In [529]:
#Mergeamos bases hogar + individual para cada año
combined_04 = pd.merge(ind_2004, hog_2004, on=['CODUSU', 'NRO_HOGAR'], how='outer') #7647 obs x 124 variables
combined_24 = pd.merge(ind_2024,hog_2024,on=["CODUSU","NRO_HOGAR"], how = 'outer') #7051 obs x 120 variables

## 3. Limpieza
Limpien la base de datos tomando criterios que hagan sentido. Explicar
cualquier decisión como el tratamiento de valores faltantes (missing
values), extremos (outliers), o variables categóricas. Justifique sus
decisiones.

In [416]:
# Se usa base de datos:
# 2024: 
# - combined_24

# 2004:
# - combined_04

##### Limpieza de datos

In [530]:
# Limpieza de datos tomando criterios que hagan sentido
# print(combined_24.describe())

In [531]:
#Eliminamos valores negativos de la base 2024
# Verificar si cada columna tiene algún valor negativo
# negativos = (combined_24.select_dtypes(include=[float, int]) < 0).any()

# Filtrar las filas que contienen valores negativos (eliminar las filas con cualquier valor negativo)
combined_24_clean = combined_24[~(combined_24.select_dtypes(include=[float, int]) < 0).any(axis=1)]

# # Mostrar el DataFrame limpio
# print(combined_24_clean)

combined_24 = combined_24_clean
combined_24 #elimina 397 observaciones

,CODUSU,NRO_HOGAR,COMPONENTE,H15,MAS_500,CH03,CH04,CH06,CH07,CH08,...,RDECCFR,GDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
1,TQRMNOPPQHJNOPCDEIJAH00802435,1,2,1,S,2,2,52,2,1,...,12,12.0,12,0,2,0,98,0,0,0
2,TQRMNOPPQHJNOPCDEIJAH00802435,1,4,1,S,3,1,22,5,1,...,12,12.0,12,0,2,0,98,0,0,0
3,TQRMNOPPQHKKMMCDEIIAD00858017,1,1,1,S,1,2,52,5,2,...,12,12.0,12,0,1,0,98,0,0,0
4,TQRMNOPPQHKMQUCDEIJAH00861670,1,1,1,S,1,2,75,4,1,...,8,8.0,8,3263,1,0,98,0,0,0
5,TQRMNOPPRHJNOPCDEIJAH00793617,1,1,1,S,1,2,41,1,4,...,4,4.0,4,3206,1,0,98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQUMNOQSVHMOTSCDEIJAH00859221,1,1,1,S,1,2,61,2,1,...,8,8.0,9,1834,1,0,98,0,0,0
7047,TQUMNOQSVHMOTSCDEIJAH00859221,1,2,1,S,2,1,53,2,1,...,8,8.0,9,1834,1,0,98,0,0,0
7048,TQVMNORVXHLOTOCDEIJAH00855319,1,1,1,S,1,2,35,5,1,...,12,12.0,12,0,1,0,2,0,0,0
7049,TQVMNORVXHLOTOCDEIJAH00855319,1,2,1,S,3,2,17,5,1,...,12,12.0,12,0,1,0,2,0,0,0
7050,TQVMNORVXHLOTOCDEIJAH00855319,1,3,1,S,3,2,11,5,1,...,12,12.0,12,0,1,0,2,0,0,0

In [532]:
#Limpiar negativos 2004
# Verificar si cada columna tiene algún valor negativo 2004 
# negativos = (combined_04.select_dtypes(include=[float, int]) < 0).any()

# Filtrar las filas que contienen valores negativos (eliminar las filas con cualquier valor negativo)
combined_04_clean = combined_04[~(combined_04.select_dtypes(include=[float, int]) < 0).any(axis=1)]

# # Mostrar el DataFrame limpio
# print(combined_04_clean)

combined_04 = combined_04_clean
combined_04 #elimina 21 observaciones

,CODUSU,NRO_HOGAR,COMPONENTE,H15,MAS_500,CH03,CH04,CH06,CH07,CH08,...,DECCFR,RDECCFR,GDECCFR,ADECCFR,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,125047,1.0,1.0,Sí,S,Jefe,Varón,80.0,Casado,Obra social (incluye PAMI),...,10,10,10,10,2.0,0.0,98.0,0.0,0.0,0.0
1,125047,1.0,2.0,Sí,S,Cónyuge/Pareja,Mujer,75.0,Casado,Obra social (incluye PAMI),...,10,10,10,10,2.0,0.0,98.0,0.0,0.0,0.0
2,125098,1.0,1.0,Sí,S,Jefe,Varón,79.0,Viudo,Obra social (incluye PAMI),...,07,06,06,04,1.0,0.0,98.0,0.0,0.0,0.0
3,125169,1.0,1.0,Sí,S,Jefe,Varón,72.0,Unido,No paga ni le descuentan,...,01,01,01,01,2.0,0.0,3.0,0.0,0.0,0.0
4,125169,1.0,2.0,Sí,S,Cónyuge/Pareja,Mujer,66.0,Unido,No paga ni le descuentan,...,01,01,01,01,2.0,0.0,3.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,S,Hijo/Hijastro,Mujer,1.0,Soltero,Mutual/Prepaga/Servicio de emergencia,...,08,08,08,09,Servicio doméstico,0.0,2.0,0.0,0.0,0.0
7643,288405,1.0,1.0,Sí,S,Jefe,Varón,51.0,Casado,Obra social (incluye PAMI),...,02,02,02,02,2.0,0.0,98.0,0.0,0.0,0.0
7644,288405,1.0,2.0,Sí,S,Cónyuge/Pareja,Mujer,55.0,Casado,Obra social (incluye PAMI),...,02,02,02,02,2.0,0.0,98.0,0.0,0.0,0.0
7645,288405,1.0,3.0,Sí,S,Hijo/Hijastro,Mujer,12.0,Soltero,Obra social (incluye PAMI),...,02,02,02,02,2.0,0.0,98.0,0.0,0.0,0.0
7646,288405,1.0,4.0,Sí,S,Hijo/Hijastro,Varón,22.0,Soltero,Obra social (incluye PAMI),...,02,02,02,02,2.0,0.0,98.0,0.0,0.0,0.0

In [533]:
# ELIMINO OBSERVACIONES QUE CONTESTAN "NO SABE/ NO RESPONDE" PARA ALGUNAS PREGUNTAS DEL HOGAR. base 2004
# ns_nr = (combined_04.select_dtypes(include=[int]) == 288405).any(axis=1)
# ns_nr[ns_nr]

# combined_04_cleannsnr = combined_04[~(combined_04.select_dtypes(include=['object']) == 'Ns./Nr.').any(axis=1)]
# combined_04 = combined_04_cleannsnr

#### Valores Faltantes
- 2004 tenía 1 columna, se imputaron por la mediana
- 2024 se eliminaron los más brutos y se imputaron por la mediana los menos

##### 2004
-Tenia una columna con valores Nan = IX_MEN10, es el 50%, se imputa por la mediana.

In [534]:
# # Verificar si cada columna tiene algún valor NaN 2004
nan_values04 = combined_04.select_dtypes(include=[float, int]).isna().any()
columnas_con_nan04 = nan_values04[nan_values04]  # Esto te devuelve solo las columnas que tienen NaN
columnas_con_nan04 = columnas_con_nan04.index
print(columnas_con_nan04)

Index(['IX_MEN10'], dtype='object')

In [535]:
# proporcion_columna04 = combined_04['IX_MEN10'].isnull().sum() / len(combined_04) * 100
# proporcion_columna04 #El 50% de la columna es nan. puedo imputar por la mediana. 

# #Se imputa por la mediana
# combined_04[columnas_con_nan04] = combined_04[columnas_con_nan04].fillna(combined_04[columnas_con_nan04].median())

In [536]:
combined_04 = combined_04.drop(columns = (columnas_con_nan04))

##### 2024
- Tiene columnas con valores Nan
- Se revisa la proporción de Nan que hay por columna
- Elimino las columnas que tienen proporción de Nans > 90
- Imputo por la mediana en las columnas que su proporción de Nans < 90

In [537]:
# # Verificar si cada columna tiene algún valor NaN 2024
nan_values24 = combined_24.isna().any()

# # Filtrar las columnas que contienen valores NaN (solo mostrar las que son True)
columnas_con_nan24 = nan_values24[nan_values24] # Esto te devuelve solo las columnas que tienen NaN

print(columnas_con_nan24)

columnas_con_nan24 = columnas_con_nan24.index

CH14      True
IMPUTA    True
dtype: bool

In [538]:
#Elimino de la base de 2024 todas las columnas que tienen 
# combined_24 = combined_24.drop(columns = ["CH14", "CH15_COD", "CH16_COD", "IMPUTA", "PP04B3_DIA", "IDECIFR", "PDECIFR", "IDECCFR",'IV1_ESP', 'IV3_ESP', 'IV7_ESP', 'II7_ESP', 'II8_ESP'])

In [539]:
# # Obtengo las columnas que contienen datos faltantes, reviso que proporción de los valores faltas

# # Porcentaje de valores faltantes por columna
lista_nans_poco = []
lista_nans_50 = []
lista_nans_60 = []
lista_nans_70 = []
lista_nans_80 = []
lista_nans_90 = []
lista_nans_100 = []

for i in columnas_con_nan24:
    proporcion_columna24 = combined_24[i].isnull().sum() / len(combined_24) * 100
    
    if proporcion_columna24 < 50:
        lista_nans_poco.append(i)

    elif proporcion_columna24 >= 50 and proporcion_columna24 < 60:
        lista_nans_50.append(i)

    elif proporcion_columna24 >= 60 and proporcion_columna24 < 70:
        lista_nans_60.append(i)

    elif proporcion_columna24 >= 70 and proporcion_columna24 < 80:
        lista_nans_70.append(i)

    elif proporcion_columna24 >= 80 and proporcion_columna24 < 90:
        lista_nans_80.append(i)

    elif proporcion_columna24 >= 90 and proporcion_columna24 < 100:
        lista_nans_90.append(i)

    elif proporcion_columna24 == 100:
        lista_nans_100.append(i)

In [540]:
# Elimino las variables que tienen más de 90% de datos Nan. Me fijo antes cuantas columnas son
columnas_elim = lista_nans_90 + lista_nans_100
combined_24 = combined_24.drop(columns = (columnas_elim)) #se eliminaron ? columnas

In [541]:
# Imputo por la mediana en las columnas que su proporción de Nans < 90
columnas_ok = lista_nans_poco + lista_nans_50 +lista_nans_60 + lista_nans_70 + lista_nans_80
combined_24[columnas_ok] = combined_24[columnas_ok].fillna(combined_24[columnas_ok].median())

In [542]:
#AHORA VEMOS QUE NO HAY MAS NANS EN LA DE 2024
nan_values24 = combined_24.isna().any()

# # Filtrar las columnas que contienen valores NaN (solo mostrar las que son True)
columnas_con_nan24 = nan_values24[nan_values24] # Esto te devuelve solo las columnas que tienen NaN

print(columnas_con_nan24)

columnas_con_nan24 = columnas_con_nan24.index

Series([], dtype: bool)

### Outliers

#### 2004

In [543]:
numerica04 = [ 'P47T', 'DECINDR', 
                  'RDECINDR', 'GDECINDR', 'ADECINDR', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M',
                    'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ANO4',
                       'PONDERA', 
                        'II5_1', 'IX_TOT', 'IX_MAYEQ10', 'ITF', 'DECIFR', 
                        'RDECIFR', 'GDECIFR',  'ADECIFR', 'IPCF', 'DECCFR', 'RDECCFR',
                          'GDECCFR', 'ADECCFR']


#es igual que no categorica pero sin codusu, porque no tiene sentido sacar outliers de ahi. 
#estoy sacando COMPONENTE , CH06, CH04, ESTADO xq son tipo de dato category 
# 'REALIZADA', 'TRIMESTRE', 'REGION', 'AGLOMERADO', 'IV2', 'II1', 'II2',
      # 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4', 'H15', 'V1',
      # 'V2', 'V21', 'V22', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
      # 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19_A',
      # 'V19_B', 'II4_1', 'IV8', 'IV12_2', 'IV12_3', 'IV12_1', 'II4_2', 'II4_3',
      # 'CH13', 'II5', 'IV5', 'REALIZADA', 'TRIMESTRE', 'AGLOMERADO', 'REGION', 'II1','II2', 'IV2'

# y saque NRO HOGAR

#es igual que no categorica pero sin codusu, porque no tiene sentido sacar outliers de ahi.

In [544]:
# Verifica el tipo de datos de todas las columnas en el DataFrame
print(combined_04[numerica04].dtypes)

# Filtrar las columnas que son de tipo 'category'
categorical_columns = combined_04[numerica04].select_dtypes(include=['category']).columns

# Mostrar las columnas que son de tipo 'category'
print(f"Columnas de tipo 'category': \n{categorical_columns}")

P47T          float64
DECINDR        object
RDECINDR       object
GDECINDR       object
ADECINDR       object
V2_M          float64
V3_M          float64
V4_M          float64
V5_M          float64
V8_M          float64
V9_M          float64
V10_M         float64
V11_M         float64
V12_M         float64
V18_M         float64
V19_AM        float64
V21_M         float64
T_VI          float64
ANO4          float64
PONDERA       float64
II5_1         float64
IX_TOT        float64
IX_MAYEQ10    float64
ITF           float64
DECIFR         object
RDECIFR        object
GDECIFR        object
ADECIFR        object
IPCF          float64
DECCFR         object
RDECCFR        object
GDECCFR        object
ADECCFR        object
dtype: object
Columnas de tipo 'category':
Index([], dtype='object')

In [545]:
# Outliers
# COMBINED 04

combined_04[numerica04] = combined_04[numerica04].apply(pd.to_numeric, errors='coerce')

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_04[numerica04].quantile(0.25)
Q3 = combined_04[numerica04].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers = (combined_04[numerica04] < lower_limit) | (combined_04[numerica04] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data = combined_04[outliers.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count = outliers.sum()
print(f"Total de outliers por columna: \n{outliers_count}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data}")

# Eliminar filas con outliers
combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

combined_04 = combined_04_no_outliers

Total de outliers por columna:
P47T           496
DECINDR          0
RDECINDR         0
GDECINDR         0
ADECINDR         0
V2_M           764
V3_M             8
V4_M            13
V5_M           107
V8_M            71
V9_M             8
V10_M           15
V11_M           13
V12_M          229
V18_M            5
V19_AM           0
V21_M          107
T_VI          1118
ANO4             0
PONDERA        363
II5_1           76
IX_TOT         324
IX_MAYEQ10     194
ITF            510
DECIFR           0
RDECIFR          0
GDECIFR          0
ADECIFR          0
IPCF           550
DECCFR           0
RDECCFR          0
GDECCFR          0
ADECCFR          0
dtype: int64
Filas con outliers:
        CODUSU  NRO_HOGAR COMPONENTE H15 MAS_500            CH03   CH04  CH06  \
0     125047          1.0        1.0  Sí       S            Jefe  Varón  80.0
1     125047          1.0        2.0  Sí       S  Cónyuge/Pareja  Mujer  75.0
2     125098          1.0        1.0  Sí       S            Jefe  Varón  79.0
13    125295          1.0        1.0  Sí       S            Jefe  Varón  34.0
14    125295          1.0        2.0  Sí       S  Cónyuge/Pareja  Mujer  31.0
...        ...        ...        ...  ..     ...             ...    ...   ...
7623  287496          1.0        1.0  Sí       S            Jefe  Mujer  33.0
7625  287684          1.0        1.0  Sí       S            Jefe  Varón  53.0
7630  287810          1.0        1.0  Sí       S            Jefe  Varón  49.0
7640  288171          1.0        1.0  Sí       S            Jefe  Varón  31.0
7641  288171          1.0        2.0  Sí       S  Cónyuge/Pareja  Mujer  31.0

         CH07                                   CH08  ... DECCFR RDECCFR  \
0      Casado             Obra social (incluye PAMI)  ...     10      10
1      Casado             Obra social (incluye PAMI)  ...     10      10
2       Viudo             Obra social (incluye PAMI)  ...      7       6
13     Casado  Mutual/Prepaga/Servicio de emergencia  ...     10      10
14     Casado  Mutual/Prepaga/Servicio de emergencia  ...     10      10
...       ...                                    ...  ...    ...     ...
7623  Soltero             Obra social (incluye PAMI)  ...     10      10
7625   Casado             Obra social (incluye PAMI)  ...      8       7
7630   Casado             Obra social (incluye PAMI)  ...      8       8
7640   Casado  Mutual/Prepaga/Servicio de emergencia  ...      8       8
7641   Casado  Mutual/Prepaga/Servicio de emergencia  ...      8       8

     GDECCFR ADECCFR              VII1_1 VII1_2  \
0         10      10                 2.0    0.0
1         10      10                 2.0    0.0
2          6       4                 1.0    0.0
13        10      10                 2.0    0.0
14        10      10                 2.0    0.0
...      ...     ...                 ...    ...
7623      10       9                 1.0    0.0
7625       7       8                 3.0    0.0
7630       8       9                 2.0    0.0
7640       8       9  Servicio doméstico    0.0
7641       8       9  Servicio doméstico    0.0

                                    VII2_1 VII2_2 VII2_3 VII2_4
0                                     98.0    0.0    0.0    0.0
1                                     98.0    0.0    0.0    0.0
2                                     98.0    0.0    0.0    0.0
13    Otra persona que no vive en el hogar    0.0    0.0    0.0
14    Otra persona que no vive en el hogar    0.0    0.0    0.0
...                                    ...    ...    ...    ...
7623                                  98.0    0.0    0.0    0.0
7625                                   2.0    4.0    0.0    0.0
7630                                   3.0    1.0    0.0    0.0
7640                                   2.0    0.0    0.0    0.0
7641                                   2.0    0.0    0.0    0.0

[2513 rows x 109 columns]
Datos después de eliminar outliers:
     CODUSU  NRO_HOGAR COMPONENTE H15 MAS_500            CH03   CH04  CH06  \
3  125169          1.0        1.0  Sí       S            Jefe  Varón  72.0
4  125169          1.0        2.0  Sí       S  Cónyuge/Pareja  Mujer  66.0
5  125169          1.0        3.0  Sí       S   Hijo/Hijastro  Mujer  41.0
6  125169          1.0        4.0  Sí       S           Nieto  Varón  16.0
7  125169          1.0        5.0  Sí       S           Nieto  Mujer  13.0

                    CH07                      CH08  ... DECCFR RDECCFR  \
3                  Unido  No paga ni le descuentan  ...      1       1
4                  Unido  No paga ni le descuentan  ...      1       1
5  Separado o divorciado  No paga ni le descuentan  ...      1       1
6                Soltero  No paga ni le descuentan  ...      1       1
7                Soltero  No paga ni le descuentan  ...      1       1

  GDECCFR ADECCFR VII1_1 VII1_2 VII2_1 VII2_2 VII2_3 VII2_4
3       1       1    2.0    0.0    3.0    0.0    0.0    0.0
4       1       1    2.0    0.0    3.0    0.0    0.0    0.0
5       1       1    2.0    0.0    3.0    0.0    0.0    0.0
6       1       1    2.0    0.0    3.0    0.0    0.0    0.0
7       1       1    2.0    0.0    3.0    0.0    0.0    0.0

[5 rows x 109 columns]

#### 2024

In [546]:
#Lista de todas las variables de la base 2004
lista04 = combined_04.columns.to_list()
len(lista04)

109

In [547]:
# #Para la base 2004, reemplazo los valores de texto de las variables binarias a 0 y 1 para ya usarlas como dummies. 
# reemplazosbinarias = {
#     "Sí" : 1, 
#     "No" : 0, 
#     "S" : 1, 
#     "N" : 0, 
#     "Varón" : 1, 
#     "Mujer" : 0
# }

# combined_04 = combined_04.applymap(lambda x: reemplazosbinarias.get(x, x))

In [548]:
#variables numericas para sacar outliers
numerica24 = ['NRO_HOGAR', 'COMPONENTE', 'CH06', 'ESTADO', 'V2_M', 
                  'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM',
                    'V21_M', 'T_VI', 'ANO4', 'TRIMESTRE', 'REALIZADA', 'REGION', 'AGLOMERADO',
                      'PONDERA', 'II1', 'II2', 'II5_1', 
                        'IX_TOT', 'IX_MEN10', 'IX_MAYEQ10', 'ITF', 'DECIFR', 'RDECIFR', 'GDECIFR', 'ADECIFR',
                          'IPCF', 'DECCFR', 'RDECCFR', 'GDECCFR', 'ADECCFR', 'PONDIH', 'VII1_1', 'VII1_2', 
                          'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4']

In [549]:
#outliers 2024
combined_24[numerica24] = combined_24[numerica24].apply(pd.to_numeric, errors='coerce')

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_24[numerica24].quantile(0.25)
Q3 = combined_24[numerica24].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers24 = (combined_24[numerica24] < lower_limit) | (combined_24[numerica24] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data24 = combined_24[outliers24.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count24 = outliers24.sum()
print(f"Total de outliers por columna: \n{outliers_count24}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data24}")

# Eliminar filas con outliers
combined_24_no_outliers = combined_24[~outliers24.any(axis=1)]
print(f"Datos después de eliminar outliers: \n{combined_24_no_outliers.head()}")

combined_04 = combined_04_no_outliers

Total de outliers por columna:
NRO_HOGAR       55
COMPONENTE     141
CH06             0
ESTADO           0
V2_M          1112
V3_M            11
V4_M             3
V5_M           260
V8_M            70
V9_M             1
V10_M           56
V11_M           68
V12_M          155
V18_M            7
V19_AM           0
V21_M          438
T_VI          1603
ANO4             0
TRIMESTRE        0
REALIZADA        0
REGION           0
AGLOMERADO    1310
PONDERA        161
II1             23
II2              0
II5_1           62
IX_TOT         128
IX_MEN10       308
IX_MAYEQ10      70
ITF            382
DECIFR           0
RDECIFR          0
GDECIFR          0
ADECIFR          0
IPCF           457
DECCFR           0
RDECCFR          0
GDECCFR          0
ADECCFR          0
PONDIH         110
VII1_1         274
VII1_2         369
VII2_1           0
VII2_2         829
VII2_3         304
VII2_4          42
dtype: int64
Filas con outliers:
                             CODUSU  NRO_HOGAR  COMPONENTE  H15 MAS_500  CH03  \
3     TQRMNOPPQHKKMMCDEIIAD00858017          1           1    1       S     1
4     TQRMNOPPQHKMQUCDEIJAH00861670          1           1    1       S     1
9     TQRMNOPPRHLOONCDEIJAH00856469          1           1    1       S     1
10    TQRMNOPPRHMKLSCDEIIAD00801668          1           1    1       S     1
11    TQRMNOPPRHMKLSCDEIIAD00801668          1           2    1       S     3
...                             ...        ...         ...  ...     ...   ...
7037  TQTMNORQXHMOSQCDEIJAH00802270          1           1    1       S     1
7038  TQTMNORQXHMOSQCDEIJAH00802270          1           2    1       S     3
7039  TQTMNORQXHMOSQCDEIJAH00802270          1           3    1       S     2
7042  TQTMNOSPRHMNROCDEIJAH00860644          1           1    1       S     1
7043  TQTMNOSTRHLMKUCDEIJAH00861152          1           1    1       S     1

      CH04  CH06  CH07  CH08  ...  RDECCFR  GDECCFR  ADECCFR  PONDIH  VII1_1  \
3        2    52     5     2  ...       12     12.0       12       0       1
4        2    75     4     1  ...        8      8.0        8    3263       1
9        1    66     4     1  ...        5      5.0        6    2415      97
10       2    65     5     1  ...        2      2.0        1     107       2
11       1    32     5     4  ...        2      2.0        1     107       2
...    ...   ...   ...   ...  ...      ...      ...      ...     ...     ...
7037     2    60     2     1  ...        4      4.0        5    5793       1
7038     1    17     5     4  ...        4      4.0        5    5793       1
7039     1    59     2     1  ...        4      4.0        5    5793       1
7042     2    25     3     1  ...       10     10.0       10    1980       1
7043     2    25     1     4  ...        3      3.0        3     371       1

      VII1_2  VII2_1  VII2_2  VII2_3  VII2_4
3          0      98       0       0       0
4          0      98       0       0       0
9          0       1       0       0       0
10         0      98       0       0       0
11         0      98       0       0       0
...      ...     ...     ...     ...     ...
7037       0       2       3       0       0
7038       0       2       3       0       0
7039       0       2       3       0       0
7042       0      98       0       0       0
7043       2      98       0       0       0

[3988 rows x 107 columns]
Datos después de eliminar outliers:
                          CODUSU  NRO_HOGAR  COMPONENTE  H15 MAS_500  CH03  \
1  TQRMNOPPQHJNOPCDEIJAH00802435          1           2    1       S     2
2  TQRMNOPPQHJNOPCDEIJAH00802435          1           4    1       S     3
5  TQRMNOPPRHJNOPCDEIJAH00793617          1           1    1       S     1
6  TQRMNOPPRHJNOPCDEIJAH00793617          1           2    1       S     2
7  TQRMNOPPRHJNOPCDEIJAH00793617          1           3    0       S     3

   CH04  CH06  CH07  CH08  ...  RDECCFR  GDECCFR  ADECCFR  PONDIH  VII1_1  \
1     2    52     2     1  ...       12     12.0       12       0       2
2     1    22     5     1  ...       12     12.0       12       0       2
5     2    41     1     4  ...        4      4.0        4    3206       1
6     1    48     1     1  ...        4      4.0        4    3206       1
7     1     6     5     4  ...        4      4.0        4    3206       1

   VII1_2  VII2_1  VII2_2  VII2_3  VII2_4
1       0      98       0       0       0
2       0      98       0       0       0
5       0      98       0       0       0
6       0      98       0       0       0
7       0      98       0       0       0

[5 rows x 107 columns]

### Variables categoricas

#### 2004

In [550]:
#Armo una lista con todas las variables que no quiero que sean dummies. Incluye numercias continuas y binarias (0,1).
nocategorica04 = ['CODUSU',
 'NRO_HOGAR',
 'COMPONENTE',
 'CH06',
 'ESTADO', #Estado es categorica, pero lo dejo porque despues vamos a usar una dummy de desocupado directamente. 
 'P47T',
 'DECINDR',
 'RDECINDR',
 'GDECINDR',
 'ADECINDR',
 'V2_M',
 'V3_M',
 'V4_M',
 'V5_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V11_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'V21_M',
 'T_VI',
 'REALIZADA',
 'ANO4',
 'TRIMESTRE',
 'REGION',
 'AGLOMERADO',
 'PONDERA',
 'IV2',
 'II1',
 'II2',
 'II5_1',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'ITF',
 'DECIFR',
 'RDECIFR',
 'GDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'RDECCFR',
 'GDECCFR',
 'ADECCFR']

len(nocategorica04)

46

In [551]:
#Armo una lista de las variables categoricas para hacer dummies. Son todas las variables menos las binarias y las numericas continuas. 
categorica04 = list(set(lista04) - set(nocategorica04))
len(categorica04)

64

In [552]:
dummies04 = pd.get_dummies(combined_04[categorica04])
combined_04_cat = pd.concat([combined_04, dummies04], axis = 1)

### combined_04_cat ----- incluye dummies Y las variables originales. 

combined_04 = combined_04_cat.drop(columns = categorica04)

In [553]:
combined_04['CH06'] = combined_04['CH06'].replace('Menos de 1 año', 0)
combined_04['CH06'] = combined_04['CH06'].replace('98 y más años', 100)

combined_04['CH06'] = combined_04['CH06'].astype(int)

C:\Users\magda\AppData\Local\Temp\ipykernel_3628\1403221295.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  combined_04['CH06'] = combined_04['CH06'].replace('Menos de 1 año', 0)
C:\Users\magda\AppData\Local\Temp\ipykernel_3628\1403221295.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  combined_04['CH06'] = combined_04['CH06'].replace('98 y más años', 100)
C:\Users\magda\AppData\Local\Temp\ipykernel_3628\1403221295.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  combined_04['CH06'] = combined_04['CH06'].replace('98 y más años', 100)

#### 2024

In [554]:
#Lista de todas las variables de la base 2024
lista24 = combined_24.columns.to_list()
len(lista24)

107

In [555]:
#misma lista para 2024. variables numericas continuas (que no quiero convertir en dummies)
nocategorica24 = ['CODUSU',
 'NRO_HOGAR',
 'COMPONENTE',
 'CH06',
 'ESTADO',
 'V2_M',
 'V3_M',
 'V4_M',
 'V5_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V11_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'V21_M',
 'T_VI',
 'ANO4',
 'TRIMESTRE',
 'REALIZADA',
 'REGION',
 'AGLOMERADO',
 'PONDERA',
 'II1',
 'II2',
 'II5_1',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'ITF',
 'DECIFR',
 'RDECIFR',
 'GDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'RDECCFR',
 'GDECCFR',
 'ADECCFR',
 'PONDIH']

In [556]:
#Armo una lista de las variables categoricas para hacer dummies. Son todas las variables menos las binarias y las numericas continuas. 
categorica24 = list(set(lista24) - set(nocategorica24))
len(categorica24)

66

In [557]:
for i in categorica24: 
    print(combined_24[i].value_counts())
    print("\n")

IV2
3     2723
4     1490
2     1389
5      431
1      421
6      133
7       43
8       22
99       2
Name: count, dtype: int64


CH04
2    3442
1    3212
Name: count, dtype: int64


II5
2    6172
0     420
1      62
Name: count, dtype: int64


CH07
5    3244
2    1394
1    1255
3     409
4     339
9      13
Name: count, dtype: int64


II4_2
2    3565
1    3087
0       2
Name: count, dtype: int64


V10
2    6461
1     167
9      26
Name: count, dtype: int64


II8
1    4496
2    1966
4     186
3       4
0       2
Name: count, dtype: int64


VII1_2
0     4776
2     1219
1      290
3      179
4      127
5       28
7       14
10       8
97       7
6        6
Name: count, dtype: int64


II7
1    4220
3    1186
2     524
6     435
4     158
8      80
9      18
7      16
5      15
0       2
Name: count, dtype: int64


IV3
1    5838
2     804
3      10
4       2
Name: count, dtype: int64


II4_3
2    4910
1    1742
0       2
Name: count, dtype: int64


V17
2    5970
1     658
9      26
Name: count, dtype: int64


V12
2    6135
1     493
9      26
Name: count, dtype: int64


V15
2    5812
1     816
9      26
Name: count, dtype: int64


CH11
0    4642
1    1376
2     613
9      23
Name: count, dtype: int64


CH08
1     4052
4     1941
2      523
12     110
9       24
3        2
23       1
13       1
Name: count, dtype: int64


V19_B
2    6624
9      26
1       4
Name: count, dtype: int64


H15
1    5852
0     762
2      40
Name: count, dtype: int64


V19_A
2    6628
9      26
Name: count, dtype: int64


IV12_3
2    6616
1      38
Name: count, dtype: int64


MAS_500
S    6654
Name: count, dtype: int64


IV12_2
2    5947
1     707
Name: count, dtype: int64


IV1
1    4728
2    1874
4      32
6      12
3       5
5       3
Name: count, dtype: int64


V11
2    6350
1     278
9      26
Name: count, dtype: int64


NIVEL_ED
4    1539
3    1371
6    1016
1     844
5     831
2     686
7     367
Name: count, dtype: int64


CH13
1    3236
2    3227
0     173
9      18
Name: count, dtype: int64


CH16
1    6288
6     268
3      27
5      24
2      18
9      15
4      13
0       1
Name: count, dtype: int64


VII2_3
0     6350
4      142
5       80
6       40
3       13
12      11
1       10
47       4
97       4
Name: count, dtype: int64


V18
2    6608
9      26
1      20
Name: count, dtype: int64


V3
2    6584
1      44
9      26
Name: count, dtype: int64


V4
2    6614
9      26
1      14
Name: count, dtype: int64


IV6
1    6495
2     145
3      14
Name: count, dtype: int64


CH12
4     2856
2     1483
7     1131
6      624
1      193
0      173
8       88
9       42
5       29
3       19
99      16
Name: count, dtype: int64


II9
1    6575
3      46
4      16
2      15
0       2
Name: count, dtype: int64


V2
2    4384
1    2244
9      26
Name: count, dtype: int64


VII2_2
0     5825
3      337
4      297
5       67
2       58
98      18
6       15
11      11
1       10
7        7
9        7
96       2
Name: count, dtype: int64


V5
2    5404
1    1224
9      26
Name: count, dtype: int64


IV9
1    6517
2     121
0      16
Name: count, dtype: int64


CH15
1    5376
3     680
4     245
2     169
5     163
9      21
Name: count, dtype: int64


IV5
1    5695
2     959
Name: count, dtype: int64


VII2_1
98    3996
2      798
3      671
1      659
4      163
96     128
97     121
5       44
6       32
99      19
7       12
8       11
Name: count, dtype: int64


IV12_1
2    6405
1     249
Name: count, dtype: int64


V6
2    6045
1     583
9      26
Name: count, dtype: int64


VII1_1
1     4041
2     2156
3      183
4       84
96      73
97      30
9       25
99      23
5       18
98      11
6        6
23       3
51       1
Name: count, dtype: int64


IV4
2    2151
4    1876
1    1268
3     790
9     511
5      54
7       4
Name: count, dtype: int64


CH09
1    6274
2     318
3      50
9      12
Name: count, dtype: int64


IV11
1    4742
2    1373
3     516
0      16
4       7
Name: count, dtype: int64


V9
2    6623
9      26
1       5
Name: count, dtype: int64


IV10
1    6064
2     570
0      16
3       4
Name: count, dtype: int64


V1
1    5894
2     734
9      26
Name: count, dtype: int64


V7
2    6230
1     398
9      26
Name: count, dtype: int64


V13
2    3966
1    2662
9      26
Name: count, dtype: int64


CAT_INAC
0    3438
3    1428
4     615
1     580
5     351
7     175
6      53
2      14
Name: count, dtype: int64


V8
2    6436
1     192
9      26
Name: count, dtype: int64


CH03
3     2446
1     2322
2     1250
5      273
8       95
9       87
6       80
4       62
10      29
7       10
Name: count, dtype: int64


V21
2    5761
1     893
Name: count, dtype: int64


V16
2    3620
1    3008
9      26
Name: count, dtype: int64


II4_1
1    6067
2     585
0       2
Name: count, dtype: int64


CH10
2    4469
1    2000
3     123
0      50
9      12
Name: count, dtype: int64


V14
2    5657
1     971
9      26
Name: count, dtype: int64


IV7
1    5441
2    1173
4      26
3      14
Name: count, dtype: int64


IV8
1    6638
2      16
Name: count, dtype: int64


VII2_4
0    6612
5      26
6      16
Name: count, dtype: int64


V22
2    5858
1     796
Name: count, dtype: int64


CH14
2.0     4086
3.0      604
0.0      554
1.0      509
4.0      413
5.0      260
99.0     126
6.0       53
98.0      34
9.0        7
8.0        5
7.0        3
Name: count, dtype: int64


CAT_OCUP
0    3324
3    2481
2     738
1     102
4       9
Name: count, dtype: int64

In [558]:
#Convierto los valores de las columnas categoricas a objetos para poder hacer dummies
for i in categorica24: 
    combined_24[i] = combined_24[i].astype('object')

In [559]:
dummies24 = pd.get_dummies(combined_24[categorica24])
combined_24_cat = pd.concat([combined_24, dummies24], axis = 1)

### combined_24_cat ----- incluye dummies Y las variables originales. 
combined_24 = combined_24_cat.drop(columns = categorica24)

## 4. Analisis exploratorio
VARIABLES EXTRA, DESCRIPCION

In [560]:
#DEFINIR VARIABLES EXTRA
# Crear una nueva columna 'desocupado' con base en la condición ESTADO = 2
combined_04['desocupado'] = combined_04['ESTADO'] == 'Desocupado'
combined_24['desocupado'] = combined_24['ESTADO'] == 2

# Convertir valores booleanos a num
combined_04['desocupado'] = combined_04['desocupado'].map({True:1, False: 0})
combined_24['desocupado'] = combined_24['desocupado'].map({True:1, False: 0})

In [561]:
#DEFINIR VARIABLES EXTRA para cada ano

# Verificar el resultado
#NSE - con ingreso. agrupar variables  IPCF
# bins = [0, 3000, 5000, 7000, 10000] 
# labels = ['Bajo', 'Medio-Bajo', 'Medio', 'Alto']
# combined_04['ingreso_agrupado'] = pd.cut(df['ingreso'], bins=bins, labels=labels, right=False
                                         
#subsidios V5, V12, V19_A (MENORES DE 10 AÑOS)

In [562]:
#PROXY DE NIVEL SOCIOECONOMICO: INGRESO AGRUPADO
# Definir la función para categorizar los valores de DECCFR
def categorizar_nse(deccfr):
    deccfr_int = int(deccfr)
    if deccfr_int >= 0 and deccfr_int <= 3:
        return 'bajo'
    elif deccfr_int >= 4 and deccfr_int <= 7:
        return 'medio'
    elif deccfr_int >= 8 and deccfr_int <= 10:
        return 'alto'

# Aplicar la función para crear la nueva variable NSE
combined_04['NSE'] = combined_04['DECCFR'].apply(categorizar_nse)

combined_04 = pd.get_dummies(combined_04, columns=['NSE'], prefix='NSE')

# Aplicar la función para crear la nueva variable NSE
combined_24['NSE'] = combined_24['DECCFR'].apply(categorizar_nse)

combined_24 = pd.get_dummies(combined_24, columns=['NSE'], prefix='NSE')

## 4.5 Las tres variables extra

#### PROPORCION DE EDUCACION EN EL HOGAR

In [563]:
# Definir una función que mapee los valores de CH10_1 a categorías
def map_educacion(row):
    if row['CH10_1'] == 1 or row['CH10_1'] == 2:  # Acceder a 'CH10_1' en la fila actual
        return 1
    else:
        return 0

# Aplicar la función y crear la nueva columna 'educacion'
combined_24['educacion'] = combined_24.apply(map_educacion, axis=1)

# Agrupar por CODUSU y NRO_HOGAR
educacion_por_hogar = combined_24.groupby(['CODUSU', 'NRO_HOGAR'])

# Calcular la cantidad de componentes (personas) por hogar
cantidad_personas = educacion_por_hogar['COMPONENTE'].count().reset_index(name='cantidad_personas')

# Calcular cuántas personas en cada hogar están educadas (educacion = 1)
personas_educadas = educacion_por_hogar['educacion'].sum().reset_index(name='personas_educadas')

# Unir ambos DataFrames: cantidad de personas y cantidad de personas educadas
educacion_por_hogar = pd.merge(cantidad_personas, personas_educadas, on=['CODUSU', 'NRO_HOGAR'])

# Calcular la proporción de personas educadas por hogar
educacion_por_hogar['proporcion_educacion'] = educacion_por_hogar['personas_educadas'] / educacion_por_hogar['cantidad_personas']

# Mostrar el resultado
print(educacion_por_hogar)

                             CODUSU  NRO_HOGAR  cantidad_personas  \
0     TQRMNOPPQHJNOPCDEIJAH00802435          1                  2
1     TQRMNOPPQHKKMMCDEIIAD00858017          1                  1
2     TQRMNOPPQHKMQUCDEIJAH00861670          1                  1
3     TQRMNOPPRHJNOPCDEIJAH00793617          1                  3
4     TQRMNOPPRHKOKUCDEIJAH00857420          1                  1
...                             ...        ...                ...
2439  TQTMNORTYHJOPMCDEIJAH00794674          1                  2
2440  TQTMNOSPRHMNROCDEIJAH00860644          1                  1
2441  TQTMNOSTRHLMKUCDEIJAH00861152          1                  3
2442  TQUMNOQSVHMOTSCDEIJAH00859221          1                  2
2443  TQVMNORVXHLOTOCDEIJAH00855319          1                  3

      personas_educadas  proporcion_educacion
0                     1              0.500000
1                     0              0.000000
2                     0              0.000000
3                     1              0.333333
4                     1              1.000000
...                 ...                   ...
2439                  0              0.000000
2440                  0              0.000000
2441                  2              0.666667
2442                  0              0.000000
2443                  1              0.333333

[2444 rows x 5 columns]

In [564]:
# Definir una función que mapee los valores de CH10_1 a categorías
def map_educacion(row):
    if row['CH10_Sí, asiste'] == 1 or row['CH10_No asiste, pero asistió'] == 2:  # Acceder a 'CH10_1' en la fila actual
        return 1
    else:
        return 0

# Aplicar la función y crear la nueva columna 'educacion'
combined_04['educacion'] = combined_04.apply(map_educacion, axis=1)

# Agrupar por CODUSU y NRO_HOGAR
educacion_por_hogar = combined_04.groupby(['CODUSU', 'NRO_HOGAR'])

# Calcular la cantidad de componentes (personas) por hogar
cantidad_personas = educacion_por_hogar['COMPONENTE'].count().reset_index(name='cantidad_personas')

# Calcular cuántas personas en cada hogar están educadas (educacion = 1)
personas_educadas = educacion_por_hogar['educacion'].sum().reset_index(name='personas_educadas')

# Unir ambos DataFrames: cantidad de personas y cantidad de personas educadas
educacion_por_hogar = pd.merge(cantidad_personas, personas_educadas, on=['CODUSU', 'NRO_HOGAR'])

# Calcular la proporción de personas educadas por hogar
educacion_por_hogar['proporcion_educacion'] = educacion_por_hogar['personas_educadas'] / educacion_por_hogar['cantidad_personas']

# Mostrar el resultado
print(educacion_por_hogar)

        CODUSU  NRO_HOGAR  cantidad_personas  personas_educadas  \
0     125169          1.0                  6                  3
1     125172          2.0                  1                  0
2     125256          1.0                  3                  0
3     125397          1.0                  1                  0
4     125516          1.0                  6                  3
...        ...        ...                ...                ...
1668  287810          1.0                  2                  1
1669  287811          1.0                  4                  1
1670  287998          1.0                  3                  1
1671  288171          1.0                  1                  0
1672  288405          1.0                  4                  1

      proporcion_educacion
0                 0.500000
1                 0.000000
2                 0.000000
3                 0.000000
4                 0.500000
...                    ...
1668              0.500000
1669              0.250000
1670              0.333333
1671              0.000000
1672              0.250000

[1673 rows x 5 columns]

In [565]:
#### Variable nueva subsidio

# Definir una función que mapee los valores de V5 y V12 a categorías
def map_ayuda_social04(row):
    if row['V5_Sí'] == 1 and row['V12_Sí'] == 2:  # Acceder a 'CH10_1' en la fila actual
        return 1
    else:
        return 0

def map_ayuda_social24(row):
    if row['V5_1'] == 1 and row['V12_1'] == 1:  # Acceder a 'CH10_1' en la fila actual
        return 1
    else:
        return 0


# Aplicar la función y crear la nueva columna 'subsidio'
combined_04['ayuda_social'] = combined_04.apply(map_ayuda_social04, axis=1)

combined_24['ayuda_social'] = combined_24.apply(map_ayuda_social24, axis=1)

In [566]:
combined_24

,CODUSU,NRO_HOGAR,COMPONENTE,CH06,ESTADO,V2_M,V3_M,V4_M,V5_M,V8_M,...,CAT_OCUP_1,CAT_OCUP_2,CAT_OCUP_3,CAT_OCUP_4,desocupado,NSE_alto,NSE_bajo,NSE_medio,educacion,ayuda_social
1,TQRMNOPPQHJNOPCDEIJAH00802435,1,2,52,3,0,0,0,0,0,...,False,False,False,False,0,False,False,False,0,0
2,TQRMNOPPQHJNOPCDEIJAH00802435,1,4,22,1,0,0,0,0,0,...,False,False,True,False,0,False,False,False,1,0
3,TQRMNOPPQHKKMMCDEIIAD00858017,1,1,52,1,0,0,0,0,0,...,False,True,False,False,0,False,False,False,0,0
4,TQRMNOPPQHKMQUCDEIJAH00861670,1,1,75,1,105000,0,0,0,0,...,False,True,False,False,0,True,False,False,0,0
5,TQRMNOPPRHJNOPCDEIJAH00793617,1,1,41,3,0,0,0,0,0,...,False,False,False,False,0,False,False,True,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQUMNOQSVHMOTSCDEIJAH00859221,1,1,61,1,0,0,0,0,0,...,False,False,True,False,0,True,False,False,0,0
7047,TQUMNOQSVHMOTSCDEIJAH00859221,1,2,53,1,0,0,0,0,0,...,False,False,True,False,0,True,False,False,0,0
7048,TQVMNORVXHLOTOCDEIJAH00855319,1,1,35,1,0,0,0,0,0,...,False,False,True,False,0,False,False,False,0,0
7049,TQVMNORVXHLOTOCDEIJAH00855319,1,2,17,1,0,0,0,0,0,...,False,False,True,False,0,False,False,False,0,0
7050,TQVMNORVXHLOTOCDEIJAH00855319,1,3,11,3,0,0,0,0,0,...,False,False,False,False,0,False,False,False,1,0

## 5. Clasificacion y regularizacion

In [567]:
#FILTRAR PERSONAS Q NO RESPONDIERON ESTADO=0
#ESTADO: 0 = Entrevista individual no realizada (no respuesta al cuestionario individual)
    # 1 = Ocupado
    # 2 = Desocupado
    # 3 = Inactivo
    # 4 = Menor de 10 años

# largo_04 = len (combined_04)
# largo_24 = len (combined_24)

datos_04 = combined_04[combined_04['ESTADO'] != 0]
datos_24 = combined_24 [combined_24 ['ESTADO'] !=0]

# print (f'cant original 04',largo_04)
# print (f'cant nhueva 04', len(datos_04))

# print (f'cant original 24',largo_24)
# print (f'cant nhueva 24', len(datos_24))
# columnas_datos04 = datos_04.columns.tolist()
# columnas_datos04

In [568]:
sacar_pre_lasso = ['CODUSU', 'ANO4', 'TRIMESTRE', 'ESTADO', 'AGLOMERADO', 'COMPONENTE', 'REGION', 'REALIZADA']
datos_04 = datos_04.drop (columns = sacar_pre_lasso)
datos_24 = datos_24.drop (columns = sacar_pre_lasso)

In [569]:
#Drop ns/nr
filas_a_eliminar04 = datos_04[
    datos_04.isin(['Ns./Nr.']).any(axis=1)
].index

In [570]:
filas_a_eliminar24 = datos_24[
    datos_24.isin(['Ns./Nr.']).any(axis=1)
].index

In [578]:
len(filas_a_eliminar04)

0

#### Separación base Respondieron / no respondieron
Problema: En 2004 no hay gente que no haya respondido
- En 2024 hay 40

In [108]:
#ACA HAY QUE DEFINIR LA BASE DE RESPONDIERON Y NO RESPONDIERON PARA CADA AÑO: 

# # DataFrame para las personas con ESTADO = 0
# norespondieron_04 = combined_04[combined_04['ESTADO'] == 0]
# norespondieron_24 = combined_24[combined_24['ESTADO'] == 0]

# # DataFrame para las personas con ESTADO distinto de 0
# respondieron_04 = combined_04[combined_04['ESTADO'] != 0]
# respondieron_24 = combined_24[combined_24['ESTADO'] != 0]

# # Imprimir el número de observaciones en cada DataFrame
# print(f"Total de personas que no respondieron (2004): {len(norespondieron_04)}")
# print(f"Total de personas que respondieron (2004) {len(respondieron_04)}")

# print(f"Total de personas que no respondieron (2024): {len(norespondieron_24)}")
# print(f"Total de personas que respondieron (2024) {len(respondieron_24)}")

In [572]:
# Se separa X e y a partir de la selección de columnas numericas
X_2004 = datos_04.drop(columns=['desocupado'])
y_2004 = datos_04['desocupado']
X_2024 = datos_24.drop(columns=['desocupado'])
y_2024 = datos_24['desocupado']

In [573]:
lista_columns = X_2004.columns.tolist()
lista_columns2 = X_2024.columns.tolist()

solo_en_lista1 = set(lista_columns) - set(lista_columns2)
solo_en_lista2 = set(lista_columns2) - set(lista_columns)
print (solo_en_lista1)
print (solo_en_lista2)

{'IV7_Ns./Nr.', 'V17_Ns./Nr.', 'VII2_4_6.0', 'IV10_Letrina (sin arrastre de agua)', 'DECINDR', 'CH15_En otra localidad', 'IV7_Otra fuente', 'VII1_1_Servicio doméstico', 'VII2_1_14.0', 'V15_No', 'V1_No', 'IV10_Inodoro con botón/mochila/cadena y arrastre de agua', 'V16_Sí', 'IV1_Pieza de inquilinato', 'CH14_99', 'II9_Compartido con otra/s vivienda/s', 'VII1_2_8.0', 'CH03_Jefe', 'V19_B_Sí', 'V13_Ns./Nr.', 'CH07_Ns./Nr.', 'IV4_Caña/tabla/paja con barro/paja sola', 'II4_1_Ns./Nr.', 'V5_No', 'CH09_No', 'VII2_1_Servicio doméstico', 'IV5_0.0', 'CH16_No había nacido', 'V3_Ns./Nr.', 'V11_Sí', 'VII2_1_10.0', 'CH07_Separado o divorciado', 'V21_0.0', 'VII2_2_1.0', 'IV12_3_Sí', 'CH10_No asiste, pero asistió', 'CH08_Mutual/Prepaga/Servicio de emergencia', 'VII2_4_7.0', 'CH10_Sí, asiste', 'CH07_Casado', 'VII2_3_5.0', 'II4_3_No', 'V22_No', 'V6_Sí', 'CH04_Varón', 'CH16_En un país limítrofe', 'VII1_2_7.0', 'NIVEL_ED_Superior Universitaria Incompleta', 'V17_0.0', 'IV12_1_0.0', 'VII2_3_1.0', 'CH03_Yerno/Nuera', 'IV12_1_No', 'CH12_Primario', 'V1_Sí', 'V12_Sí', 'VII2_3_6.0', 'CH08_Mutual/prepaga/servicio de emergencia/planes y seguros públi', 'NIVEL_ED_Secundaria Incompleta', 'V5_Ns./Nr.', 'CH03_Nieto', 'V7_No', 'IV12_3_No', 'VII2_4_Servicio doméstico', 'VII2_1_3.0', 'GDECINDR', 'IV4_Chapa de cartón', 'CH12_Educación especial (discapacitado)', 'IV12_2_No', 'V2_0.0', 'II4_3_0.0', 'CH14_00', 'VII1_2_Ninguna', 'VII2_1_11.0', 'IV4_0.0', 'CH16_Ns./Nr.', 'CH14_03', 'II4_1_Sí', 'V14_Sí', 'V10_Ns./Nr.', 'VII2_4_2.0', 'CH13_No', 'V2_No', 'CH13_Ns./Nr.', 'II7_Ocupante gratuito (con permiso)', 'VII2_1_6.0', 'V13_No', 'VII1_2_2.0', 'IV12_1_Sí', 'II4_2_Ns./Nr.', 'IV3_Cemento/ladrillo fijo', 'CH11_Privado', 'V21_No', 'II5_0.0', 'V18_0.0', 'CH12_Secundario', 'VII2_3_Ninguna', 'V15_0.0', 'IV11_0.0', 'V11_0.0', 'VII2_2_Ninguna', 'CH07_Unido', 'V2_Ns./Nr.', 'II8_Ns./Nr.', 'IV3_Ladrillo suelto/tierra', 'II7_Propietario de la vivienda solamente', 'CH03_Otros familiares', 'IV2', 'VII2_2_2.0', 'CH14_08', 'V22_0.0', 'VII1_2_10.0', 'VII2_2_0.0', 'IV7_Perforación con bomba a motor', 'CH03_Cónyuge/Pareja', 'V3_Sí', 'NIVEL_ED_Primaria Incompleta (incluye educación especial)', 'VII1_2_9.0', 'VII2_1_4.0', 'VII2_3_12.0', 'V7_Sí', 'VII2_1_0.0', 'V6_0.0', 'II4_2_0.0', 'II9_Uso exclusivo del hogar', 'II7_Está en sucesión', 'NIVEL_ED_Sin instrucción', 'IV8_Sí', 'H15_0.0', 'IV1_Departamento', 'IV11_A red pública (cloaca)', 'IV5_No', 'CH16_En otra provincia (especificar)', 'V15_Ns./Nr.', 'CH09_Menor de 2 años', 'IV9_Dentro de la vivienda', 'IV1_Casa', 'V18_Sí', 'NIVEL_ED_Primaria Completa', 'CH08_No paga ni le descuentan', 'II4_2_No', 'VII1_1_71.0', 'IV11_A hoyo/excavación en la tierra', 'IV7_Perforación con bomba manual', 'V13_Sí', 'V8_No', 'II4_2_Sí', 'VII1_2_11.0', 'II4_3_Ns./Nr.', 'IV5_Ns./Nr.', 'VII1_1_Ns./Nr.', 'CH03_No familiares', 'V8_Sí', 'VII2_3_13.0', 'CH14_06', 'IV8_0.0', 'VII1_1_6.0', 'VII2_2_7.0', 'VII2_2_5.0', 'II9_Compartido con otro/s hogar/es de la misma vivienda', 'IV4_Chapa de metal sin cubierta', 'V3_No', 'V9_Sí', 'V14_0.0', 'CH14_07', 'VII2_4_5.0', 'V7_Ns./Nr.', 'CH11_0.0', 'V12_No', 'CH15_En otra provincia (especificar)', 'CH04_Mujer', 'V2_Sí', 'II8_Otro', 'IV1_Local no construido para habitación', 'V16_No', 'CH14_98', 'V9_0.0', 'IV3_0.0', 'IV4_N/S. Depto. de propiedad horizontal', 'CH11_Ns./Nr.', 'V4_Ns./Nr.', 'IV9_0.0', 'VII1_1_Otra persona que no vive en el hogar', 'V10_Sí', 'CH10_Nunca asistió', 'V4_No', 'VII1_1_1.0', 'VII2_2_11.0', 'IV5_Sí', 'VII1_1_0.0', 'VII2_3_4.0', 'V13_0.0', 'V19_A_0.0', 'II7_Inquilino/arrendatario de la vivienda', 'CH12_0.0', 'IV12_2_0.0', 'VII2_3_0.0', 'H15_No', 'CH08_Planes y seguros públicos', 'CH07_Soltero', 'V9_No', 'V19_A_Sí', 'CH12_Posgrado Universitario', 'VII2_3_10.0', 'CH16_En otra localidad de esta provincia', 'V4_Sí', 'VII2_4_8.0', 'II9_No tiene baño', 'V22_Ns./Nr.', 'IV1_Pieza en hotel/pensión', 'V21_Ns./Nr.', 'RDECINDR', 'VII2_3_7.0', 'VII2_4_4.0', 'VII1_1_3.0', 'II7_Ocupante en relación de dependencia', 'CH14_  ', 'VII2_1_98.0', 'V22_Sí', 'II7_0.0', 'V21_Sí', 'VII2_3_8.0', 'IV10_Inodoro sin botón/cadena y con arrastre de agua', 'VII1_1_7.0', 'II5_Ns./Nr.', 'V14_Ns./Nr.', 'V17_Sí', 'VII2_2_Otra persona que no vive en el hogar', 'VII2_2_8.0', 'CH14_09', 'V18_No', 'CH14_04', 'V14_No', 'CH13_0.0', 'V4_0.0', 'CH08_Ns./Nr.', 'IV6_0.0', 'VII2_1_8.0', 'VII2_4_3.0', 'IV9_Fuera de la vivienda pero dentro del terreno', 'CH15_En otro país', 'VII1_2_4.0', 'VII1_1_4.0', 'CH12_Ns./Nr.', 'VII2_2_Servicio doméstico', 'VII2_1_1.0', 'IV3_ESP_FKEXIPLAS                                    ', 'CH16_En otro país', 'V19_B_No', 'VII2_3_Servicio doméstico', 'II7_Ocupante de hecho (sin permiso)', 'IV3_Otro', 'VII2_2_10.0', 'VII2_3_3.0', 'II8_Gas de red', 'VII1_1_2.0', 'NIVEL_ED_Secundaria Completa', 'VII2_1_9.0', 'VII2_1_12.0', 'CH10_Ns./Nr.', 'CH08_Obra social (incluye PAMI)', 'CH14_01', 'VII2_4_0.0', 'VII2_3_9.0', 'V19_A_No', 'II4_1_0.0', 'V16_0.0', 'V8_Ns./Nr.', 'VII2_1_Otra persona que no vive en el hogar', 'IV7_Red pública (agua corriente)', 'V7_0.0', 'CH08_Obra social y mutual/prepaga/servicio de emergencia', 'CH12_Polimodal', 'ADECINDR', 'NIVEL_ED_Superior Universitaria Completa', 'H15_Sí', 'CH15_En un país limítrofe', 'VII1_2_Otra persona que no vive en el hogar', 'II7_Otra situación', 'VII1_2_0.0', 'CH03_Hermano', 'II9_Ns./Nr.', 'II7_Ocupante por pago de impuestos/expensas', 'II9_0.0', 'VII2_3_2.0', 'VII2_2_9.0', 'IV11_Ns/Nr', 'CH07_Viudo', 'V12_0.0', 'II4_3_Sí', 'IV4_Baldosa/losa sin cubierta', 'V6_Ns./Nr.', 'CH03_Hijo/Hijastro', 'VII2_2_4.0', 'V12_Ns./Nr.', 'IV10_0.0', 'V17_No', 'CH12_EGB', 'V10_No', 'VII1_1_8.0', 'IV7_0.0', 'IV3_Mosaico/baldosa/madera/cerámica/alfombra', 'VII2_1_2.0', 'V11_Ns./Nr.', 'IV6_Fuera de la vivienda pero dentro del terreno', 'VII1_2_6.0', 'VII1_2_Servicio doméstico', 'IV4_Membrana/cubierta asfáltica', 'CH11_Público', 'CH12_Universitario', 'CH14_05', 'CH15_Ns./Nr.', 'V10_0.0', 'V8_0.0', 'V16_Ns./Nr.', 'VII2_2_13.0', 'IV6_Por cañería dentro de la vivienda', 'V19_A_Ns./Nr.', 'VII2_1_5.0', 'VII2_2_6.0', 'VII1_2_3.0', 'II5_Sí', 'V9_Ns./Nr.', 'IV8_No', 'VII2_1_7.0', 'IV4_Pizarra/teja', 'II8_0.0', 'II7_Propietario de la vivienda y el terreno', 'II8_Gas de tubo/garrafa', 'VII2_2_3.0', 'CH15_En esta localidad', 'CH10_0.0', 'CH09_Ns./Nr.', 'VII1_2_15.0', 'V5_Sí', 'IV12_3_0.0', 'II8_Kerosene/leña/carbón', 'CH12_Terciario', 'CH03_Madre/Padre', 'IV4_Chapa de fibrocemento/plástico', 'IV11_A cámara séptica y pozo ciego', 'II5_No', 'P47T', 'II4_1_No', 'IV10_Ns./Nr.', 'VII1_1_5.0', 'CH08_Obra social y planes y seguros públicos', 'V19_B_0.0', 'VII1_2_12.0', 'CH16_En esta localidad', 'V6_No', 'VII1_2_5.0', 'CH09_Sí', 'VII2_4_1.0', 'IV11_Sólo a pozo ciego', 'CH13_Sí', 'CH14_02', 'CH12_Jardín/Preescolar', 'IV6_Fuera del terreno', 'V18_Ns./Nr.', 'IV3_ESP_                                             ', 'CH03_Suegro', 'V15_Sí', 'VII1_1_10.0', 'CH08_Obra social, mutual/prepaga/servicio de emergencia y planes', 'V19_B_Ns./Nr.', 'IV9_Fuera del terreno', 'VII1_2_1.0', 'V11_No', 'V5_0.0', 'IV1_Otro', 'IV12_2_Sí', 'V3_0.0'}
{'IV4_5', 'CH08_9', 'IV7_2', 'CH14_7.0', 'VII1_1_2', 'CH03_5', 'CH11_0', 'VII1_2_1', 'V4_1', 'V8_9', 'VII2_2_3', 'VII2_1_1', 'VII1_2_6', 'H15_1', 'CH12_6', 'CH08_13', 'IV2_2', 'IV2_5', 'V12_1', 'V9_1', 'II4_1_0', 'VII2_3_6', 'CH03_1', 'CH16_2', 'V14_1', 'IV1_5', 'V10_9', 'VII2_3_0', 'VII1_1_98', 'VII2_3_1', 'V19_B_2', 'VII1_1_96', 'II4_2_2', 'V2_9', 'II4_2_0', 'CH15_9', 'V18_2', 'VII1_1_51', 'CH07_1', 'V19_B_1', 'V17_1', 'V8_1', 'II4_3_2', 'VII1_2_3', 'V22_1', 'II7_4', 'V11_1', 'V3_1', 'VII2_2_98', 'IV4_3', 'CH09_9', 'CH15_2', 'V21_1', 'CH12_3', 'II9_0', 'CH03_6', 'V12_2', 'V16_1', 'CH08_2', 'CH16_3', 'V3_9', 'CH03_9', 'CH14_6.0', 'CH14_99.0', 'II8_1', 'CH07_3', 'V15_2', 'IV12_1_2', 'CAT_OCUP_3', 'NIVEL_ED_4', 'IV6_3', 'V9_9', 'CH07_4', 'H15_0', 'NIVEL_ED_2', 'VII1_1_99', 'IV1_3', 'IV12_2_2', 'CH16_9', 'VII1_2_0', 'IV5_1', 'IV12_1_1', 'IV4_9', 'V19_A_2', 'V11_2', 'II8_4', 'NIVEL_ED_3', 'II4_2_1', 'II8_0', 'V15_1', 'IV11_1', 'CH13_0', 'VII2_1_97', 'V5_1', 'VII2_3_97', 'V21_2', 'V5_2', 'V10_2', 'CH12_8', 'CH10_9', 'CH15_5', 'V17_2', 'V4_9', 'CH11_9', 'VII2_1_7', 'NIVEL_ED_6', 'CH04_1', 'CH14_5.0', 'VII2_1_4', 'VII1_2_97', 'CH03_4', 'CH14_8.0', 'VII2_2_7', 'CH07_5', 'IV2_7', 'V14_2', 'CH12_7', 'II7_3', 'V5_9', 'VII1_2_5', 'CAT_INAC_4', 'CH09_1', 'VII1_1_6', 'CH07_2', 'VII2_3_47', 'IV2_4', 'II7_5', 'CH16_6', 'V14_9', 'II5_2', 'V18_1', 'V11_9', 'CAT_INAC_7', 'VII2_1_3', 'CH03_3', 'IV2_6', 'V6_9', 'IV7_4', 'II8_3', 'IV1_4', 'NIVEL_ED_5', 'VII1_1_97', 'IV10_2', 'VII2_2_5', 'IV10_0', 'II7_6', 'CH07_9', 'CAT_INAC_2', 'VII2_1_6', 'V18_9', 'IV12_3_1', 'II7_7', 'IV2_1', 'IV5_2', 'II9_2', 'VII2_1_5', 'CAT_INAC_5', 'IV3_2', 'V13_1', 'V16_9', 'IV12_2_1', 'CH13_2', 'IV9_2', 'CH14_1.0', 'V7_1', 'VII2_1_8', 'CH12_99', 'II4_3_1', 'V13_2', 'V10_1', 'IV11_4', 'VII1_1_4', 'V1_9', 'IV6_1', 'CAT_INAC_1', 'IV2_8', 'PONDIH', 'CH16_5', 'CAT_OCUP_0', 'VII1_2_2', 'VII2_3_3', 'IV9_0', 'V16_2', 'CH11_1', 'II5_0', 'CH12_5', 'IV4_1', 'CH03_2', 'II4_1_2', 'IV1_1', 'VII2_3_5', 'CH08_23', 'VII1_1_9', 'VII1_2_4', 'IV10_1', 'CH15_3', 'VII1_1_23', 'II4_1_1', 'CH16_4', 'CH15_1', 'II7_1', 'V7_9', 'V6_2', 'IV12_3_2', 'CH12_9', 'II9_4', 'V3_2', 'CH14_9.0', 'IV1_2', 'VII1_1_3', 'V22_2', 'IX_MEN10', 'CH10_3', 'VII2_4_0', 'VII2_3_12', 'VII2_4_5', 'CAT_OCUP_1', 'IV2_3', 'CH03_10', 'VII1_1_1', 'VII2_2_4', 'CH10_2', 'CH08_3', 'V19_B_9', 'CH14_4.0', 'II4_3_0', 'CH08_4', 'II8_2', 'V15_9', 'CH03_8', 'II7_2', 'IV6_2', 'CH08_1', 'IV10_3', 'IV11_0', 'IV2_99', 'CH14_3.0', 'II9_3', 'II7_0', 'CH16_0', 'VII2_2_2', 'CAT_OCUP_4', 'CH13_9', 'IV3_1', 'CH11_2', 'V8_2', 'CAT_OCUP_2', 'CH14_2.0', 'VII2_2_11', 'V19_A_9', 'VII2_1_96', 'H15_2', 'V13_9', 'VII2_2_0', 'VII1_1_5', 'NIVEL_ED_1', 'V17_9', 'VII2_3_4', 'IV9_1', 'CH08_12', 'CH12_4', 'CH16_1', 'II7_8', 'CH03_7', 'VII2_1_2', 'V2_2', 'CH13_1', 'CAT_INAC_0', 'VII2_2_1', 'CAT_INAC_3', 'IV4_2', 'IV3_4', 'VII1_2_7', 'V7_2', 'CH12_1', 'IV1_6', 'CH15_4', 'IV7_1', 'V2_1', 'II7_9', 'CH10_0', 'V4_2', 'IV11_3', 'CH14_98.0', 'VII2_4_6', 'IV8_1', 'CH10_1', 'V1_2', 'CAT_INAC_6', 'VII1_2_10', 'CH14_0.0', 'IV4_4', 'V9_2', 'IV7_3', 'V12_9', 'VII2_2_9', 'CH12_2', 'IV8_2', 'IV11_2', 'VII2_2_6', 'VII2_1_99', 'V6_1', 'CH09_3', 'VII2_1_98', 'CH04_2', 'IV3_3', 'V1_1', 'II9_1', 'CH12_0', 'IV4_7', 'CH09_2', 'VII2_2_96', 'NIVEL_ED_7'}

### Separación Train Test

In [574]:
#Partir la base train test para cada ano. 
#Semilla 101
#agregar columna de unos (1)
x_train24, x_test24, y_train_24, y_test_24 = train_test_split(X_2024, y_2024, test_size=0.3, random_state=101)
x_train04, x_test04, y_train_04, y_test_04 = train_test_split(X_2004, y_2004, test_size=0.3, random_state=101)

# x_train_04 = sm.add_constant(x_train_04) #AGREGO COLUMNA DE UNOS
# x_train_24 = sm.add_constant(x_train_24)

In [575]:
tipos_de_datos = x_train04.dtypes 
print(tipos_de_datos)

NRO_HOGAR       float64
CH06              int32
P47T            float64
DECINDR           int64
RDECINDR          int64
                 ...
NSE_alto           bool
NSE_bajo           bool
NSE_medio          bool
educacion         int64
ayuda_social      int64
Length: 410, dtype: object

### Estandarizar

In [576]:
# Identificar las columnas booleanas, float e int
columnas_a_estandarizar_04 = x_train04.select_dtypes(include=['int64', 'float64']).columns
columnas_a_estandarizar_24 = x_train24.select_dtypes(include=['int64', 'float64']).columns

# Inicializar el estandarizador
sc_04 = StandardScaler()
sc_24 = StandardScaler()

# Estandarizamos las observaciones de entrenamiento
x_train_04_transformed = x_train04.copy()
x_train_04_transformed[columnas_a_estandarizar_04] = sc_04.fit_transform(x_train04[columnas_a_estandarizar_04])

x_train_24_transformed = x_train24.copy()
x_train_24_transformed[columnas_a_estandarizar_24] = sc_24.fit_transform(x_train24[columnas_a_estandarizar_24])

# Estandarizamos las observaciones de test usando el estandarizador ya ajustado
x_test_04_transformed = x_test04.copy()
x_test_04_transformed[columnas_a_estandarizar_04] = sc_04.transform(x_test04[columnas_a_estandarizar_04])

x_test_24_transformed = x_test24.copy()
x_test_24_transformed[columnas_a_estandarizar_24] = sc_24.transform(x_test24[columnas_a_estandarizar_24])

# Estadisticas luego de estandarizar
print(x_train_24_transformed.describe().T)

x_train_04 = x_train_04_transformed
x_test_04 = x_test_04_transformed
x_train_24 = x_train_24_transformed
x_test24 = x_test_24_transformed

               count          mean       std       min       25%       50%  \
NRO_HOGAR     4629.0  7.367909e-17  1.000108 -0.025939 -0.025939 -0.025939
CH06          4629.0 -1.534981e-16  1.000108 -1.627513 -0.865645 -0.058961
V2_M          4629.0  1.074487e-17  1.000108 -0.269809 -0.269809 -0.269809
V3_M          4629.0  3.069962e-18  1.000108 -0.028562 -0.028562 -0.028562
V4_M          4629.0 -3.069962e-18  1.000108 -0.019109 -0.019109 -0.019109
V5_M          4629.0  0.000000e+00  1.000108 -0.155859 -0.155859 -0.155859
V8_M          4629.0 -1.841977e-17  1.000108 -0.065565 -0.065565 -0.065565
V9_M          4629.0 -6.139924e-18  1.000108 -0.014700 -0.014700 -0.014700
V10_M         4629.0 -1.534981e-18  1.000108 -0.019348 -0.019348 -0.019348
V11_M         4629.0 -1.611730e-17  1.000108 -0.085677 -0.085677 -0.085677
V12_M         4629.0 -1.534981e-17  1.000108 -0.101820 -0.101820 -0.101820
V18_M         4629.0  6.139924e-18  1.000108 -0.017815 -0.017815 -0.017815
V19_AM        4629.0  0.000000e+00  0.000000  0.000000  0.000000  0.000000
V21_M         4629.0 -2.455970e-17  1.000108 -0.127410 -0.127410 -0.127410
T_VI          4629.0 -7.674905e-18  1.000108 -0.124780 -0.124780 -0.124780
PONDERA       4629.0  1.435207e-16  1.000108 -1.955432 -0.649557 -0.089644
II1           4629.0  8.826141e-17  1.000108 -2.744057 -0.991782 -0.115645
II2           4629.0  1.488932e-16  1.000108 -2.382817 -1.235645 -0.088473
II5_1         4629.0  2.302472e-17  1.000108 -0.091893 -0.091893 -0.091893
IX_TOT        4629.0  6.370171e-17  1.000108 -1.438942 -0.912641  0.139960
IX_MEN10      4629.0  7.444658e-17  1.000108 -0.620731 -0.620731 -0.620731
IX_MAYEQ10    4629.0 -1.688479e-17  1.000108 -1.486762 -0.801623 -0.116484
ITF           4629.0 -1.151236e-17  1.000108 -0.400394 -0.400394 -0.192254
DECIFR        4629.0 -1.181935e-16  1.000108 -2.095859 -0.806010  0.225870
RDECIFR       4629.0  1.688479e-17  1.000108 -2.043308 -0.767962  0.252314
GDECIFR       4629.0  1.627080e-16  1.000108 -2.078469 -0.793857  0.233833
ADECIFR       4629.0 -9.823879e-17  1.000108 -2.047083 -0.770517  0.250735
IPCF          4629.0  4.988688e-18  1.000108 -0.410218 -0.410218 -0.222641
DECCFR        4629.0  1.158911e-16  1.000108 -1.914252 -0.934966  0.289142
RDECCFR       4629.0  5.525932e-17  1.000108 -1.885269 -0.910495  0.064280
GDECCFR       4629.0 -9.516883e-17  1.000108 -1.899473 -0.923433  0.296618
ADECCFR       4629.0  1.458232e-17  1.000108 -1.884150 -0.909737  0.064677
PONDIH        4629.0 -6.907415e-17  1.000108 -0.902766 -0.902766 -0.170619
II5_1         4629.0  2.302472e-17  1.000108 -0.096832 -0.096832 -0.096832
educacion     4629.0  5.295685e-17  1.000108 -0.645339 -0.645339 -0.645339
ayuda_social  4629.0  2.916464e-17  1.000108 -0.129199 -0.129199 -0.129199

                   75%        max
NRO_HOGAR    -0.025939  67.429311
CH06          0.747724   2.629987
V2_M         -0.269809  33.217685
V3_M         -0.028562  44.638296
V4_M         -0.019109  63.162964
V5_M         -0.155859  20.789474
V8_M         -0.065565  42.945632
V9_M         -0.014700  68.029405
V10_M        -0.019348  67.442296
V11_M        -0.085677  33.126737
V12_M        -0.101820  30.273625
V18_M        -0.017815  66.645679
V19_AM        0.000000   0.000000
V21_M        -0.127410  42.897488
T_VI         -0.124780  62.388756
PONDERA       0.522292   5.665554
II1           0.760493   5.141180
II2           1.058699   4.500215
II5_1        -0.091893  12.996499
IX_TOT        0.666261   4.350367
IX_MEN10      0.479753   5.982171
IX_MAYEQ10    0.568655   3.994351
ITF           0.108402  27.409248
DECIFR        0.999780   0.999780
RDECIFR       1.017521   1.017521
GDECIFR       1.004601   1.004601
ADECIFR       1.016675   1.016675
IPCF          0.100276  26.449653
DECCFR        1.023607   1.023607
RDECCFR       1.039054   1.039054
GDECCFR       1.028648   1.028648
ADECCFR       1.039090   1.039090
PONDIH        0.630096   7.099046
II5_1        -0.096832  10.327205
educacion     1.549573   1.549573
ayuda_social -0.129199   7.740019

### Lasso

In [577]:
#Regresion logistica con penalidad LASSO (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_lasso = log04_lasso.predict_proba(x_train_04)[:,1]
y_pred_log04_lasso = log04_lasso.predict(x_test_04)

#### Regresion logistica para 2024
log24_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_lasso = log24_lasso.predict_proba(x_train_24)[:,1]
y_pred_log24_lasso = log24_lasso.predict(x_test_24)

ValueError: Cannot cast object dtype to float64

In [394]:
#### Medidas de precision Regresion logistica LASSO para 2004
#Matriz de confusion
conflog04_lasso = confusion_matrix(y_test_04, y_pred_log04_lasso) 
print("Matriz de confusion (Reg Log LASSO 2004)\n", conflog04_lasso)

#AUC
auc_log04_lasso = roc_auc_score(y_test_04, y_pred_log04_lasso)
print('\nAUC Reg Log (2004): %.4f' %auc_log04_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l04 = mean_squared_error(y_test_04, y_pred_log04_lasso)
print("Error cuadrático medio:", ecm_a1_l04) 

#Accuracy
accuracy_log04_lasso = accuracy_score(y_test_04, y_pred_log04_lasso)
print("La accuracy del modelo (Reg Log LASSO 2004) es: %.4f" %accuracy_log04_lasso)

NameError: name 'y_pred_log04_lasso' is not defined

In [ ]:
#### Medidas de precision Regresion logistica LASSO para 2024
#Matriz de confusion
conflog24_lasso = confusion_matrix(y_test_24, y_pred_log24_lasso) 
print("Matriz de confusion (Reg Log LASSO 2024)\n", conflog24_lasso)

#AUC
auc_log24_lasso = roc_auc_score(y_test_24, y_pred_log24_lasso)
print('\nAUC Reg Log LASSO (2024): %.4f' %auc_log24_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l24 = mean_squared_error(y_test_24, y_pred_log24_lasso)
print("Error cuadrático medio:", ecm_a1_l24) 

#Accuracy
accuracy_log24_lasso = accuracy_score(y_test_24, y_pred_log24_lasso)
print("La accuracy del modelo (Reg Log LASSO 2024) es: %.4f" %accuracy_log24_lasso)

### Ridge

In [ ]:
#Regresion logistica con penalidad ridge (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_ridge = log04_ridge.predict_proba(x_train_04)[:,1]
y_pred_log04_ridge = log04_ridge.predict(x_test_04)

#### Regresion logistica para 2024
log24_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_ridge = log24_ridge.predict_proba(x_train_24)[:,1]
y_pred_log24_ridge = log24_ridge.predict(x_test_24)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2004
#Matriz de confusion
conflog04_ridge = confusion_matrix(y_test_04, y_pred_log04_ridge) 
print("Matriz de confusion (Reg Log ridge 2004)\n", conflog04_ridge)

#AUC
auc_log04_ridge = roc_auc_score(y_test_04, y_pred_log04_ridge)
print('\nAUC Reg Log ridge (2004): %.4f' %auc_log04_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r04 = mean_squared_error(y_test_04, y_pred_log04_ridge)
print("Error cuadrático medio:", ecm_a1_r04)  

#Accuracy
accuracy_log04_ridge = accuracy_score(y_test_04, y_pred_log04_ridge)
print("La accuracy del modelo (Reg Log ridge 2004) es: %.4f" %accuracy_log04_ridge)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2024
#Matriz de confusion
conflog24_ridge = confusion_matrix(y_test_24, y_pred_log24_ridge) 
print("Matriz de confusion (Reg Log ridge 2024)\n", conflog04_ridge)

#AUC
auc_log24_ridge = roc_auc_score(y_test_24, y_pred_log24_ridge)
print('\nAUC Reg Log ridge (2024): %.4f' %auc_log24_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r24 = mean_squared_error(y_test_24, y_pred_log24_ridge)
print("Error cuadrático medio:", ecm_a1_r24) 

#Accuracy
accuracy_log24_ridge = accuracy_score(y_test_24, y_pred_log24_ridge)
print("La accuracy del modelo (Reg Log ridge 2024) es: %.4f" %accuracy_log24_ridge)

### Selección de alpha

In [ ]:
# Cross validation para elegir el alpha para los metodos de regularizacion
from sklearn.linear_model import LogisticRegressionCV

#LASSO 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#LASSO 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_24.C_[0]))

In [ ]:
#Ridge 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#Ridge 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_24.C_[0]))

In [ ]:
#boxplot usando seaborn: distribucion del error de prediccion para cada alpha

#boxplot usando seaborn: distribucion del error de prediccion para cada alpha
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

# Supongamos que tienes los resultados de la cross-validation en un DataFrame
# Donde 'lambda_values' es una lista de los valores de lambda probados
# 'accuracies' es una lista de listas o un DataFrame con los accuracies para cada lambda

# Ejemplo de datos simulados:
lambda_values = [0.1, 1, 10, 100]  # Valores de lambda
accuracies = [
    [0.80, 0.82, 0.81, 0.83],  # Accuracy para lambda=0.1
    [0.75, 0.76, 0.77, 0.75],  # Accuracy para lambda=1
    [0.60, 0.62, 0.61, 0.63],  # Accuracy para lambda=10
    [0.55, 0.57, 0.56, 0.54]   # Accuracy para lambda=100
]

# Crear un DataFrame con los resultados
df = pd.DataFrame(accuracies, columns=[f'Fold {i+1}' for i in range(len(accuracies[0]))], index=lambda_values)

# Ahora necesitamos convertir este DataFrame a formato largo para seaborn (usando melt)
df_melted = df.reset_index().melt(id_vars='index', var_name='Fold', value_name='Accuracy')
df_melted.rename(columns={'index': 'Lambda'}, inplace=True)

# Crear el gráfico de boxplot
plt.figure(figsize=(10, 6))
sns.boxplot(x='Lambda', y='Accuracy', data=df_melted)

# Títulos y etiquetas
plt.title('Distribución del Accuracy para diferentes valores de Lambda (Regresión Logística con Lasso)', fontsize=14)
plt.xlabel('Valor de Lambda', fontsize=12)
plt.ylabel('Accuracy', fontsize=12)

In [ ]:
# line plot 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score

# Supongamos que tienes tus datos X (características) y y (objetivo)
# X = tus datos de características (pandas DataFrame o numpy array)
# y = tus datos de objetivo (vector de etiquetas)

# Valores de lambda (o alpha en sklearn)
lambda_values = [0.1, 1, 10, 100, 1000]  # Diferentes valores de lambda (alpha)
proporcion_ignoradas = []  # Para almacenar la proporción de variables ignoradas

# Supongamos que tienes un modelo Lasso
# X, y = tus datos (asegúrate de tenerlos preparados previamente)

for lambda_val in lambda_values:
    # Ajustar el modelo Lasso con el valor de lambda (alpha)
    lasso = Lasso(alpha=lambda_val)
    lasso.fit(X, y)
 # Contar cuántos coeficientes son exactamente cero
    coef_zeros = np.sum(lasso.coef_ == 0)
    
    # Calcular la proporción de variables ignoradas
    proporcion_ignoradas = coef_zeros / len(lasso.coef_)
    proporcion_ignoradas.append(proporcion_ignoradas)

# Crear un DataFrame con los resultados
df_ignoradas = pd.DataFrame({
    'Lambda': lambda_values,
    'Proporcion_Ignoradas': proporcion_ignoradas
})

# Crear el gráfico de lineplot
plt.figure(figsize=(10, 6))
sns.lineplot(x='Lambda', y='Proporcion_Ignoradas', data=df_ignoradas, marker='o')

# Títulos y etiquetas
plt.title('Proporción de Variables Ignoradas por el Modelo (Regresión Lasso) en función de Lambda', fontsize=14)
plt.xlabel('Valor de Lambda', fontsize=12)
plt.ylabel('Proporción de Variables Ignoradas', fontsize=12)
plt.xscale('log')  # Usar escala logarítmica para los valores de lambda
plt.show()

In [ ]:
#MODELOS LASSO OPTIMOS

#2004

#2024

In [ ]:
#MODELOS RIDGE OPTIMOS

#2004

#2024

In [ ]:
#comparar resultados lasso y ridge 2004 vs 2024