#### Ciencia de datos - Primavera 2024
##### Integrantes: Magdalena Cobb, Pedro García Vassallo, Marcos Olavarría
### Trabajo Práctico 4

# 1. LECTURA

In [1]:
#Paquetes y librerías a usar
# CHEQUEO DE CAMBIOS
#!pip install openpyxl
#!pip install statsmodels

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm 

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score 
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import RocCurveDisplay
#from sklearn.metrics import plot_roc_curve
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#Lectura del documento
indi_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_individual_T124.xlsx') 
indi_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Individual_t104.dta')
hoga_2024 = pd.read_excel('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/usu_hogar_T124.xlsx')
hoga_2004 = pd.read_stata('C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/Hogar_t104.dta')

# Maggie: C:/Users/magda/OneDrive/Documents/GitHub/CC408-T1-5/TP 4/
# Peter: 'C:/Users/SAMSUNG/Documents/GitHub/CC408-T1-5/TP 4/
# Marck: 'C:/Users/marcos.olavarria/Documents/GitHub/CC408/TP 4/

# 2. Selección de GBA y merge

a. Eliminen todas las observaciones que no corresponden a los
aglomerados de Ciudad Autónoma de Buenos Aires o Gran Buenos
Aires, y unan ambos trimestres en una sola base.

In [20]:
#Filtramos las bases para tener solo Buenos Aires
ind_2024 = indi_2024[(indi_2024['AGLOMERADO'] == 33) | (indi_2024['AGLOMERADO'] == 32)]
hog_2024 = hoga_2024[(hoga_2024['AGLOMERADO'] == 33) | (hoga_2024 ['AGLOMERADO'] == 32 )]

ind_2004 = indi_2004[(indi_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (indi_2004 ['aglomerado'] == 'Partidos del GBA' )]
hog_2004 = hoga_2004[(hoga_2004['aglomerado'] == 'Ciudad de Buenos Aires') | (hoga_2004 ['aglomerado'] == 'Partidos del GBA' )]

ind_2004.columns = ind_2004.columns.str.upper()
hog_2004.columns = hog_2004.columns.str.upper()

In [21]:
#Eliminación de columnas redundantes (preguntas hechas solo para ocupados o desocupados)
redundantes_ind04 = [
    "CAT_INAC",
    "PP08D1", "PP08D4", "PP08F1", "PP08F2", "PP08J1", "PP08J2", "PP08J3",
    "PP11A", "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", "PP11C99", "PP11D_COD",
    "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1", "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", 
    "PP11S", "PP11T", "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8", "PP02E", 
    "PP02H", "PP02I", "CAT_OCUP", "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J", 
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO", "PP04B3_DIA", "PP04C", 
    "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA", "PP05C_1", "PP05C_2", "PP05C_3", 
    "PP05E", "PP05F", "PP05H", "PP06A", "PP06C", "PP06E", "PP06H", "PP07A", "PP07C", "PP07D", "PP07F1", "PP07F2", 
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59", "PP07H", "PP07I", "PP07J", 
    "PP07K", "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR", "TOT_P12", "PJ1_1", 
    "PJ2_1", "IDIMPP"
]

redundantes_hog04 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1"
]

redundantes_ind24 = [
    "PP02C1", "PP02C2", "PP02C3", "PP02C4", "PP02C5", "PP02C6", "PP02C7", "PP02C8",
    "PP02E", "PP02H", "PP02I", "PP10A", "PP10C", "PP10D", "PP10E", "PP11A",
    "PP11B_COD", "PP11B1", "PP11B2_MES", "PP11B2_ANO", "PP11B2_DIA", "PP11C", 
    "PP11C99", "PP11D_COD", "PP11G_ANO", "PP11G_MES", "PP11G_DIA", "PP11L", "PP11L1",
    "PP11M", "PP11N", "PP11O", "PP11P", "PP11Q", "PP11R", "PP11S", "PP11T",
    "PP03C", "PP03D", "PP3E_TOT", "PP3F_TOT", "PP03G", "PP03H", "PP03I", "PP03J",
    "INTENSI", "PP04A", "PP04B_COD", "PP04B1", "PP04B2", "PP04B3_MES", "PP04B3_ANO",
    "PP04C", "PP04C99", "PP04D_COD", "PP04G", "PP05B2_MES", "PP05B2_ANO", "PP05B2_DIA",
    "PP05C_1", "PP05C_2", "PP05C_3", "PP05E", "PP05F", "PP05H", "PP06A", "PP06C",
    "PP06D", "PP06E", "PP06H", "PP07A", "PP07C", "PP07D", "PP07E", "PP07F1", "PP07F2",
    "PP07F3", "PP07F4", "PP07F5", "PP07G1", "PP07G2", "PP07G3", "PP07G4", "PP07G_59",
    "PP07H", "PP07I", "PP07J", "PP07K", "PP08D1", "PP08D4", "PP08F1", "PP08F2", 
    "PP08J1", "PP08J2", "PP08J3", "PP09A", "PP09A_ESP", "PP09B", "PP09C", "PP09C_ESP",
    "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR",
    "PONDIIO", "TOT_P12", "P47T", "DECINDR", "IDECINDR", "RDECINDR", "GDECINDR", 
    "PDECINDR", "ADECINDR", "PONDII"
]

redundantes_hog24 = [
    "II3",
    "II3_1",
    "II6",
    "II6_1"
]

In [22]:
ind_2004 = ind_2004.drop(columns = redundantes_ind04)
ind_2024 = ind_2024.drop(columns = redundantes_ind24)
hog_2004 = hog_2004.drop(columns = redundantes_hog04)
hog_2024 = hog_2024.drop(columns = redundantes_hog24)

In [23]:
lista_con = ['ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 
             'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR']

lista_con2 = ['ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR',
              'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']

ind_2004 = ind_2004.drop (columns = (lista_con))
ind_2024 = ind_2024.drop(columns = (lista_con2))

In [24]:
combined_04 = pd.merge(ind_2004, hog_2004, on=['CODUSU', 'NRO_HOGAR'], how='outer')
combined_24 = pd.merge(ind_2024,hog_2024,on=["CODUSU","NRO_HOGAR"], how = 'outer')

In [8]:
lista_columnas = combined_24.columns.tolist()
lista_columnas

['CODUSU',
 'NRO_HOGAR',
 'COMPONENTE',
 'H15',
 'CH03',
 'CH04',
 'CH05',
 'CH06',
 'CH07',
 'CH08',
 'CH09',
 'CH10',
 'CH11',
 'CH12',
 'CH13',
 'CH14',
 'CH15',
 'CH15_COD',
 'CH16',
 'CH16_COD',
 'NIVEL_ED',
 'ESTADO',
 'CAT_OCUP',
 'CAT_INAC',
 'IMPUTA',
 'PP04B3_DIA',
 'V2_M',
 'V3_M',
 'V4_M',
 'V5_M',
 'V8_M',
 'V9_M',
 'V10_M',
 'V11_M',
 'V12_M',
 'V18_M',
 'V19_AM',
 'V21_M',
 'T_VI',
 'ANO4',
 'TRIMESTRE',
 'REALIZADA',
 'REGION',
 'MAS_500',
 'AGLOMERADO',
 'PONDERA',
 'IV1',
 'IV1_ESP',
 'IV2',
 'IV3',
 'IV3_ESP',
 'IV4',
 'IV5',
 'IV6',
 'IV7',
 'IV7_ESP',
 'IV8',
 'IV9',
 'IV10',
 'IV11',
 'IV12_1',
 'IV12_2',
 'IV12_3',
 'II1',
 'II2',
 'II4_1',
 'II4_2',
 'II4_3',
 'II5',
 'II5_1',
 'II7',
 'II7_ESP',
 'II8',
 'II8_ESP',
 'II9',
 'V1',
 'V2',
 'V21',
 'V22',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19_A',
 'V19_B',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'ITF',
 'DECIFR',
 'IDECIFR',
 'RDECIFR',
 'GDECIFR',
 'PDECIFR',
 'ADECIFR',
 'IPCF',
 'DECCFR',
 'IDECCFR',
 'RDECCFR',
 'GDECCFR',
 'PDECCFR',
 'ADECCFR',
 'PONDIH',
 'VII1_1',
 'VII1_2',
 'VII2_1',
 'VII2_2',
 'VII2_3',
 'VII2_4']

In [25]:
combined_24

,CODUSU,NRO_HOGAR,COMPONENTE,H15,CH03,CH04,CH05,CH06,CH07,CH08,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNOPPQHJNOPCDEIJAH00802435,1,1,1,1,1,1966-07-14 00:00:00,57,2,1,...,12.0,NaN,12,0,2,0,98,0,0,0
1,TQRMNOPPQHJNOPCDEIJAH00802435,1,2,1,2,2,1971-08-17 00:00:00,52,2,1,...,12.0,NaN,12,0,2,0,98,0,0,0
2,TQRMNOPPQHJNOPCDEIJAH00802435,1,4,1,3,1,2002-01-04 00:00:00,22,5,1,...,12.0,NaN,12,0,2,0,98,0,0,0
3,TQRMNOPPQHKKMMCDEIIAD00858017,1,1,1,1,2,1971-05-09 00:00:00,52,5,2,...,12.0,NaN,12,0,1,0,98,0,0,0
4,TQRMNOPPQHKMQUCDEIJAH00861670,1,1,1,1,2,1948-07-24 00:00:00,75,4,1,...,8.0,NaN,8,3263,1,0,98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7046,TQUMNOQSVHMOTSCDEIJAH00859221,1,1,1,1,2,1962-08-07 00:00:00,61,2,1,...,8.0,NaN,9,1834,1,0,98,0,0,0
7047,TQUMNOQSVHMOTSCDEIJAH00859221,1,2,1,2,1,1971-01-13 00:00:00,53,2,1,...,8.0,NaN,9,1834,1,0,98,0,0,0
7048,TQVMNORVXHLOTOCDEIJAH00855319,1,1,1,1,2,1988-08-22 00:00:00,35,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0
7049,TQVMNORVXHLOTOCDEIJAH00855319,1,2,1,3,2,2006-06-26 00:00:00,17,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0
7050,TQVMNORVXHLOTOCDEIJAH00855319,1,3,1,3,2,2013-01-19 00:00:00,11,5,1,...,12.0,NaN,12,0,1,0,2,0,0,0

# 2. Limpieza
Limpien la base de datos tomando criterios que hagan sentido. Explicar
cualquier decisión como el tratamiento de valores faltantes (missing
values), extremos (outliers), o variables categóricas. Justifique sus
decisiones.

In [73]:
# Se usa base de datos:
# 2024: 
# - combined_24

# 2004:
# - combined_04

##### Limpieza de datos

In [26]:
# Limpieza de datos tomando criterios que hagan sentido
combined_24
print(combined_24.describe())

         NRO_HOGAR   COMPONENTE          H15         CH03         CH04  \
count  7051.000000  7051.000000  7051.000000  7051.000000  7051.000000
mean      1.023259     2.393703     0.890512     2.413558     1.521912
std       0.848209     1.563007     0.330372     1.633691     0.499555
min       1.000000     1.000000     0.000000     1.000000     1.000000
25%       1.000000     1.000000     1.000000     1.000000     1.000000
50%       1.000000     2.000000     1.000000     2.000000     2.000000
75%       1.000000     3.000000     1.000000     3.000000     2.000000
max      51.000000    13.000000     2.000000    10.000000     2.000000

              CH06         CH07         CH08         CH09         CH10  ...  \
count  7051.000000  7051.000000  7051.000000  7051.000000  7051.000000  ...
mean     37.870940     3.443483     2.167778     1.087789     1.714225  ...
std      22.847389     1.670615     1.932937     0.451736     0.603202  ...
min      -1.000000     1.000000     1.000000     1.000000     0.000000  ...
25%      18.000000     2.000000     1.000000     1.000000     1.000000  ...
50%      36.000000     4.000000     1.000000     1.000000     2.000000  ...
75%      56.000000     5.000000     4.000000     1.000000     2.000000  ...
max      97.000000     9.000000    23.000000     9.000000     9.000000  ...

           GDECCFR  PDECCFR     ADECCFR        PONDIH       VII1_1  \
count  7051.000000      0.0  7051.00000   7051.000000  7051.000000
mean      7.986952      NaN     7.94554   2262.609275     3.610977
std       4.109612      NaN     4.11641   2671.963724    14.107580
min       0.000000      NaN     0.00000      0.000000     1.000000
25%       4.000000      NaN     4.00000      0.000000     1.000000
50%       9.000000      NaN     9.00000   1678.000000     1.000000
75%      12.000000      NaN    12.00000   3895.000000     2.000000
max      12.000000      NaN    12.00000  21006.000000    99.000000

            VII1_2       VII2_1       VII2_2       VII2_3       VII2_4
count  7051.000000  7051.000000  7051.000000  7051.000000  7051.000000
mean      0.731953    63.739895     0.749397     0.285633     0.033754
std       3.441330    45.830293     5.582930     2.758372     0.427755
min       0.000000     1.000000     0.000000     0.000000     0.000000
25%       0.000000     3.000000     0.000000     0.000000     0.000000
50%       0.000000    98.000000     0.000000     0.000000     0.000000
75%       1.000000    98.000000     0.000000     0.000000     0.000000
max      97.000000    99.000000    98.000000    97.000000     6.000000

[8 rows x 113 columns]

In [27]:
# Identificar filas con valores negativos
negativos = combined_24.lt(0).any(axis=1)

# Contar las observaciones con valores negativos
conteo_negativos = negativos.sum()
print(f"Número de observaciones con valores negativos: {conteo_negativos}")

combined_24 = combined_24 [~negativos]


# Le tengo que sacar los valores altos a las sig columnas:
# CH14
# PP3E_TOT
# PP3F_TOT
# PP08D4
# PP08F2
# PP08J3
# CH15_COD

TypeError: '<' not supported between instances of 'str' and 'int'

#### Valores Faltantes
- 2004 no tiene
- 2024 se eliminaron los más brutos y se imputaron por la mediana los menos

##### 2004
- No tiene columnas con valores Nan
- No se hace naty

In [28]:
# Valores faltantes. Reviso si hay valores Nan
print("Información general:")
print(combined_04.info())  # Muestra tipos de datos y conteos (puedes identificar NaN indirectamente)

columnas_con_nan = combined_04.columns[(combined_04.isnull().sum() / len(combined_04)) > 0].tolist()

# Mostrar las columnas
print("Columnas con valores faltantes:", columnas_con_nan)

# No Hay valores Nan, no hay más analisis

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Columns: 135 entries, CODUSU to IDIMPH
dtypes: category(80), float64(24), object(31)
memory usage: 3.8+ MB
None
Columnas con valores faltantes: ['IX_MEN10']

##### 2024
- Tiene columnas con valores Nan
- Se revisa la proporción de Nan que hay por columna
- Elimino las columnas que tienen proporción de Nans > 90
- Imputo por la mediana en las columnas que su proporción de Nans < 90

In [12]:
# Valores faltantes. Reviso si hay valores Nan
print("Información general:")
print(combined_24.info())  # Muestra tipos de datos y conteos (puedes identificar NaN indirectamente)

columnas_con_nan = combined_24.columns[(combined_24.isnull().sum() / len(combined_24)) > 0].tolist()

# Mostrar las columnas
print("Columnas con valores faltantes:", columnas_con_nan)

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7051 entries, 0 to 7050
Columns: 121 entries, CODUSU to VII2_4
dtypes: float64(12), int64(101), object(8)
memory usage: 6.5+ MB
None
Columnas con valores faltantes: ['CH14', 'CH15_COD', 'CH16_COD', 'IMPUTA', 'PP04B3_DIA', 'IV1_ESP', 'IV3_ESP', 'IV7_ESP', 'II7_ESP', 'II8_ESP', 'IDECIFR', 'PDECIFR', 'IDECCFR', 'PDECCFR']

In [13]:
# Obtengo las columnas que contienen datos faltantes, reviso que proporción de los valores faltas

# Porcentaje de valores faltantes por columna
lista_nans_poco = []
lista_nans_50 = []
lista_nans_60 = []
lista_nans_70 = []
lista_nans_80 = []
lista_nans_90 = []
lista_nans_100 = []

for i in columnas_con_nan:
    proporcion_columna = combined_24[i].isnull().sum() / len(combined_24) * 100
    
    if proporcion_columna < 50:
        lista_nans_poco.append(i)

    elif proporcion_columna >= 50 and proporcion_columna < 60:
        lista_nans_50.append(i)

    elif proporcion_columna >= 60 and proporcion_columna < 70:
        lista_nans_60.append(i)

    elif proporcion_columna >= 70 and proporcion_columna < 80:
        lista_nans_70.append(i)

    elif proporcion_columna >= 80 and proporcion_columna < 90:
        lista_nans_80.append(i)

    elif proporcion_columna >= 90 and proporcion_columna < 100:
        lista_nans_90.append(i)

    elif proporcion_columna == 100:
        lista_nans_100.append(i)

In [ ]:
# Elimino las variables que tienen más de 90% de datos Nan. Me fijo antes cuantas columnas son
columnas_elim = lista_nans_90 + lista_nans_100
combined_24 = combined_24.drop(columns = (columnas_elim))

# Imputo por la mediana en las columnas que su proporción de Nans < 90
columnas_ok = lista_nans_poco + lista_nans_50 +lista_nans_60 + lista_nans_70 + lista_nans_80
combined_24 = combined_24[columnas_ok].fillna(combined_24[columnas_ok].median()) #ACA HAY ALGO RARO QUE HACE QUE QUEDEN TRES COLUMNAS EN EL DF!!

In [33]:
columnas_ok

['CH14', 'PP04B3_DIA', 'CH15_COD']

In [31]:
combined_24

      CH14  PP04B3_DIA  CH15_COD
0      3.0         0.0      86.0
1      3.0         0.0      86.0
2      0.0         0.0      86.0
3      2.0         0.0      86.0
4      2.0         0.0      86.0
...    ...         ...       ...
7046   2.0         0.0      86.0
7047   2.0         0.0      86.0
7048   2.0         0.0      86.0
7049   2.0         0.0      86.0
7050   5.0         0.0      86.0

[7051 rows x 3 columns]

##### Outliers

In [ ]:
# Outliers
# COMBINED 04
import pandas as pd

# Supongamos que tienes un DataFrame llamado combined_04
# Primero seleccionamos solo las columnas numéricas para el análisis
numerical_columns = combined_04.select_dtypes(include=['float64', 'int64']).columns

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_04[numerical_columns].quantile(0.25)
Q3 = combined_04[numerical_columns].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers = (combined_04[numerical_columns] < lower_limit) | (combined_04[numerical_columns] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data = combined_04[outliers.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count = outliers.sum()
print(f"Total de outliers por columna: \n{outliers_count}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data}")

# Eliminar filas con outliers
#combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
#print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

##### 2024

In [ ]:
# COMBINED 24
import pandas as pd

# Supongamos que tienes un DataFrame llamado combined_04
# Primero seleccionamos solo las columnas numéricas para el análisis
numerical_columns = combined_24.select_dtypes(include=['float64', 'int64']).columns

# Calculamos los cuartiles y el IQR solo para las columnas numéricas
Q1 = combined_24[numerical_columns].quantile(0.25)
Q3 = combined_24[numerical_columns].quantile(0.75)
IQR = Q3 - Q1

# Definir los límites inferior y superior
lower_limit = Q1 - 1.5 * IQR
upper_limit = Q3 + 1.5 * IQR

# Detectar outliers (donde los valores están fuera de los límites)
outliers = (combined_24[numerical_columns] < lower_limit) | (combined_24[numerical_columns] > upper_limit)

# Mostrar una vista de los outliers por fila
outliers_data = combined_24[outliers.any(axis=1)]

# Opcional: Mostrar el total de outliers por columna
outliers_count = outliers.sum()
print(f"Total de outliers por columna: \n{outliers_count}")

# Mostrar las filas que contienen outliers
print(f"Filas con outliers: \n{outliers_data}")

# Eliminar filas con outliers
#combined_04_no_outliers = combined_04[~outliers.any(axis=1)]
#print(f"Datos después de eliminar outliers: \n{combined_04_no_outliers.head()}")

##### Variables categoricas

##### 2004

In [ ]:
# Variables categoricas 04
# origin_dummies = pd.get_dummies(auto['origin'], prefix='origin')
# # Concatenamos con el df original
# auto_d = pd.concat([auto, origin_dummies], axis=1)


# # CH05 (fecha de nacimiento)
# # CH06 
# # PP03D
# # PP3E_TOT
# # PP3F_TOT
# # PP04B2
# # PP04B3_MES
# # PP04B3_ANO

In [ ]:
# # Paso 1: Identificar las columnas numéricas continuas
# numerical_columns = combined_04.select_dtypes(include=['float64', 'int64']).columns
# print("Columnas numéricas continuas:")
# print(numerical_columns)

# # Paso 2: Identificar las columnas categóricas
# categorical_columns = combined_04.select_dtypes(include=['object', 'category']).columns
# print("Columnas categóricas:")
# print(categorical_columns)

# # Paso 3: Convertir las columnas categóricas en variables dummies
# combined_04_dummies = pd.get_dummies(combined_04, columns=categorical_columns, drop_first=True)

# # Mostrar el DataFrame resultante
# print("DataFrame con variables dummy:")
# print(combined_04_dummies.head())

Columnas numéricas continuas:
Index(['NRO_HOGAR', 'ANO4', 'PONDERA', 'PP03D', 'PP3E_TOT', 'PP3F_TOT',
       'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP05B2_MES',
       'PP05B2_ANO', 'PP05B2_DIA', 'PP06C', 'PP06D', 'PP08D1', 'PP08D4',
       'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP11B2_MES',
       'PP11B2_ANO', 'PP11B2_DIA', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA',
       'P21', 'TOT_P12', 'P47T', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M',
       'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI',
       'ITF', 'IPCF'],
      dtype='object')
Columnas categóricas:
Index(['CODUSU', 'COMPONENTE', 'H15', 'TRIMESTRE', 'REGION', 'MAS_500',
       'AGLOMERADO', 'CH03', 'CH04', 'CH06',
       ...
       'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR',
       'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP'],
      dtype='object', length=130)
DataFrame con variables dummy:
   NRO_HOGAR    ANO4  PONDERA  PP03D  PP3E_TOT  PP3F_TOT  PP04B2  PP04B3_MES  \
0        1.0  2004.0   1703.0    0.0       0.0       0.0     0.0         0.0
1        1.0  2004.0   1703.0    0.0       0.0       0.0     0.0         0.0
2        1.0  2004.0   1703.0    0.0       0.0       0.0     0.0         0.0
3        1.0  2004.0   1703.0    0.0       0.0       0.0     0.0         0.0
4        1.0  2004.0   1299.0    0.0       0.0       0.0     0.0         0.0

   PP04B3_ANO  PP04B3_DIA  ...  IDIMPP_30100  IDIMPP_31000  IDIMPP_31100  \
0         0.0         0.0  ...         False         False         False
1         0.0         0.0  ...         False         False         False
2         0.0         0.0  ...         False         False         False
3         0.0         0.0  ...         False         False         False
4         0.0         0.0  ...         False         False         False

   IDIMPP_32100  IDIMPP_40000  IDIMPP_40020  IDIMPP_40100  IDIMPP_50000  \
0         False         False         False         False         False
1         False         False         False         False         False
2         False         False         False         False         False
3         False         False         False         False         False
4         False         False         False         False         False

   IDIMPP_50010  IDIMPP_50020
0         False         False
1         False         False
2         False         False
3         False         False
4         False         False

[5 rows x 3688 columns]

In [ ]:
# # Convertir una columna numérica discreta en categórica (si tiene pocos valores únicos)
# combined_04['H15_x'] = combined_04['H15_x'].astype('category')

# # Identificar las columnas categóricas después de la conversión
# categorical_columns = combined_04.select_dtypes(include=['object', 'category']).columns
# print("Columnas categóricas después de la conversión:")
# print(categorical_columns)

##### 2024

In [ ]:
lista = combined_04.columns.to_list()

# numericas = ["CH05","CH06","PP03D","PP3E_TOT","PP3F_TOT","PP04B2","PP04B3_MES","PP04B3_ANO","PP04B3_DIA","CODUSU","NRO_HOGAR","IV2","IV1_Esp","IV7_Esp","II2", "II4","IDIMPH", "PP04G_COD", "IX_TOT", "IX_MEN10", "IX_MAYEQ10", "ITF", "DECIFR", "IDECIFR", "RDECIFR", "GDECIFR", "PDECIFR", "ADECIFR", "IPCF", "DECCFR", "IDECCFR", "RDECCFR", "GDECCFR", "PDECCFR", "ADECCFR", "PP06C", "PP08D1", "PP08D4", "PP08F1", "PP08F2", "PP08J1", "PP08J2", "PP08J3", "PP09A_ESP", "PP09C_ESP", "PP11D_COD", "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR", "TOT_P12", "P47T", "DECINDR", "IDECINDR", "RDECINDR", "GDECINDR", "PDECINDR", "ADECINDR","V2_M", "V3_M", "V4_M", "V5_M", "V8_M", "V9_M", "V10_M", "V11_M", "V12_M", "V18_M", "V19_M", "V21_M", "T_VI", "ITF", "DECIFR", "IDECIFR", "RDECIFR", "GDECIFR", "PDECIFR", "ADECIFR", "ADECIFR", "IDIMPP"]
# numericas = list(set(numericas))

# for item in numericas:
#     if item in lista:
#         lista.remove(item)

# CH05 (fecha de nacimiento)
# CH06 
# PP03D
# PP3E_TOT
# PP3F_TOT
# PP04B2
# PP04B3_MES
# PP04B3_ANO

In [15]:
reemplazos = {
    "Sí": 1, 
    "No" : 0, 
    "S" : 1, 
    "N": 0
}

combined_04_bin = combined_04.applymap(lambda x: reemplazos.get(x, x))

C:\Users\magda\AppData\Local\Temp\ipykernel_28284\2313058199.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  combined_04_bin = combined_04.applymap(lambda x: reemplazos.get(x, x))

In [16]:
combined_04_bin

,CODUSU,NRO_HOGAR,COMPONENTE,H15,CH03,CH04,CH06,CH07,CH08,CH09,...,GDECCFR,PDECCFR,ADECCFR,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4,IDIMPH
0,125047,1.0,1.0,1.0,Jefe,Varón,80.0,Casado,Obra social (incluye PAMI),1,...,10,,10,2.0,0.0,98.0,0.0,0.0,0.0,00000
1,125047,1.0,2.0,1.0,Cónyuge/Pareja,Mujer,75.0,Casado,Obra social (incluye PAMI),1,...,10,,10,2.0,0.0,98.0,0.0,0.0,0.0,00000
2,125098,1.0,1.0,1.0,Jefe,Varón,79.0,Viudo,Obra social (incluye PAMI),1,...,06,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000
3,125169,1.0,1.0,1.0,Jefe,Varón,72.0,Unido,No paga ni le descuentan,1,...,01,,01,2.0,0.0,3.0,0.0,0.0,0.0,00000
4,125169,1.0,2.0,1.0,Cónyuge/Pareja,Mujer,66.0,Unido,No paga ni le descuentan,1,...,01,,01,2.0,0.0,3.0,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7642,288171,1.0,3.0,0.0,Hijo/Hijastro,Mujer,1.0,Soltero,Mutual/Prepaga/Servicio de emergencia,Menor de 2 años,...,08,,09,Servicio doméstico,0.0,2.0,0.0,0.0,0.0,00000
7643,288405,1.0,1.0,1.0,Jefe,Varón,51.0,Casado,Obra social (incluye PAMI),1,...,02,,02,2.0,0.0,98.0,0.0,0.0,0.0,00000
7644,288405,1.0,2.0,1.0,Cónyuge/Pareja,Mujer,55.0,Casado,Obra social (incluye PAMI),1,...,02,,02,2.0,0.0,98.0,0.0,0.0,0.0,00000
7645,288405,1.0,3.0,1.0,Hijo/Hijastro,Mujer,12.0,Soltero,Obra social (incluye PAMI),1,...,02,,02,2.0,0.0,98.0,0.0,0.0,0.0,00000
7646,288405,1.0,4.0,1.0,Hijo/Hijastro,Varón,22.0,Soltero,Obra social (incluye PAMI),1,...,02,,02,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [17]:
combined_24

      CH14  PP04B3_DIA  CH15_COD
0      3.0         0.0      86.0
1      3.0         0.0      86.0
2      0.0         0.0      86.0
3      2.0         0.0      86.0
4      2.0         0.0      86.0
...    ...         ...       ...
7046   2.0         0.0      86.0
7047   2.0         0.0      86.0
7048   2.0         0.0      86.0
7049   2.0         0.0      86.0
7050   5.0         0.0      86.0

[7051 rows x 3 columns]

In [ ]:
nobinarias = [col for col in combined_04.columns if combined_04[col].nunique()> 2]

In [16]:
combined_04.describe().T

,count,mean,std,min,25%,50%,75%,max
NRO_HOGAR,32911.0,1.023488,0.154822,1.0,1.0,1.0,1.0,3.0
ANO4,32911.0,2004.000000,0.000000,2004.0,2004.0,2004.0,2004.0,2004.0
PONDERA,32911.0,1615.169335,369.210387,903.0,1399.0,1563.0,1762.0,4981.0
PP03D,32911.0,0.062593,0.361261,0.0,0.0,0.0,0.0,4.0
PP3E_TOT,32911.0,16.277719,51.836990,0.0,0.0,0.0,25.0,999.0
PP3F_TOT,32911.0,0.832123,21.478820,0.0,0.0,0.0,0.0,999.0
PP04B2,32911.0,0.035611,0.294086,0.0,0.0,0.0,0.0,9.0
PP04B3_MES,32911.0,0.117134,2.865778,0.0,0.0,0.0,0.0,99.0
PP04B3_ANO,32911.0,0.191790,3.198333,0.0,0.0,0.0,0.0,99.0
PP04B3_DIA,32911.0,0.104950,2.908895,0.0,0.0,0.0,0.0,99.0
PP05B2_MES,32911.0,0.005014,0.162607,0.0,0.0,0.0,0.0,7.0
PP05B2_ANO,32911.0,0.083073,2.520815,0.0,0.0,0.0,0.0,99.0
PP05B2_DIA,32911.0,0.013126,0.480439,0.0,0.0,0.0,0.0,28.0
PP06C,32911.0,33.272918,228.165934,-8.0,0.0,0.0,0.0,8000.0
PP06D,32911.0,16.090365,184.244018,-8.0,0.0,0.0,0.0,10000.0
PP08D1,32911.0,166.241226,513.464944,0.0,0.0,0.0,110.0,54000.0
PP08D4,32911.0,2.967610,25.281758,0.0,0.0,0.0,0.0,546.0
PP08F1,32911.0,5.104828,68.219585,0.0,0.0,0.0,0.0,2700.0
PP08F2,32911.0,1.012792,16.220047,0.0,0.0,0.0,0.0,750.0
PP08J1,32911.0,9.602990,75.946393,0.0,0.0,0.0,0.0,2500.0
PP08J2,32911.0,1.146577,25.107166,0.0,0.0,0.0,0.0,1000.0
PP08J3,32911.0,0.232141,13.619193,0.0,0.0,0.0,0.0,1000.0
PP11B2_MES,32911.0,0.047917,1.755293,0.0,0.0,0.0,0.0,99.0
PP11B2_ANO,32911.0,0.035064,1.731871,0.0,0.0,0.0,0.0,99.0
PP11B2_DIA,32911.0,0.040989,1.767406,0.0,0.0,0.0,0.0,99.0
PP11G_ANO,32911.0,0.090243,2.367882,0.0,0.0,0.0,0.0,99.0
PP11G_MES,32911.0,0.114065,2.317517,0.0,0.0,0.0,0.0,99.0
PP11G_DIA,32911.0,0.198900,2.835959,0.0,0.0,0.0,0.0,99.0
P21,32911.0,221.785695,583.307284,0.0,0.0,0.0,250.0,54000.0
TOT_P12,32911.0,14.034608,96.832130,0.0,0.0,0.0,0.0,3000.0
P47T,32911.0,287.267904,661.681648,0.0,0.0,0.0,400.0,54000.0
V2_M,32911.0,24.438030,162.101763,0.0,0.0,0.0,0.0,9999.0
V3_M,32911.0,0.383458,20.535050,0.0,0.0,0.0,0.0,2000.0
V4_M,32911.0,0.357722,9.417136,0.0,0.0,0.0,0.0,375.0
V5_M,32911.0,2.825347,22.594150,0.0,0.0,0.0,0.0,375.0
V8_M,32911.0,2.644405,56.658593,0.0,0.0,0.0,0.0,3500.0
V9_M,32911.0,0.934338,48.186110,0.0,0.0,0.0,0.0,4000.0
V10_M,32911.0,0.343259,19.329363,0.0,0.0,0.0,0.0,1700.0
V11_M,32911.0,0.290177,11.900043,0.0,0.0,0.0,0.0,1000.0
V12_M,32911.0,4.658929,65.781056,0.0,0.0,0.0,0.0,4500.0
V18_M,32911.0,0.078241,3.491421,0.0,0.0,0.0,0.0,200.0
V19_AM,32911.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
V21_M,32911.0,1.732673,28.184236,0.0,0.0,0.0,0.0,2000.0
T_VI,32911.0,38.794263,204.743679,0.0,0.0,0.0,0.0,9999.0
ITF,32911.0,1254.876364,1264.081858,0.0,530.0,940.0,1530.0,54000.0
IPCF,32911.0,287.267904,454.832970,0.0,100.0,175.0,340.0,54000.0

In [15]:
combined_04.nunique()> 2

CODUSU         True
NRO_HOGAR      True
COMPONENTE     True
H15            True
ANO4          False
              ...
ADECCFR        True
PJ1_1         False
PJ2_1         False
PJ3_1         False
IDIMPP         True
Length: 176, dtype: bool

In [ ]:
(combined_04["PP08F1"])

2700.0

In [ ]:
categoricas = [elemento for elemento in nobinarias if elemento not in numericas]

In [ ]:
# categoricas04 = ["IV1", "IV3", "IV4", "IV5", "IV6", "IV7", "I"]

In [ ]:
len(categoricas)

101

In [ ]:
len(numericas)

75

In [ ]:
cantbinarias = len(lista) - len(nobinarias)
cantbinarias

21

In [ ]:
categoricas
for col in categoricas:
    dummies = pd.get_dummies(combined_04_bin[col], prefix=col)
    combined_04_cat = pd.concat([combined_04_bin, dummies], axis = 1)

combined_04_cat

,CODUSU,NRO_HOGAR,COMPONENTE,H15,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,...,GDECCFR,PDECCFR,ADECCFR,PJ1_1,PJ2_1,PJ3_1,IDIMPP,PP11T_0.0,PP11T_1,PP11T_Ns./Nr.
0,125047,1.0,1.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1703.0,...,10,,10,0.0,0.0,0.0,00000,True,False,False
1,125047,1.0,2.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1703.0,...,10,,10,0.0,0.0,0.0,00000,True,False,False
2,125047,1.0,1.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1703.0,...,10,,10,0.0,0.0,0.0,00000,True,False,False
3,125047,1.0,2.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1703.0,...,10,,10,0.0,0.0,0.0,00000,True,False,False
4,125098,1.0,1.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Ciudad de Buenos Aires,1299.0,...,06,,04,0.0,0.0,0.0,00000,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32906,288405,1.0,4.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1673.0,...,02,,02,0.0,0.0,0.0,00000,True,False,False
32907,288405,1.0,1.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1673.0,...,02,,02,0.0,0.0,0.0,00000,True,False,False
32908,288405,1.0,2.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1673.0,...,02,,02,0.0,0.0,0.0,00000,True,False,False
32909,288405,1.0,3.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1673.0,...,02,,02,0.0,0.0,0.0,00000,True,False,False
32910,288405,1.0,4.0,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,Partidos del GBA,1673.0,...,02,,02,0.0,0.0,0.0,00000,True,False,False

In [ ]:
combined_04_cat.head()

,CODUSU,NRO_HOGAR,ANO4,TRIMESTRE,REGION,MAS_500,CH06,PP03D,PP3E_TOT,PP3F_TOT,...,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,IDIMPP,PJ3_1_0.0,PJ3_1_Tiene plan jefas y jefes,PJ3_1_Ns./Nr.
0,125047,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,80.0,0.0,0.0,0.0,...,10,,10,10,,10,00000,True,False,False
1,125047,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,75.0,0.0,0.0,0.0,...,10,,10,10,,10,00000,True,False,False
2,125047,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,80.0,0.0,0.0,0.0,...,10,,10,10,,10,00000,True,False,False
3,125047,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,75.0,0.0,0.0,0.0,...,10,,10,10,,10,00000,True,False,False
4,125098,1.0,2004.0,1er. Trimestre,Gran Buenos Aires,1,79.0,0.0,0.0,0.0,...,07,,06,06,,04,00000,True,False,False

In [ ]:
#DEFINIR VARIABLES EXTRA

#Desocupado dummy

#NSE - con ingreso. agrupar variables

#subsidios V5, V12, V19_A (MENORES DE 10 AÑOS)

## Clasificacion y regularizacion

In [ ]:
#FILTRAR PERSONAS Q NO RESPONDIERON ESTADO=0
#ESTADO: 0 = Entrevista individual no realizada (no respuesta al cuestionario individual)
    # 1 = Ocupado
    # 2 = Desocupado
    # 3 = Inactivo
    # 4 = Menor de 10 años

In [ ]:
#ACA HAY QUE DEFINIR LA BASE DE RESPONDIERON Y NO RESPONDIERON PARA CADA AÑO

In [ ]:
# Se separa X e y a partir de la selección de columnas numericas
#ESTO HAY QUE UPDATEARLO CON LAS BASES FINALES
X_2004 = again_04_selec.drop(columns=['desocupado'])
y_2004 = again_04_selec['desocupado']
X_2024 = again_24_selec.drop(columns=['desocupado'])
y_2024 = again_24_selec['desocupado']

In [ ]:
#Partir la base train test para cada ano. 
#Semilla 101
#agregar columna de unos (1)
x_train_24, x_test_24, y_train_24, y_test_24 = train_test_split(X_2024, y_2024, test_size=0.3, random_state=101)
x_train_04, x_test_04, y_train_04, y_test_04 = train_test_split(X_2004, y_2004, test_size=0.3, random_state=101)

x_train_04 = sm.add_constant(x_train_04) #AGREGO COLUMNA DE UNOS
x_train_24 = sm.add_constant(x_train_24)

In [ ]:
#IMPORTANTE ESTANDARIZAR ANTES DE USAR METODOS DE REGULARIZACION
# Iniciamos el Standard Scaler
sc = StandardScaler()

# Estandarizamos las observaciones de entrenamiento
x_train_04_transformed = pd.DataFrame(sc.fit_transform(x_train_04), index=x_train_04.index, columns=x_train_04.columns)
x_train_24_transformed = pd.DataFrame(sc.fit_transform(x_train_24), index=x_train_24.index, columns=x_train_24.columns)

# Estandarizamos las observaciones de test
x_test_04_transformed = pd.DataFrame(sc.transform(x_test_04), index=x_test_04.index, columns=x_test_04.columns)
x_test_24_transformed = pd.DataFrame(sc.transform(x_test_24), index=x_test_24.index, columns=x_test_24.columns)  

# Estadisticas luego de estandarizar
x_train_04_transformed.describe().T
x_train_24_transformed.describe().T

In [ ]:
#Regresion logistica con penalidad LASSO (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_lasso = log04_lasso.predict_proba(x_train_04)[:,1]
y_pred_log04_lasso = log04_lasso.predict(x_test_04)

#### Regresion logistica para 2024
log24_lasso = LogisticRegression(penalty='l1', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_lasso = log24_lasso.predict_proba(x_train_24)[:,1]
y_pred_log24_lasso = log24_lasso.predict(x_test_24)

NameError: name 'x_train_04' is not defined

In [ ]:
#### Medidas de precision Regresion logistica LASSO para 2004
#Matriz de confusion
conflog04_lasso = confusion_matrix(y_test_04, y_pred_log04_lasso) 
print("Matriz de confusion (Reg Log LASSO 2004)\n", conflog04_lasso)

#AUC
auc_log04_lasso = roc_auc_score(y_test_04, y_pred_log04_lasso)
print('\nAUC Reg Log (2004): %.4f' %auc_log04_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l04 = mean_squared_error(y_test_04, y_pred_log04_lasso)
print("Error cuadrático medio:", ecm_a1_l04) 

#Accuracy
accuracy_log04_lasso = accuracy_score(y_test_04, y_pred_log04_lasso)
print("La accuracy del modelo (Reg Log LASSO 2004) es: %.4f" %accuracy_log04_lasso)

In [ ]:
#### Medidas de precision Regresion logistica LASSO para 2024
#Matriz de confusion
conflog24_lasso = confusion_matrix(y_test_24, y_pred_log24_lasso) 
print("Matriz de confusion (Reg Log LASSO 2024)\n", conflog24_lasso)

#AUC
auc_log24_lasso = roc_auc_score(y_test_24, y_pred_log24_lasso)
print('\nAUC Reg Log LASSO (2024): %.4f' %auc_log24_lasso)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_lasso)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_lasso, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_l24 = mean_squared_error(y_test_24, y_pred_log24_lasso)
print("Error cuadrático medio:", ecm_a1_l24) 

#Accuracy
accuracy_log24_lasso = accuracy_score(y_test_24, y_pred_log24_lasso)
print("La accuracy del modelo (Reg Log LASSO 2024) es: %.4f" %accuracy_log24_lasso)

In [ ]:
#Regresion logistica con penalidad ridge (todos estos pasos se hacen para cada ano)
#### Regresion logistica para 2004
alpha = 1
log04_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_04, y_train_04)
y_test_pred_score_04_ridge = log04_ridge.predict_proba(x_train_04)[:,1]
y_pred_log04_ridge = log04_ridge.predict(x_test_04)

#### Regresion logistica para 2024
log24_ridge = LogisticRegression(penalty='l2', C=(1/alpha), solver='liblinear').fit(x_train_24, y_train_24)
y_test_pred_score_24_ridge = log24_ridge.predict_proba(x_train_24)[:,1]
y_pred_log24_ridge = log24_ridge.predict(x_test_24)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2004
#Matriz de confusion
conflog04_ridge = confusion_matrix(y_test_04, y_pred_log04_ridge) 
print("Matriz de confusion (Reg Log ridge 2004)\n", conflog04_ridge)

#AUC
auc_log04_ridge = roc_auc_score(y_test_04, y_pred_log04_ridge)
print('\nAUC Reg Log ridge (2004): %.4f' %auc_log04_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_04, y_pred_log04_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log04_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r04 = mean_squared_error(y_test_04, y_pred_log04_ridge)
print("Error cuadrático medio:", ecm_a1_r04)  

#Accuracy
accuracy_log04_ridge = accuracy_score(y_test_04, y_pred_log04_ridge)
print("La accuracy del modelo (Reg Log ridge 2004) es: %.4f" %accuracy_log04_ridge)

In [ ]:
#### Medidas de precision Regresion logistica ridge para 2024
#Matriz de confusion
conflog24_ridge = confusion_matrix(y_test_24, y_pred_log24_ridge) 
print("Matriz de confusion (Reg Log ridge 2024)\n", conflog04_ridge)

#AUC
auc_log24_ridge = roc_auc_score(y_test_24, y_pred_log24_ridge)
print('\nAUC Reg Log ridge (2024): %.4f' %auc_log24_ridge)

#Curva ROC
fpr, tpr, thresholds = roc_curve(y_test_24, y_pred_log24_ridge)
display = RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=auc_log24_ridge, estimator_name='Reg Log')
display.plot()  
plt.plot([0, 1], [0, 1], color='red', linestyle='--')
plt.show() 

#MSE
ecm_a1_r24 = mean_squared_error(y_test_24, y_pred_log24_ridge)
print("Error cuadrático medio:", ecm_a1_r24) 

#Accuracy
accuracy_log24_ridge = accuracy_score(y_test_24, y_pred_log24_ridge)
print("La accuracy del modelo (Reg Log ridge 2024) es: %.4f" %accuracy_log24_ridge)

In [ ]:
# Cross validation para elegir el alpha para los metodos de regularizacion
from sklearn.linear_model import LogisticRegressionCV

#LASSO 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#LASSO 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_lasso_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_lasso_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_lasso_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_lasso_cv_24.C_[0]))

In [ ]:
#Ridge 2004
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_04 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_04.fit(x_train_04, y_train_04)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_04.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_04.C_[0]))

# # Hacer predicciones (opcional)
# y_pred_ = log_lasso_cv_04.predict(x_test_04)

#Ridge 2024
# Crear el modelo de regresión logística con validación cruzada y penalización L1
log_ridge_cv_24 = LogisticRegressionCV(Cs=10, cv=10, penalty='l2', solver='saga', scoring='accuracy', refit=True)

# Entrenar el modelo
log_ridge_cv_24.fit(x_train_24, y_train_24)

# Imprimir el mejor valor de C (inverso de alpha)
print("Mejor valor de C:", log_ridge_cv_24.C_[0])

print("El mejor valor de alpha:", (1/log_ridge_cv_24.C_[0]))

In [ ]:
#boxplot usando seaborn: distribucion del error de prediccion para cada alpha

#lineplot para lasso: promedio de la proporcion de variables ignoradas por el modelo

In [ ]:
#MODELOS LASSO OPTIMOS

#2004

#2024

In [ ]:
#MODELOS RIDGE OPTIMOS

#2004

#2024

In [ ]:
#comparar resultados lasso y ridge 2004 vs 2024